/*javanb.com CSS File, Copyright(C)javanb.com 看看也就算了,抄就免了吧...*/
body{background-color:#fff;text-align:center}
body,td{color:#333;line-height:20px;margin:0px;font-size:12px;font-family:宋体,arial,sans-serif}
p{margin:0px;padding:5px}
HTML #bd{width:755}
#bd{width:755;padding:0px;margin:0px auto;background-color:#fff}
blockquote{text-align:left;color:#333377;border:#333366 1px dashed;background-color:#f1f0f0;padding:5px}
PRE{BORDER:#999 1px solid;PADDING:5px;font-family:Courier New, Courier, mono;BACKGROUND-COLOR:#EEE}
tt{color:#990000}
ol,ul{margin-top:0px;margin-bottom:0px}
form{margin:0px;padding:1px}

/*The top part*/
#tp  {height:75;width:100%;text-align:left;margin:0px}
#tp_l{height:75;width:250;text-align:center;float:left;}
#tp_r{height:75;text-align:right;}
#tp_lt{color:#000;font-size:14px;padding-top:5px}
#tp_rt{padding-top:5px}
#topad{border-bottom:#765 1px solid;TEXT-ALIGN:center}

/*Nav Bar*/
#Nav {CLEAR: both; MARGIN-TOP: 8px;}
#Nav .tab {FLOAT: left; WIDTH: 88px; MARGIN-RIGHT: 7px}
#Nav .ltab {FLOAT: left; WIDTH: 88px; MARGIN-RIGHT: 6px}
#Nav .rtab {FLOAT: right; MARGIN-LEFT: 0px; WIDTH: 88px}
#Nav .tabContent {PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #a86 no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 19px; TEXT-ALIGN: center}
#Nav .selected {BACKGROUND: #765 no-repeat left top; BORDER-BOTTOM: #765 1px solid}
#Nav A{Text-Decoration:None;border-bottom:0px}
#Nav A:Link{Color:#fff}
#Nav A:Visited{Color:#fff}
#Nav A:Hover{Color:#f00}
#Nav A:Active{Color:#fff}
#NavLn {CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #765; MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center}

#NavSub {CLEAR: both; BACKGROUND: #765;Color:#fff;padding:2px;}
#NavSub A{Text-Decoration:None;border-bottom:0px}
#NavSub A:Link{Color:#fff}
#NavSub A:Visited{Color:#fff}
#NavSub A:Hover{Color:#f00}
#NavSub A:Active{Color:#fff}

.small {FONT-SIZE: 5px}

/*LineMenu*/
#lbf{clear:both}
#lmb{Color:#765;position:relative;width=100%;text-align:left;background-color:#fff;border-bottom:#765 1px solid}
.lm{background-color:#fff;padding:2px}
.lm A{Text-Decoration:None;border-bottom:0px}
.lm A:Link{Color:#654}
.lm A:Visited{Color:#654}
.lm A:Hover{Color:#c54}
.lm A:Active{Color:#654}

/*body text*/
#bt{padding:0;margin:auto;width:100%;background-color:#fff;text-align:left}
#bt_l{margin:0;padding:0;width:160px;float:left}
#bt_r{margin-left:160px;width:auto;border-left:#765 1px solid;padding:0}
#bt_l5{margin:0;padding:0;width:49%;float:left;border:#765 1px solid}
#bt_r5{margin-left:50%;width:auto;border:#765 1px solid;padding:0}
#bt_t{padding:10px;width:100%;background-color:#fff;text-align:left}
.abody {margin:10px;text-align:left }

/*Title Bar*/
#tbar{color:#fff;padding:0;margin:auto;width:100%;background-color:#a86;text-align:left}
#tbar A{Text-Decoration:None;border-bottom:1px dashed;Color:#fff}
#tbar_l{margin:0;width:380px;float:left;text-align:left;padding-left:5px}
#tbar_r{margin-left:380px;width:auto;border-left:#dddddd 1px solid;text-align=right;padding-right:5px}

#footer {border-top:#765 1px solid;padding:10px}

/*The BBS Index List*/
#bil{background-color:#765}
#bil_h {background-color:#765;font-weight:bold;text-align:center}
#bil_hl{width:60%;color:#fff}
#bil_hc{width:10%;color:#fff}
#bil_hr{width:30%;color:#fff}
#bil_t {background-color:#fff}

#bil_hf1{width:68%;color:#fff}
#bil_hf2{width:5%;color:#fff}
#bil_hf3{width:12%;color:#fff}
#bil_hf4{width:15%;color:#fff}

/*the bbs posts*/
#pt{BORDER:#765 1px solid;text-align:left}
#pt_h{background-color:#e0e0e0;color:#000;BORDER-bottom:#765 1px solid;padding-left:5px}
#pt_t{padding:4px}
#pt_h2{margin:2px;font:bold;FONT-SIZE:12px;color:#000}

/*the text button*/
#btn{border:1px #765 solid;padding:4px;font-weight:bold}

/*h,hr*/
H1,H2,H3,H4,H5{color:#543;margin:2px;font:bold}
H1{margin-top:16px; FONT-SIZE:16px;}
H2,H3,H4,H5{FONT-SIZE:12px;line-height:20px;}
hr{height:0px;border:solid #D1D7DC 0px;border-top-width:1px}

/*img*/
.imgb{background:#fff;border:2px dotted #d5dce3;padding:3px}

/*the doc index*/
.boxbar{ LINE-HEIGHT:20px;background-color:#a86;color:#fff}
.boxbar A{Text-Decoration:None;border-bottom:0px}
.boxbar A:Link{Color:#fff}
.boxbar A:Visited{Color:#fff}
.boxbar A:Hover{Color:#f00}
.boxbar A:Active{Color:#fff}

.boxtxt{ LINE-HEIGHT:20px;border:#a86 1px solid}


A{Text-Decoration:None;border-bottom:1px dashed}
A:Link{Color:#765}
A:Visited{Color:#765}
A:Hover{Color:#aa0000}
A:Active{Color:#aa0000}

.nobd {border-bottom:0px}

/*input object*/
.inputclass{font-size:12px;vertical-align:absmiddle;BACKGROUND-COLOR:#f5f5f5;BORDER:#999999 1px solid}
.buttonclass{font-size:12px;vertical-align:absmiddle;BACKGROUND-COLOR:#dddddd;BORDER-BOTTOM:#666 1px solid;BORDER-LEFT:#f0f0f0 1px solid;BORDER-RIGHT:#666 1px solid;BORDER-TOP:#f0f0f0 1px solid;COLOR:#101010} 
