body {
    color: black;
    font-family: serif;
    background: url( napkin.jpg ) #F6F6F6;
}

a {
	color: #00B200;
	text-decoration: none;
}

a:hover {
	color: #00E000;
}

dt {
	font-family: sans-serif;
}

h2 {
	font-family: sans-serif;
}

.snap {
    border: 9pt groove gray;
}

tr, th, td, table {
    vertical-align: top;
}
