.sloading{height:120px;width:300px;background:url(http://images.clickeye.com.cn/images/common/loading.gif) no-repeat center center;top:0px;}

.cesbg{width:312px;height:183px;background:url(http://images.clickeye.com.cn/images/common/bg.gif) no-repeat;margin:20px 0 0 0;}
.slab{filter:alpha(opacity=100);z-index:1000;cursor:pointer;position:absolute;top:24px;left:0;height:21px;}
.slablo{float:left;width:6px;height:21px;background:url(http://images.clickeye.com.cn/images/common/labgl.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://images.clickeye.com.cn/images/common/labgl.png");_background:none;}
.slabco {font-weight:bold;font-size:14px;float:left;height:17px;padding:3px 0 0 2px;background:url(http://images.clickeye.com.cn/images/common/labgc.gif) repeat-x;color:#f96411;font-weight:bold;}
.slabro {float:left;width:12px;height:21px;background:url(http://images.clickeye.com.cn/images/common/labgr.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://images.clickeye.com.cn/images/common/labgr.png");_background:none;}
.slabl {float:left;width:6px;height:21px;}
.slabc{font-size:14px;cursor:pointer;float:left;height:17px;padding:3px 0 0 0;color:#999999;}
.slabr{float:left;width:12px;height:21px;}
.smain{display:none;clear:both;z-index:999;position:absolute;top:40px;left:0;width:303px;height:154px;padding:5px 0 0 5px;font-size:12px;color:#999;}
.smore {float:right;width:150px;font-size:12px;text-align:right;margin:2px 5px 0 0;}
.smore a {color:#F90;}
.smore a:hover {color:#666;}


#simg a{position:absolute;top:25px;width:15px;height:15px;display:block;cursor:pointer;}

.smainlist {text-align:left;clear:both;width:295px;height:92px;margin:0 0 0 2px;overflow:scroll;overflow-x:hidden;line-height:150%;}
.sbgimg{left:3px;cursor:pointer;clear:both;position:absolute;top:114px;width:300px;height:38px;background:url(http://images.clickeye.com.cn/images/common/016.jpg) no-repeat;}


#smain02 .img {clear:both;float:left;margin:3px 7px 0 2px;width:64px;height:64px;border:1px solid #FCBC27;}
#smain02 .txt {width:218px;height:64px;float:left;font-size:12px;text-align:left;line-height:140%;}
#smain02 .txt a {color:#000;text-decoration: none;}
#smain02 .txt a:hover {color:#000;text-decoration: underline;}
#smain02 .tit {text-align:center;font-size:12px;line-height:150%;}
#smain02 .tit a {color:#F96411;text-decoration: underline;font-weight:bold;font-size:12px;}
#smain02 .tit a:hover {color:#F96411;text-decoration: none;}

#smain05 .txt{background:#FCF9F1;font-size:12px;}
#smain05 .txt span{cursor:pointer;text-align:left;}
#smain05 .txt a {color:#666;text-decoration: none;}
#smain05 .txt a:hover {color:#999;text-decoration: underline;}
#smain05 .tit a {color:#001D4C;font-weight:bold;text-decoration: underline;}
#smain05 .tit a:hover {color:#FF6400;text-decoration: none;}
#smain05 .fot a {color:#001D4C;font-weight: normal;text-decoration: underline;}
#smain05 .fot a:hover {color:#FF6400;text-decoration: none;}
#smain05 .price{margin:0 3px 0 10px;padding:0 0 0 15px;background:url(http://images.clickeye.com.cn/images/common/sico1.gif) no-repeat; font-weight:bold; font-family:Arial, Helvetica, sans-serif;color:#F60;}
#smain05 .bus{margin:0 3px 0 0;padding:0 0 0 15px;background:url(http://images.clickeye.com.cn/images/common/sico3.gif) no-repeat;color:#001D4C;}
#smain05 .count{margin:0 3px 0 0;padding:0 0 0 18px;background:url(http://images.clickeye.com.cn/images/common/sico2.gif) no-repeat;font-weight:bold;color:#001D4C;}

#smain05 .back{color:#000;float:left;font-size:12px;}
#smain05 .qmtex{color:#f60;font-weight:bold;}
#smain05 .qmimg {float:left;margin:3px 7px 0 2px;width:64px;height:64px;border:1px solid #FCBC27;}
#smain05 .qmtxt {float:left;margin:3px 7px 0 2px;width:190px;height:64px;}
#smain05 .blankW3{ margin-bottom:3px;height:3px;overflow:hidden;clear:both;	border-bottom-width: 1px;border-bottom-style: solid;	border-bottom-color: #999;}
#smain05 .qmred,a.qmred:link,a.qmred:visited{color:#f60;text-decoration:underline;font-weight: bold;font-size:12px;}
#smain05 .heikin,a.heikin:link,a.heikin:visited {color: #000;text-decoration: none;}
#smain05 .ired,a.ired:link,a.ired:visited {color: #f60;text-decoration: none;}
#smain05  .txt1{width: 270px;margin:0;font-size:12px;}
#smain05  .txt1 a {color:#999;text-decoration: none;}
#smain05  .txt1 a:hover {color:#999;text-decoration: none;}
#smain05  .txt1 .tit a{background:url(http://images.clickeye.com.cn/images/common/dot.gif) no-repeat left;padding: 0 0 0 7px;color:#236FCA;font-weight: normal;text-decoration: underline;width:187px;display:block;float:left;}
#smain05  .txt1 .tit a:hover {color:#FF6400;text-decoration: none;}

#smain05 .dtit{text-decoration:underline;display:block;width:276px;margin:6px 0 0 0;padding: 0 0 0 20px;background:url(http://images.clickeye.com.cn/images/common/te_01.gif) no-repeat left;font-size:12px;font-weight:bold;color:#236FCA;}
#smain05 .dtit:hover{color:#FF6400;text-decoration: none;}
#smain05 .msg{font-size:12px;color:#666666;text-decoration: none;}
#smain05 .msg:hover {color:#000000;text-decoration: underline;}
#smain05 .more{color:#007700;font-size:12px;text-decoration: none;}
#smain05 .more:hover{color:#FF6400;text-decoration: underline;}


#smain03  .txt{width: 270px;margin:0;font-size:12px;}
#smain03  .txt a {color:#999;text-decoration: none;}
#smain03  .txt a:hover {color:#999;text-decoration: none;}
#smain03  .tit a {color:#236FCA;font-weight: normal;text-decoration: underline;}
#smain03  .tit a:hover {color:#FF6400;text-decoration: none;}

#smain04  .txt{font-size:12px;padding:0 0 0 17px;background:#F9FED6 url(http://images.clickeye.com.cn/images/common/tie.gif) no-repeat;}
#smain04  .txt a {color:#000;text-decoration: none;}
#smain04  .txt a:hover {color:#999;text-decoration: underline;}
#smain04  .tit a {color:#00C;font-weight: normal;text-decoration: underline;}
#smain04  .tit a:hover {color:#FF6400;text-decoration: none;}


#s016main01 .img {float:left;margin:5px 7px 5px 5px;width:80px;height:80px;border:1px solid #FCBC27;cursor:pointer;}
#s016main01 .img img{width:80px;height:80px;padding:0;margin:0;}
#s016main01 .txt {width:190px;height:92px;float:left;font-size:12px;text-align:left;line-height:150%;}
#s016main01 .txt a {color:#000;text-decoration: none;}
#s016main01 .txt a:hover {color:#000;text-decoration: underline;}
#s016main01 .tit {text-align:center;}
#s016main01 .tit a {color:#F96411;text-decoration: underline;font-weight:bold;}
#s016main01 .tit a:hover {color:#F96411;text-decoration: none;}
#s016main01 .turnpg {float:left;margin:0 0 0 5px;font-size:12px;color:#f96411;font-weight:bold;}
#s016main01 .turnpg ul{margin:0;padding:0;list-style:none;}
#s016main01 .turnpg li{float:left;width:12px;height:14px;margin:0 5px 0 0;padding:0 0 0 1px;_padding:0 0 0 2px;border:1px solid #f96411;}
#s016main01 .turnpg .on{background:#f96411;color:#FFFfff;font-weight:bold;}
/*dilingling*/
#s016main01 #t_01{width:287px;height:63px;background:url(http://images.clickeye.com.cn/images/common/t_01.gif) no-repeat top;padding-top:30px;}
#s016main01 #t_02{width:287px;height:26px;padding-left:2%;_padding-left:0;}
#s016main01 .botton_t{width:120px;height:16px;border:1px solid  #7F9DB9;font-size:12px;color:#000000;line-height:14px;}
#s016main01 #t_05{width:287px;height:30px;line-height:16px;padding-left:2%;_padding-left:1%;}
#s016main01 #t_05 a{font-size:12px;color:#0D72EB;}
#s016main01 #t_05 a:hover{color:#FF6400;}
#s016main01 .t_03{font-size:14px;color:#FC7E02;font-weight: bold;}
#s016main01 .t_04{font-size:12px;color:#8E908E;}
#s016main01 .t_04:hover{color:#FF6400;}


#s014main01 .img {width:192px;height:144px;border:1px solid #FCBC27;padding:0;margin:0;}
#s014main01 .turnpg {position:absolute;top:5px;left:198px;font-size:12px;color:#f96411;font-weight:bold;width:14px;}
#s014main01 .turnpg ul{margin:0;padding:0;list-style:none;}
#s014main01 .turnpg li{width:12px;height:14px;margin:0 0 4px 2px;padding:0 0 0 1px;_padding:0 0 0 2px;border:1px solid #f96411;}
#s014main01 .turnpg .on{background:#f96411;color:#FFFfff;font-weight:bold;}
.s014rimg{position:absolute;top:5px;left:217px;width:88px;height:144px;margin:0;background:url(http://images.clickeye.com.cn/images/014/rimg.jpg) no-repeat;cursor:pointer;}
/*dilingling*/
#s014main01 #ditop{width:187px;height:136px;margin:10px 2px 2px 2px;background:url(http://images.clickeye.com.cn/images/common/img_01.gif) no-repeat top ;float:left;padding-top:30px;_padding-top:40px;} 
#s014main01 #ditop a:hover{text-decoration:none;}
#s014main01 #tyy_02{width:187px;height:24px;margin-top:9px;margin-bottom:9px;text-align:center;}
#s014main01 .imged{width:187px;height:17px;text-align:center;margin-top:3px;}
#s014main01 .imged img{margin:0 5px 0 0;}
#s014main01 .imged a{font-size:12px;color:#0D72EB;margin: 0 10px 0 0;}
#s014main01 .imged a:hover{font-size:12px;color:#FF6400;}
#s014main01 .botton_t {width:80px;height:16px;font-size:12px;color:#000000;border:1px solid  #7F9DB9;line-height:14px;}
#s014main01 .t_03 {font-size:13px;color:#FC7E02;font-weight: bold;}
#s014main01 .to{width:187px;height:17px;padding-top:4px;text-align:center;margin-top:5px;display:block;font-size:12px;color:#009107;}
#s014main01 .to:hover{color:#FF6400;}


