body {
	font-family: verdana,"lucida grande", helvetica, verdana, arial, sans-serif;
	font-size: small;
	background: #fff url("/images/bk.gif") repeat-x;
}
td {
	font-family: verdana,"lucida grande", helvetica, verdana, arial, sans-serif;
	font-size: small;
}
 
#main {
	width: 750px;
}
a {
	color: #3F3F9D;
}
a:visited {
	color: #A3CC52;
}
a:hover {
	color: #3E9D3E;
	border-bottom: 1px dotted #3F3F9D;
	text-decoration: none;
}

.entryDate {
	font-size: x-small;
	color: gray;
	text-align: right;
	font-style : oblique;
	float: right;
	font-weight: bold;
}

h2, .entryTitle {
	margin: 0px;
	font-weight: bold;
	font-size: large;
	border-bottom: 1px solid #d3d3d3;
	padding: 0px;
	color: #3E9D3E;
}
img.listeningto {
	width:30px;
	height:30px;
}
img.reading {
	text-align: center;
	max-height: 60px;
	max-width: 45px;
}

.entryBody {
	margin-left: 20px;
	margin-top: 1px;
	font-size: small;
}
.catImg {
	margin-left:15px;
	margin-bottom:15px;
	padding-left: 2px;
	padding-bottom: 2px;
}
.entryCategoryImg {
	margin-bottom: 0px;
}

.entryLinks {
	margin-left: 20px;
	margin-top: 5px;
	font-size: xx-small;
	color: gray;
}

.commentsTitle, .recentEntriesTitle, .trackbackTitle {
	font-size: small;
	font-weight: bold;
	margin-top: 20px;
	border-bottom: 1px solid silver;
	margin-bottom:10px;
}

.commentBody {
	
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	border-left: 1px solid #f1f1f1;

	padding: 10px 20px 10px 10px;
	font-size: small;
	font-family: verdana,sans-serif;
	min-height:30px;
}

.myComment {
	background-color: #D3EED3;
}	

.commentNumber {
	position:absolute;
	color: #f1f1f1;
	padding: 15px 0px 0px 15px;
	font-size: 28px;
	float:right;
	margin-left: 500px;
	
}

.commentCredit {
	margin-left: 20px;
	color: gray;
	font-size: xx-small;
	margin-top:5px;
}

img.gravitar {
	margin: 15px 0px 0px 5px;
	border: 2px solid silver;
}

.postCommentTitle {
	font-size: small;
	font-weight: bold;
	margin-top: 20px;
	border-bottom: 1px solid silver;
}

.commentForm { margin-left: 20px; margin-top:5px; }

.entryCategoryImg {
	
}

a.entryTitleLink, a.entryTitleLink:visited {
	color: #3E9D3E;
	text-decoration: none;
}
a.entryTitleLink:hover {
	color: #BE5BBE;
	text-decoration: none;
}
.pagetitle {
	color: #3E9D3E;
	
	margin: 0px;
	
	
	padding: 0px;
	
}
h1 a {
	color: white;
}
h1 {
	padding: 4px;
	margin:0px;
	font-weight: normal;
	font-size: large;
	font-family: Georgia,Serif;
	text-align: left;
	
}

#navBox {
	top: 55px;
	width:170px;
	font-size: xx-small;
	padding: 5px;
	position:absolute;
	float: left;
	text-align:left;
	border-right: 10px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

.navlet {
	
	margin-bottom: 9px;
}

.navBoxTitle {
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 2px;
	font-weight: bold;
	font-size: small;
	border-bottom: 1px solid #f5f5f5;
	color: gray;
	margin-bottom: 2px;
	background-color: #fcfcfc;
}

#contentCell {
	border: 1px solid silver;
	background-color: white;
	padding-left: 194px;
	margin: 0px;
	padding-top: 20px;
	padding-right:20px;
	text-align: left;
	min-height: 1500px;
}
.navCell {
	padding-right: 2px;
}

pre { background-color: #fbfbfb; border-left: 2px solid silver; width:90%; padding: 5px; font-size: 9pt; font-family: "Lucida Console", monospace; overflow:auto; }
code { color: gray; padding: 1px; background-color:#fbfbfb; }
blockquote { 
	border-left: 1px solid #d3d3d3; padding:5px; 
	line-height: 1.6em;
}
blockquote:before { 
	content: open-quote;
	font-size: x-large;
	color: silver;
	font-family:arial;
}
blockquote:after {
	content: close-quote;
	font-size: x-large;
	color: silver;
	font-family: arial;
}

.ad {
	border-top: 3px solid #fbfbfb;
	padding: 2px;
	margin: 8px;
	
}
.searchBox {
	position:absolute;
	
	margin-right: 30px;
	right: 0px;
}
li.tb {
	font-size: x-small;
}
.tags {
	font-size: x-small;
}
.tbURL { font-size: x-small; }

a.rss, a.rss:visited {
border:1px solid;border-color:#FC9 #630 #330 #F96;padding:0 3px;font:bold 10px verdana,sans-serif;color:#FFF;background:#F60;text-decoration:none;margin:0;
}

a.rss:hover {
	color:#FFFFCC;
}

.footnotes {
	margin: 5px 0px 10px 20px;
	background-color: #FFFFCC;
	border: 1px solid silver;
	padding: 6px;
	font-weight: bold;
}
.rating {
	font-size: x-small;
}
.multiplead {
	float:right;
	margin:5px;
	border-left:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
	position:relative;
	padding:5px;
	background-color:white;
}

img.cb, img.pf {
	padding: 4px;
}

img.relBook {
	height: 65px;
	width: 45px;
	padding: 3px;
}
.relatedTitle {
	font-size: x-small;
	margin-top: 0px;
	margin-bottok: 5px;
}
.training { padding: 5px; border:1px dotted silver; background-color: #FFFFCC; margin-top:2px;margin-bottom:9px; }
.training a { font-weight:bold; }
