body{text-align:center;font-size:12px;font-family:"ו";word-wrap:break-word;word-break:break-all;margin:0px;}
div,form,img,dl,dt,dd,textarea {margin:0;padding:0;border:0;color:#333; text-align:left;font-size:12px;}
ul,ol,li{list-style:none;padding:0px;margin:0px;}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;text-align:left;}
table,td,tr,th,br{font-size:12px;}
img,a img{border:0px;}
.c_rim2{width:100%;background:#fff url(../images/newi6_02.gif) repeat-x;height:89px;}

a{text-decoration:none;}
a:hover {text-decoration:underline;}
.white,a.white:link,a.white:visited{color:#fff;}
.black,a.black:link,a.black:visited{color:#333;}
.red,a.red:link,a.red:visited{color:#c00;}
.blue,a.blue:link,a.blue:visited{color:#06f;}
.yellow,a.yellow:link,a.yellow:visited{color:#ff0;}
.orange,a.orange:link,a.orange:visited{color:#f60;}
.green,a.green:link,a.green:visited{color:#036;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.blank4{height:4px;font-size:1px;clear:both;overflow:hidden;}
.blank5{height:5px;font-size:1px;clear:both;overflow:hidden;}
.blank7{height:7px;font-size:1px;clear:both;overflow:hidden;}
.blank8{height:8px;font-size:1px;clear:both;overflow:hidden;}
.blankW4{height:4px;background:#fff;clear:both;overflow:hidden;}
.blankW5{height:5px;background:#fff;clear:both;overflow:hidden;}
.top12{padding-top:12px;clear:both;}
.top11{padding-top:7px;padding-bottom:4px;clear:both;font:14px "ו";}
.top8{padding-top:8px;clear:both;}
.top81{padding-bottom:8px;clear:both;}
.top4{padding-top:4px;clear:both;}

.left{float:left;}
.right{float:right;}
.clear{clear:both;font-size:1px;width:1px;overflow:hidden;}

#top01{width:980px;margin:0px auto;height:59px;}
#top01 .img1{float:left;}
#top01 .nw690{width:690px;float:left;color:#363535;line-height:21px;padding-top:12px;}
#top01 .nw690 a{color:#363535;}
#top01 .nw180{width:180px;float:right;}
#top01 .h32{height:32px;}
#top01 .h32 a{color:#1B5481;}
#top01 .h32 .li1{padding:12px 0px 0px 15px;background:url(../images/newi_17.gif) 0px 11px no-repeat;float:left;}
#top01 .h32 a.li2{padding:0px 0px 0px 15px;background:url(../images/newi_21.gif) 0px 0px no-repeat;float:left;margin:12px 0px 0px 7px;}
#top01 .h32 a.li3{padding:0px 0px 0px 15px;background:url(../images/newi_25.gif) 0px 0px no-repeat;float:left;margin:12px 0px 0px 7px;}
#top01 form{padding:0px;margin:0px;width:180px;text-align:right;}
#top01 .but{border:0px;color:#10344C;background:url(../images/newi_24.gif) no-repeat;width:41px;height:20px;padding:3px 0px 0px 8px;letter-spacing:2px;float:left;}
#top01 .inp{border:1px #91AED6 solid;width:130px;height:16px;float:left;}
#top01 .inp2{border:1px #91AED6 solid;width:70px;height:16px;float:left;}
.top02{width:980px;height:29px;margin:0px auto;background:url(../images/newi6_06.gif) no-repeat;}
.dqwz{filter:dropshadow(color=#ffffff, offx=1, offy=1, positive=1);height:12px;color:#1B5481;padding:7px 0px 0px 7px;}
.dqwz a{color:#1B5481;}
.dqwz span{float:right;padding:0px 7px 0px 7px;color:#1757B1;}

.w_rim{width:980px;height:auto;min-height:200px;padding-top:8px;margin:0px auto;}
.l1{width:670px;float:left;}
.r1{width:300px;float:right;}
.w_c1{width:668px;border:1px #91ABD3 solid;padding:22px 0px 0px;background:#F2F8FF;}
.w_t1{width:638px;padding:0px 9px 10px;background:url(../images/new_07.gif) bottom repeat-x;margin:0px auto;}
.w_c2{width:638px;height:auto;min-height:15px;margin:0px auto;}
.l2{width:350px;float:left;color:#333;padding-right:8px;padding-top:4px;}
.l2 .red{color:#c00;font-weight:bold;}
.l2 b{color:#005AFF;font-weight:normal;}
.l2 b a{color:#005AFF;}
.l2 h1{width:420px}
.r2{float:right;color:#333;}
.r2 a{color:#333;}
.l2 a.red{color:#c00;}
h1{font-size:18px;}
.f16{color:#000;font-size:18px;font-weight:bold;}
.f16 a{color:#000;}
.f14{color:#333;font-size:14px;}
.f14 a{color:#333;}
.f14 b{color:#f00;font-weight:bold;}
.f14 b a{color:#f00;}
.r2 div{float:left;padding-top:4px;}
.pl{background:#DDECFE;color:#333;height:18px;width:647px;border-top:1px #CADFF8 solid;border-bottom:1px #CADFF8 solid;padding:7px 8px 0px 13px;font-weight:bold;}
.pl a{color:#003CFF;font-weight:normal;}
.pl b{color:#0A4782;font-weight:normal;}
.pl b.red{color:#EB0101;font-weight:bold;}
.pl span{float:right;}
a.sel{width:195px;height:16px;float:left;background:url(../images/xl.gif) no-repeat;color:#333;padding:4px 0px 0px 5px;display:block;overflow:hidden;}
a.sel:hover{text-decoration:none;}
a.sel1{width:195px;height:16px;float:left;background:url(../images/xl1.gif) no-repeat;color:#333;padding:4px 0px 0px 5px;}
a.sel1:hover{text-decoration:none;}

.l1 p{margin:0px 8px 0px;padding-top:15px;line-height:21px;font-size:14px;color:#333;}
.l1 p a{color:#333;text-decoration:underline;}
.l1 p.c{text-align:center;}
.l1 p img{border:1px #000 solid;}
.l1 p a img{border:1px #0000ff solid;}
.l1 table{margin:0px auto;}
.memo {padding-top:10px;width:638px;margin:0px auto;line-height:21px;font-size:14px;color:#333;}
.memo a:hover {text-decoration:underline;}
.memo a:link{text-decoration:none;}
.memo a:visited{text-decoration:none;}
.memo div{margin:0px auto;line-height:21px;font-size:14px;color:#333;}
.memo div.c{text-align:center;}
.memo div a img{border:1px #0000ff solid;}
.memo div img{border:1px #000 solid;margin:0px auto;}
.memo pre img{border:0px;}
.memo table{clear:both;}

.r{text-align:right;}

.bai{background:#fff;padding:8px 0px 12px;}
.form{margin:8px auto 0px;width:645px;background:url(../images/new_69.gif) 485px 0px repeat-y;height:auto;min-height:102px;}
.form textarea{width:467px;height:93px;float:left;border:1px #1C5180 solid;color:#666;padding:6px 0px 0px 6px;}
.inp1{width:150px;float:right;color:#333;}
.inp1 a{color:#06c;}
.inp2{border:1px #1C5180 solid;width:95px;height:18px;}
.inp1 div{padding:2px 0px;}
.but1{background:url(../images/new_80.gif) no-repeat;border:0px;width:70px;height:20px;}
.l1 li{list-style-type : disc;margin-left:58px;font-size:14px;padding-top:11px;}
.l1 ul{list-style-type : disc;}
.li{margin:8px auto 0px;width:650px;background:url(../images/new_69.gif) 316px 0px repeat-y;height:auto;min-height:102px;}
.li li{width:47%;float:left;background:url(../images/new_91.gif) 8px 12px no-repeat;padding:8px 0px 0px 16px;color:#06c;margin:0px;font-size:12px;height:18px;}
.li li a{color:#06c;}
.tj{width:280px;border:1px #FFDB84 solid;background:url(../images/new1_03.gif) repeat-y;padding:8px 9px 3px;height:auto;min-height:63px;}
.l3{width:23px;color:#333;font-weight:bold;float:left;}
.r3{width:252px;float:right;color:#333;line-height:21px;}
.r3 a{color:#039;}
.p2{border:1px #CADFF1 solid;padding-bottom:4px;}
.p2t{height:17px;background:url(../images/new_37.gif) repeat-x;color:#039;font-weight:bold;padding:9px 8px 0px 9px;border-bottom:1px #CADFF1 solid;}
.p21t{height:17px;background:url(../images/new_37.gif) repeat-x;color:#039;font-weight:bold;padding:9px 8px 0px 9px;border-bottom:1px #CADFF1 solid;}
.p2t a{float:right;color:#333;font-weight:normal;}
.l4{width:148px;}
.w80{width:80px;margin:0px auto;padding-top:8px;}
.w80 img{border:1px #999 solid;}
.p2 ul{padding-top:8px;}
.p2 li{padding:0px 0px 0px 28px;color:#023199;height:19px;}
.p2 li a{color:#023199;}
.p2 .li01{background:url(../images/ladder1.gif) 7px -2px no-repeat;font-weight:bold;}
.p2 .li02{background:url(../images/ladder1.gif) 7px -21px no-repeat;}
.p2 .li03{background:url(../images/ladder1.gif) 7px -40px no-repeat;}
.p2 .li04{background:url(../images/ladder1.gif) 7px -59px no-repeat;}
.p2 .li05{background:url(../images/ladder1.gif) 7px -78px no-repeat;}
.p2 .li06{background:url(../images/ladder1.gif) 7px -97px no-repeat;}
.p2 .li07{background:url(../images/ladder1.gif) 7px -116px no-repeat;}
.p2 .li08{background:url(../images/ladder1.gif) 7px -135px no-repeat;}
.p2 .li09{background:url(../images/ladder1.gif) 7px -154px no-repeat;}
.p2 .li10{background:url(../images/ladder1.gif) 7px -173px no-repeat;}
.p2 .li001{background:url(../images/ladder2.gif) 7px -2px no-repeat;}
.p2 .li002{background:url(../images/ladder2.gif) 7px -21px no-repeat;}
.p2 .li003{background:url(../images/ladder2.gif) 7px -40px no-repeat;}
.p2 .li004{background:url(../images/ladder2.gif) 7px -59px no-repeat;}
.p2 .li005{background:url(../images/ladder2.gif) 7px -78px no-repeat;}
.p2 .li006{background:url(../images/ladder2.gif) 7px -97px no-repeat;}
.p2 .li007{background:url(../images/ladder2.gif) 7px -116px no-repeat;}
.p2 .li008{background:url(../images/ladder2.gif) 7px -135px no-repeat;}
.p2 .li009{background:url(../images/ladder2.gif) 7px -154px no-repeat;}
.p2 .li010{background:url(../images/ladder2.gif) 7px -173px no-repeat;}

.cx{ background:#F5F6F7;color:#000; padding:4px 0px 2px 5px;}
.cx1{padding:5px;}
.cx1 a{padding:5px;color:#013198;line-height:22px; }

.w_c3{width:290px;margin:0px auto;padding-top:4px;background:url(../images/new_69.gif) 125px 0px repeat-y;}
.p3_1{width:125px;}
.p3_2{width:160px;}
.p3t{width:135px;height:14px;background:#F4F4F4;color:#039;padding:5px 0px 0px 6px;}
.p3t a{color:#039;}
.w_c4{width:100px;height:104px;padding:6px 0px 0px 7px;}
.l5{width:105px;float:left;color:#333;text-align:center;}
.l5 a{color:#333;}
.l5 b{color:#c00;font-weight:normal;}
.l5 img{border:1px #999 solid;display:block;margin-bottom:7px;}
.r5{width:40px;float:right;}
.r5 ul{padding:0px;}
.r5 li{background:url(../images/new_41.gif) 0px 1px no-repeat;color:#014EE9;padding-left:8px;height:19px;}
.r5 li a{color:#014EE9;}
.w_c5{width:290px;margin:0px auto;background:#F3F9FF url(../images/new_45.gif) repeat-x;clear:both;padding-bottom:3px;}
.w_c5 ul{padding-top:4px;}
.w_c5 li{width:45%!important;width:46%;float:left;background:url(../images/new_91.gif) 4px 8px no-repeat;padding:4px 0px 0px 12px;color:#06c;height:12px;}
.w_c5 li a{color:#06c;}
.p5{width:280px;height:1px;background:url(../images/new_49.gif) no-repeat;font-size:0px;margin:0px auto;}
.p5c{background:url(../images/new_51.gif) repeat-y;padding:3px 0px;padding-bottom:1px;width:280px;margin:0px auto;}
.l6{width:17px;border:1px #FFCC6F solid;padding:3px 0px;text-align:center;float:left;color:#000;font-weight:bold;line-height:18px;background:#fff;}
.r6{width:249px;float:right;color:#000;line-height:21px;}
.r6 a{color:#000;}
.r6 b{color:#fe0000;font-weight:normal;}
.r6 b a{color:#fe0000;}
.l1i{width:276px;margin:0px auto;}
.l1i li{background:url(../images/new_91.gif) 0px 8px no-repeat;padding:4px 0px 0px 8px;color:#333;text-align:right;height:18px;}
.l1i li a{color:#06c;float:left;}
.pp{POSITION:absolute;visibility:hidden;}
.p{width:329px;border:1px #7E9CB8 solid;padding:3px 0px;POSITION:absolute;top:19px!important;top:19px;right:-265px!important;right:0px;background:#fff;}
.p a{width:310px;height:17px;color:#333;display:block;margin:3px auto 0px;padding:6px 0px 0px 14px;}
.p a span{color:#00349A;}
.p a:hover{text-decoration:none;background:url(../images/new2_03.gif) no-repeat;}
.p a.hov1{background:url(../images/new2_03.gif) no-repeat;font-weight:bold;}

.p1{width:329px;border:1px #7E9CB8 solid;padding:3px 0px;POSITION:absolute;bottom:-1px!important;bottom:-1px;right:-195px!important;right:0px;background:#fff;}
.p1 a{width:310px;height:17px;color:#333;display:block;margin:3px auto 0px;padding:6px 0px 0px 19px;;}
.p1 a span{color:#00349A;}
.p1 a:hover{text-decoration:none;background:url(../images/new2_03.gif) no-repeat;}
.p1 a.hov1{background:url(../images/new2_03.gif) no-repeat;font-weight:bold;}

.btm{width:980px;height:47px;margin:0px auto;text-align:right;border-top:1px #CBCBCB solid;padding-top:5px;clear:both;}
.btm a.border1{border-left:1px #999 solid;}
.btmlink li a:link{color:#1757B1;}
.btmlink li a:hover{color:#FF5028} 
.btmlink li a:visited{color:#1757B1}  
ul.btmlink{margin:0px;padding-left:10px;padding-top:0px;color:#DEDCE5;float:left;text-align:left;}
ul.btmlink li{padding:5px 0px 2px;list-style-type:none;}
li.copytxt{font-family:arial;color:#666;}


.emailf{width:268px;height:200px;background:url(../../images/email.gif) no-repeat;POSITION: absolute;top:26px;left:670px!important;left:670px;display:none;}
.emailf .t14{width:60px;height:13px;color:#093558;background:url(../../images/index1_19.gif) 0px 6px no-repeat;margin:0px auto;padding:6px 0px 0px 20px;}
.inp11{border:1px #9E9E9E solid;}
.emailf form{padding-top:9px;width:243px;margin:0px auto;color:#3336;}
.emailf form div{padding-top:6px;}
.emailf a{color:#04D;}
.loginf{width:268px;height:151px;background:url(../../images/dlbg.gif) no-repeat;POSITION: absolute;top:26px;left:665px!important;left:665px;display:none;}
.loginf .t15{width:27px;height:18px;background:url(../../images/dlbg1.gif) 0px 5px no-repeat;padding:8px 0px 0px 20px;margin-left:4px;}
.loginb{width:249px;height:24px;background:url(../../images/dlbut.gif) repeat-x;margin:6px auto 0px;}
.lbg{border:1px #DFDFDF solid;border-top:0px;width:247px;margin:0px auto;padding-bottom:4px;}
.lbg form{width:230px;margin:0px auto;color:#3336;}
.lbg form div{padding-top:6px;}
.lbg a{color:#04D;}
.lbg b{color:#999;font-weight:normal;}
a.dl1{width:65px;height:17px;background:url(../images/dlbut1.gif) no-repeat;padding-top:7px;text-align:center;color:#B80202;float:left;}
a.dl1:hover{text-decoration:none;}
a.dl01{width:65px;height:17px;padding-top:7px;text-align:center;color:#939394;float:left;}
a.dl01:hover{background:url(../images/dlbut1.gif) no-repeat;color:#B80202;text-decoration:none;}



.hot{clear:both;width:944px;height:22px;margin:12px auto 0px;background:#DCECFC;color:#020003;padding:8px 18px 0px;}
.hot a{color:#0100FC;text-decoration:underline;}
.hot a:hover{text-decoration:none;}



#tl{margin:0px auto;padding-top:0px;}
#ADV_TOPTL{margin:0px auto;padding-top:5px;width:980px!important;}
#ADV_TL{margin:0px auto;padding-top:5px;width:980px!important;}
#ADVTXT{margin:0px auto;padding-bottom:0px;width:670px!important;}
#ADV_TXT1 a,#ADV_TXT2 a{color:#005AFF;}
#ADV_BTTL,#ADV_BTTL1,#ADV_BTTL2{margin:0px auto;padding-bottom:0px;width:670px!important;}
#ADV_HZH{padding-bottom:0px;width:300px!important;}
#ADV_LZ1,#ADV_LZ2,#ADV_LZ3,#ADV_LZ4,#ADV_LZ5{clear:both;margin:0px auto;padding-top:0px;width:300px!important;}

.divad{padding:0px 0px 0px 0px;margin:0px auto;font-size:0px;border:0px solid red;}
.divad_tl{padding:5px 0px 0px 0px;margin:0px auto;border:0px solid red;}
.divad_clear{clear:both;height:1%;font-size:0px;}
.divad_txt{padding:2px 0px 0px 0px;width:334px;float:left;border:0px solid red;}
.divad_lz{padding:8px 0px 0px 0px;}
.noad{clear:both;font-size:0px;}
.divad_hzh,.divad_bttl{padding-bottom:8px}



.contdh{width:643px;margin:8px auto 0px;border:1px #BECEE6 solid;background:#fff;clear:both;}
.contdh .c2{padding:10px 0px 3px 15px;color:#000;}
.contdh .c2 a{color:#039;}
.contdh .c2 b{color:#f00;font-weight:normal;}
.contdh .c2 b a{color:#f00;}
.contdh .c2 table{margin-top:3px;border:0px;width:620px;}
.contdh .c2 td{width:50%;border:0px;text-align:left;height:18px;}


.w638{width:625px;border:1px #D9D9D9 solid;background:#F9FCFF;margin:8px auto 0px;color:#000;padding:8px 5px 7px 8px;}
.w638 a{color:#009;}
#ask_an{width:136px;height:29px;margin-bottom:8px;background:url(../images/ask_an.jpg) no-repeat;padding:47px 0px 0px 164px;color:#666;}
#ask_an a{color:#04d;}

.xg_1{ border:1px solid #5C7297; background:#C5DCFE; line-height:28px; color:#294062; font-size:12px; margin-bottom:9px; padding:0 15px;}
.xg_1 a{color:#294062;}