/* 全局CSS定义 */
body{text-align:center;font-size:12px;font-family:"宋体";word-wrap:break-word;word-break:break-all;margin:0px;background:#fff url(../images/newi6_02.gif) repeat-x;}
div,form,img,ul,ol,li,dl,dt,dd,textarea {margin:0;padding:0;border:0;color:#333; text-align:left;font-size:12px;}
ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;text-align:left;}
table,td,tr,th,br{font-size:12px;}
img,a img{border:0px;}

/* 链接颜色 */
a{text-decoration:none;}
a:hover {text-decoration:underline;}
/* 颜色属性[定义规则：英文名] */
.white,a.white:link,a.white:visited{color:#fff;}
.black,a.black:link,a.black:visited{color:#333;}
.red,a.red:link,a.red:visited{color:#c00;}
.blue,a.blue:link,a.blue:visited{color:#06f;}
.yellow,a.yellow:link,a.yellow:visited{color:#ff0;}
.orange,a.orange:link,a.orange:visited{color:#f60;}
.green,a.green:link,a.green:visited{color:#036;}
/* 字体大小*/
.f12px{font-size:12px;}
.f14px{font-size:14px;}
/* 距离属性 */
.blank4{height:4px;font-size:1px;clear:both;overflow:hidden;}
.blank5{height:5px;font-size:1px;clear:both;overflow:hidden;}
.blank7{height:7px;font-size:1px;clear:both;overflow:hidden;}
.blank8{height:8px;font-size:1px;clear:both;overflow:hidden;}
.blankW4{height:4px;background:#fff;clear:both;overflow:hidden;}
.blankW5{height:5px;background:#fff;clear:both;overflow:hidden;}
.top12{padding-top:12px;clear:both;}
.top8{padding-top:8px;clear:both;}
.top81{padding-bottom:8px;clear:both;}
.top4{padding-top:4px;clear:both;}

/* 其他属性 */
.left{float:left;}
.right{float:right;}
.clear{clear:both;font-size:1px;width:1px;overflow:hidden;}


/*简洁导航*/
#top01{width:980px;margin:0px auto;height:59px;}
#top01 .img1{float:left;}
#top01 .nw690{width:690px;float:left;color:#363535;line-height:21px;padding-top:12px;}
#top01 .nw690 a{color:#363535;}
#top01 .nw180{width:180px;float:right;}
#top01 .h32{height:32px;}
#top01 .h32 a{color:#1B5481;}
#top01 .h32 .li1{padding:12px 0px 0px 15px;background:url(../images/newi_17.gif) 0px 11px no-repeat;float:left;}
#top01 .h32 a.li2{padding:12px 0px 0px 15px;background:url(../images/newi_21.gif) 0px 11px no-repeat;float:left;margin-left:7px;}
#top01 .h32 a.li3{padding:12px 0px 0px 15px;background:url(../images/newi_25.gif) 0px 11px no-repeat;float:left;margin-left:7px;}
#top01 form{padding:0px;margin:0px;width:180px;text-align:right;}
#top01 .but{border:0px;color:#10344C;background:url(../images/newi_24.gif) no-repeat;width:41px;height:20px;padding:3px 0px 0px 8px;letter-spacing:2px;float:left;}
#top01 .inp{border:1px #91AED6 solid;border-right:0px;width:130px;height:16px;float:left;}
.top02{width:980px;height:29px;margin:0px auto;background:url(../images/newi6_06.gif) no-repeat;}
.dqwz{filter:dropshadow(color=#ffffff, offx=1, offy=1, positive=1);height:12px;color:#1B5481;padding:7px 0px 0px 7px;}
.dqwz a{color:#1B5481;}


/*内容开始*/
.w_rim{width:980px;height:auto;min-height:200px;padding-top:8px;margin:0px auto;}
.l1{width:670px;float:left;}
.r1{width:300px;float:right;}
.w_c1{width:668px;padding:0px 0px 0px;background:#F2F8FF;}
.w_t1{width:638px;padding:0px 9px 10px;background:url(../images/new_07.gif) bottom repeat-x;margin:0px auto;}
.w_c2{width:638px;height:auto;min-height:15px;margin:0px auto;}
.l2{width:427px;float:left;color:#333;padding-right:8px;}
.l2 .red{color:#c00;font-weight:bold;}
.l2 b{color:#005AFF;font-weight:normal;}
.l2 b a{color:#005AFF;}
.r2{width:203px;float:right;color:#333;}
.r2 a{color:#333;}
.l2 a.red{color:#c00;}
.f16{color:#000;font-size:16px;font-weight:bold;}
.f16 a{color:#000;}
.f14{color:#333;font-size:14px;}
.f14 a{color:#333;}
.f14 b{color:#f00;font-weight:bold;}
.f14 b a{color:#f00;}
.r2 div{float:left;padding-top:4px;}
.r2 .bl{color:#005AFF;font-weight:normal;}
.r2 .bl a{color:#005AFF;}
.pl{background:#DDECFE;color:#333;height:18px;width:647px;border-top:1px #CADFF8 solid;border-bottom:1px #CADFF8 solid;padding:7px 8px 0px 13px;font-weight:bold;}
.pl a{color:#003CFF;font-weight:normal;}
.pl b{color:#0A4782;font-weight:normal;}
.pl b.red{color:#EB0101;font-weight:bold;}
.pl span{float:right;}
a.sel{width:125px;height:16px;float:left;background:url(../images/xl.gif) no-repeat;color:#333;padding:4px 0px 0px 5px;}
a.sel:hover{text-decoration:none;}
a.sel1{width:125px;height:16px;float:left;background:url(../images/xl1.gif) no-repeat;color:#333;padding:4px 0px 0px 5px;}
a.sel1:hover{text-decoration:none;}

.l1 p{width:638px;margin:0px auto;padding-top:15px;line-height:21px;font-size:14px;color:#333;text-indent:24px;}
.l1 p a{color:#333;}
.l1 p.c{text-align:center;}
.l1 p img{border:1px #000 solid;display:block;width:450px;margin:0px auto 8px;}
.l1 p a img{border:1px #005BFE solid;}
.r{text-align:right;}
.w_c1 table{width:643px;border:1px #BECEE6 solid;margin:0px auto;}
.w_c1 table th{background:#F6FBFF;border-right:1px #BECEE6 solid;border-bottom:1px #BECEE6 solid;height:23px;color:#0A4782;text-align:center;}
.w_c1 table .bor0{border-right:0px;}
.w_c1 table td{border-right:1px #BECEE6 solid;height:25px;color:#333;text-align:center;}
.w_c1 table a{color:#06c;}
.w_c1 table .ll{text-align:left;padding-left:10px;}
.bai{background:#fff;padding:8px 0px 0px;}
.form{margin:8px auto 0px;width:645px;background:url(../images/new_69.gif) 485px 0px repeat-y;height:auto;min-height:102px;}
.form textarea{width:467px;height:93px;float:left;border:1px #1C5180 solid;color:#666;padding:6px 0px 0px 6px;}
.inp1{width:150px;float:right;color:#333;}
.inp1 a{color:#06c;}
.inp2{border:1px #1C5180 solid;width:95px;height:18px;}
.inp1 div{padding:2px 0px;}
.but1{background:url(http://pinglun.it168.com/space_pinglun/images/new_80.gif) no-repeat;border:0px;width:70px;height:20px;}
.li{margin:8px auto 0px;width:645px;background:url(../images/new_69.gif) 316px 0px repeat-y;height:auto;min-height:102px;}
.li li{width:47%;float:left;background:url(../images/new_91.gif) 8px 12px no-repeat;padding:8px 0px 0px 16px;color:#06c;}
.li li a{color:#06c;}
.tj{width:280px;border:1px #FFDB84 solid;background:url(../images/new1_03.gif) repeat-y;padding:8px 9px 3px;height:auto;min-height:63px;}
.l3{width:23px;color:#333;font-weight:bold;float:left;}
.r3{width:252px;float:right;color:#333;line-height:21px;}
.r3 a{color:#039;}
.p2{border:1px #CADFF1 solid;padding-bottom:4px;}
.p2t{height:17px;background:url(../images/new_37.gif) repeat-x;color:#039;font-weight:bold;padding:9px 8px 0px 9px;border-bottom:1px #CADFF1 solid;}
.p2t a{float:right;color:#333;font-weight:normal;}
.l4{width:148px;}
.w80{width:80px;margin:0px auto;padding-top:8px;}
.w80 img{border:1px #999 solid;}
.p2 ul{padding-top:8px;}
.p2 li{padding:0px 0px 0px 28px;color:#023199;height:19px;}
.p2 li a{color:#023199;}
.p2 .li01{background:url(../images/new_14.gif) 7px 1px no-repeat;font-weight:bold;}
.p2 .li02{background:url(../images/new_17.gif) 7px 1px no-repeat;}
.p2 .li03{background:url(../images/new_19.gif) 7px 1px no-repeat;}
.p2 .li04{background:url(../images/new_21.gif) 7px 1px no-repeat;}
.p2 .li05{background:url(../images/new_23.gif) 7px 1px no-repeat;}
.p2 .li06{background:url(../images/new_25.gif) 7px 1px no-repeat;}
.p2 .li07{background:url(../images/new_27.gif) 7px 1px no-repeat;}
.p2 .li08{background:url(../images/new_29.gif) 7px 1px no-repeat;}
.p2 .li09{background:url(../images/new_31.gif) 7px 1px no-repeat;}
.p2 .li10{background:url(../images/new_33.gif) 7px 1px no-repeat;}
.p2 .li001{background:url(../images/new_61.gif) 7px 1px no-repeat;}
.p2 .li002{background:url(../images/new_64.gif) 7px 1px no-repeat;}
.p2 .li003{background:url(../images/new_66.gif) 7px 1px no-repeat;}
.p2 .li004{background:url(../images/new_72.gif) 7px 1px no-repeat;}
.p2 .li005{background:url(../images/new_74.gif) 7px 1px no-repeat;}
.p2 .li006{background:url(../images/new_76.gif) 7px 1px no-repeat;}
.p2 .li007{background:url(../images/new_78.gif) 7px 1px no-repeat;}
.p2 .li008{background:url(../images/new_83.gif) 7px 1px no-repeat;}
.p2 .li009{background:url(../images/new_86.gif) 7px 1px no-repeat;}
.p2 .li010{background:url(../images/new_88.gif) 7px 1px no-repeat;}

.w_c3{width:290px;margin:0px auto;padding-top:4px;background:url(../images/new_69.gif) 145px 0px repeat-y;}
.p3{width:141px;}
.p3t{width:135px;height:14px;background:#F4F4F4;color:#039;padding:5px 0px 0px 6px;}
.p3t a{color:#039;}
.w_c4{width:134px;height:104px;padding:6px 0px 0px 7px;}
.l5{width:85px;float:left;color:#333;text-align:center;}
.l5 a{color:#333;}
.l5 b{color:#c00;font-weight:normal;}
.l5 img{border:1px #999 solid;display:block;margin-bottom:7px;}
.r5{width:40px;float:right;}
.r5 ul{padding:0px;}
.r5 li{background:url(../images/new_41.gif) 0px 1px no-repeat;color:#014EE9;padding-left:8px;height:19px;}
.r5 li a{color:#014EE9;}
.w_c5{width:290px;margin:0px auto;background:#F3F9FF url(../images/new_45.gif) repeat-x;clear:both;padding-bottom:3px;}
.w_c5 ul{padding-top:4px;}
.w_c5 li{width:45%!important;width:46%;float:left;background:url(../images/new_91.gif) 4px 8px no-repeat;padding:4px 0px 0px 12px;color:#06c;height:12px;}
.w_c5 li a{color:#06c;}
.p5{width:280px;height:1px;background:url(../images/new_49.gif) no-repeat;font-size:0px;margin:0px auto;}
.p5c{background:url(../images/new_51.gif) repeat-y;padding:3px 0px;padding-bottom:1px;width:280px;margin:0px auto;}
.l6{width:17px;border:1px #FFCC6F solid;padding:3px 0px;text-align:center;float:left;color:#000;font-weight:bold;line-height:18px;background:#fff;}
.r6{width:249px;float:right;color:#000;line-height:21px;}
.r6 a{color:#000;}
.r6 b{color:#fe0000;font-weight:normal;}
.r6 b a{color:#fe0000;}
.l1i{width:276px;margin:0px auto;}
.l1i li{background:url(../../space_pinglun/images/new_91.gif) 0px 8px no-repeat;padding:4px 0px 0px 8px;color:#333;text-align:right;height:18px;}
.l1i li a{color:#06c;float:left;}
/*飘*/
.pp{POSITION: absolute;}
.p{width:229px;border:1px #7E9CB8 solid;padding:3px 0px;POSITION: relative;top:266px;left:551px!important;left:415px;background:#fff;}
.p a{width:206px;height:17px;color:#333;display:block;margin:3px auto 0px;padding:6px 0px 0px 19px;;}
.p a span{color:#00349A;}
.p a:hover{text-decoration:none;background:url(../images/new2_03.gif) no-repeat;font-weight:bold;}
.p a.hov1{background:url(../images/new2_03.gif) no-repeat;font-weight:bold;}

.p1{width:229px;border:1px #7E9CB8 solid;padding:3px 0px;POSITION: relative;top:803px!important;top:805px;left:551px!important;left:415px;background:#fff;}
.p1 a{width:206px;height:17px;color:#333;display:block;margin:3px auto 0px;padding:6px 0px 0px 19px;;}
.p1 a span{color:#00349A;}
.p1 a:hover{text-decoration:none;background:url(../images/new2_03.gif) no-repeat;font-weight:bold;}
.p1 a.hov1{background:url(../images/new2_03.gif) no-repeat;font-weight:bold;}

/*foot*/
.btm{width:980px;height:47px;margin:0px auto;text-align:right;border-top:1px #CBCBCB solid;padding-top:5px;clear:both;}
.btm a.border1{border-left:1px #999 solid;}
.btmlink li a:link{color:#1757B1;}
.btmlink li a:hover{color:#FF5028} 
.btmlink li a:visited{color:#1757B1}  
ul.btmlink{margin:0px;padding-left:10px;padding-top:0px;color:#DEDCE5;float:left;text-align:left;}
ul.btmlink li{padding:5px 0px 2px;list-style-type:none;}
li.copytxt{font-family:arial;color:#666;}
