BODY {
 
}
A {
 COLOR: #73b708; FONT-FAMILY: Georgia; TEXT-DECORATION: none
}
A:visited {
 COLOR: #73b708
}
A:hover {
 BACKGROUND: #73b708; COLOR: #fff
}
A:active {
 COLOR: #73b708
}
#header {
 BACKGROUND: url(http://imgsrc.baidu.com/css/pic/item/4e20d82548d79d6b35a80fb5.jpg) no-repeat right top; HEIGHT: 400px
}
#header DIV.lc {
 BACKGROUND: none transparent scroll repeat 0% 0%
}
#header DIV.rc {BACKGROUND: none transparent scroll repeat 0% 0%
}
#header DIV.tit {
 FONT-WEIGHT: bold; FONT-SIZE: 30px; LEFT: 20px; LINE-HEIGHT: 220px; FONT-FAMILY: Georgia; TOP: 30px
}
#header DIV.tit A.titlink {
 COLOR: #73b708; TEXT-DECORATION: none
}
#header DIV.tit A.titlink:visited {
 COLOR: #73b708; TEXT-DECORATION: none
}
#header DIV.tit A.titlink:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708
}
#header DIV.tit A.titlink:active {
 COLOR: #73b708
}
#header DIV.desc {
 FONT-SIZE: 14px; LEFT: 100px; COLOR: #777; TOP: 70px
}
#tabline {
 TOP: 401px; BACKGROUND-COLOR: #ffffff
}
#tab {
 BACKGROUND: none transparent scroll repeat 0% 0%; TOP: 360px
}
#tab A.on {
 FONT-SIZE: 14px; MARGIN: 0px 5px; COLOR: #fff; BACKGROUND-COLOR: #73b708
}
#tab A.on:link {
 FONT-SIZE: 14px; MARGIN: 0px 5px; COLOR: #fff; BACKGROUND-COLOR: #73b708
}
#tab A.on:visited {
 FONT-SIZE: 14px; MARGIN: 0px 5px; COLOR: #fff; BACKGROUND-COLOR: #73b708
}
#tab SPAN {
 FONT-SIZE: 14px; COLOR: #ccc
}
#tab A:link {
 FONT-SIZE: 14px; MARGIN: 0px 5px; COLOR: #73b708; TEXT-DECORATION: none
}
#tab A:visited {
 FONT-SIZE: 14px; MARGIN: 0px 5px; COLOR: #73b708; TEXT-DECORATION: none
}
#tab A:hover {
 FONT-SIZE: 14px; MARGIN: 0px 5px; COLOR: #fff; BACKGROUND-COLOR: #73b708
}
#tab2 {
 BACKGROUND: #dae9f5
}
#tab2 SPAN {
 FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000
}
#tab2 A {
 FONT-SIZE: 12px
}
#tab2 A:link {
 COLOR: #0000cc
}
#tab2 A:visited {
 COLOR: #0000cc
}
.stage {
 BACKGROUND: #fff
}
#layout TD.c2t1, #layout TD.c3t1, #layout TD.c3t3 {
 BORDER-RIGHT: #a6a6a6 1px dashed
}
#comm_info {
 COLOR: #333333; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
#comm_info DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 5px; LINE-HEIGHT: 8px
}
#comm_info A {
 COLOR: #73b708; TEXT-DECORATION: underline
}
#comm_info A:active {
 COLOR: #73b708
}
#comm_info A:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: none
}
#comm_info A:visited {
 COLOR: #73b708
}
#page {
 FONT-SIZE: 14px; FONT-FAMILY: Arial; HEIGHT: 30px; TEXT-ALIGN: center
}
#page SPAN {
 PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 3px
}
#page A.pc {
 FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #73b708; TEXT-DECORATION: underline
}
#page A.pc:visited {
 COLOR: #73b708
}
#page A.pc:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: none
}
#page A.pc:active {
 COLOR: #73b708
}
#page A.pi {
 PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 14px; PADDING-BOTTOM: 3px; COLOR: #73b708; PADDING-TOP: 3px; TEXT-DECORATION: underline
}
#page A.pi:visited {
 COLOR: #73b708
}
#page A.pi:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: none
}
#page A.pi:active {
 COLOR: #73b708
}
.mod {
 BORDER-RIGHT: #ddd 1px dotted; BORDER-TOP: #ddd 1px dotted; MARGIN-BOTTOM: 10px; BORDER-LEFT: #ddd 1px dotted; BORDER-BOTTOM: #ddd 1px dotted
}
.modhandle {
 CURSOR: move
}
.modth {
 HEIGHT: 24px
}
.modhead {
 PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.modopt {
 PADDING-RIGHT: 4px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.modtit {
 FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 100%; COLOR: #73b708; LINE-HEIGHT: 24px; BORDER-BOTTOM: #ddd 1px dotted
}
A.modtit {
 COLOR: #73b708
}
A.modtit:visited {
 COLOR: #73b708
}
.modtitlink {
 FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #73b708
}
A.modtitlink {
 COLOR: #73b708; TEXT-DECORATION: none
}
A.modtitlink:visited {
 COLOR: #73b708; TEXT-DECORATION: none
}
A.modtitlink:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: underline
}
A.modtitlink:active {
 COLOR: #73b708; TEXT-DECORATION: none
}
.modact {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: none
}
A.modact:link {
 COLOR: #73b708; TEXT-DECORATION: none
}
A.modact:visited {
 COLOR: #73b708
}
A.modact:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: underline
}
A.modact:active {
 COLOR: #73b708
}
.modbox {
 PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; BACKGROUND-COLOR: #ffffff
}
.modtl {
 BACKGROUND: none transparent scroll repeat 0% 0%
}
.modtc {
 BACKGROUND: none transparent scroll repeat 0% 0%
}
.modtr {
 BACKGROUND: none transparent scroll repeat 0% 0%
}
.modbl {
 LINE-HEIGHT: 1px; BACKGROUND-COLOR: #ffffff
}
.modbc {
 LINE-HEIGHT: 1px; BACKGROUND-COLOR: #ffffff
}
.modbr {
 LINE-HEIGHT: 1px; BACKGROUND-COLOR: #ffffff
}
#m_blog DIV.tit {
 FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 90%; LINE-HEIGHT: 30px; BORDER-BOTTOM: #ddd 1px dotted
}
#m_blog DIV.tit A {
 FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #73b708; TEXT-DECORATION: none
}
#m_blog DIV.tit A:visited {
 COLOR: #73b708
}
#m_blog DIV.tit A:hover {
 BACKGROUND: #73b708; COLOR: #fff
}
#m_blog A {
 COLOR: #73b708; TEXT-DECORATION: none
}
#m_blog A:visited {
 COLOR: #73b708
}
#m_blog A:hover {
 BACKGROUND: #73b708; COLOR: #fff
}
#m_blog A:active {
 COLOR: #73b708
}
#m_blog DIV.date {
 MARGIN: 10px 0px 8px; COLOR: #666666
}
#m_blog DIV.cnt {
 FONT-SIZE: 14px; MARGIN: 10px; COLOR: #666; LINE-HEIGHT: 150%
}
#m_blog DIV.more {
 MARGIN: 14px 0px 16px
}
#m_blog DIV.more A {
 FONT-SIZE: 14px; COLOR: #73b708; TEXT-DECORATION: none
}
#m_blog DIV.more A:visited {
 COLOR: #73b708
}
#m_blog DIV.more A:hover {
 BACKGROUND: #73b708; COLOR: #fff
}
#m_blog DIV.opt {
 FONT-SIZE: 12px; COLOR: #73b708
}
#m_blog DIV.opt A {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: underline
}
#m_blog DIV.opt A:visited {
 COLOR: #73b708
}
#m_blog DIV.opt A:hover {
 BACKGROUND: #73b708; COLOR: #fff
}
#m_blog DIV.opt A:active {
 COLOR: #73b708
}
#m_blog DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 17px; LINE-HEIGHT: 17px
}
#m_blog DIV.none {
 PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 100px; COLOR: #666; PADDING-TOP: 100px
}
#m_pro A {
 COLOR: #73b708; TEXT-DECORATION: none
}
#m_pro A:visited {
 COLOR: #73b708
}
#m_pro A:hover {
 BACKGROUND: #73b708; COLOR: #fff
}
#m_pro A:active {
 COLOR: #73b708
}
#m_pro DIV.image {
 TEXT-ALIGN: center
}
#m_pro DIV IMG {
 BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
#m_pro DIV.act {
 MARGIN-TOP: 10px
}
#m_pro DIV.user {
 MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333
}
#m_pro DIV.desc {
 FONT-SIZE: 12px; COLOR: #333
}
#m_pro DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 17px; LINE-HEIGHT: 17px
}
#m_pro TD {
 FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: 24px
}
#m_album DIV.image {
 TEXT-ALIGN: center
}
#m_album DIV.page {
 FONT-SIZE: 12px; COLOR: #666666; TEXT-ALIGN: center
}
#m_album DIV.page A {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: underline
}
#m_album DIV.page A:visited {
 COLOR: #73b708
}
#m_album DIV.page A:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: none
}
#m_album DIV.page A:active {
 COLOR: #73b708
}
#m_links DIV.item {
 FONT-SIZE: 12px; COLOR: #333333
}
#m_links DIV.item A {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: none
}
#m_links DIV.item A:visited {
 COLOR: #73b708
}
#m_links DIV.item A:hover {
 BACKGROUND: #73b708; COLOR: #fff
}
#m_links DIV.item A:active {
 COLOR: #73b708
}
#m_links DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 5px; LINE-HEIGHT: 8px
}
#m_mylink1 DIV.item {
 FONT-SIZE: 12px; COLOR: #333333
}
#m_mylink1 DIV.item A {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: none
}
#m_mylink1 DIV.item A:visited {
 COLOR: #73b708
}
#m_mylink1 DIV.item A:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: underline
}
#m_mylink1 DIV.item A:active {
 COLOR: #73b708
}
#m_mylink1 DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 5px; LINE-HEIGHT: 8px
}
#m_mylink2 DIV.item {
 FONT-SIZE: 12px; COLOR: #333333
}
#m_mylink2 DIV.item A {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: none
}
#m_mylink2 DIV.item A:visited {
 COLOR: #73b708
}
#m_mylink2 DIV.item A:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: underline
}
#m_mylink2 DIV.item A:active {
 COLOR: #73b708
}
#m_mylink2 DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 5px; LINE-HEIGHT: 8px
}
#m_mylink3 DIV.item {
 FONT-SIZE: 12px; COLOR: #333333
}
#m_mylink3 DIV.item A {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: none
}
#m_mylink3 DIV.item A:visited {
 COLOR: #73b708
}
#m_mylink3 DIV.item A:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: underline
}
#m_mylink3 DIV.item A:active {
 COLOR: #73b708
}
#m_mylink3 DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 5px; LINE-HEIGHT: 8px
}
#m_mylink4 DIV.item {
 FONT-SIZE: 12px; COLOR: #333333
}
#m_mylink4 DIV.item A {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: none
}
#m_mylink4 DIV.item A:visited {
 COLOR: #73b708
}
#m_mylink4 DIV.item A:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: underline
}
#m_mylink4 DIV.item A:active {
 COLOR: #73b708
}
#m_mylink4 DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 5px; LINE-HEIGHT: 8px
}
#m_artclg DIV.item {
 FONT-SIZE: 12px; COLOR: #666666
}
#m_artclg DIV.item A {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: none
}
#m_artclg DIV.item A:visited {
 COLOR: #73b708
}
#m_artclg DIV.item A:hover {
 BACKGROUND: #73b708; COLOR: #fff
}
#m_artclg DIV.item A:active {
 COLOR: #73b708
}
#m_artclg DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 5px; LINE-HEIGHT: 8px
}
#m_filed DIV.item {
 FONT-SIZE: 12px; COLOR: #666666
}
#m_filed DIV.item A {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: underline
}
#m_filed DIV.item A:visited {
 COLOR: #73b708
}
#m_filed DIV.item A:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: none
}
#m_filed DIV.item A:active {
 COLOR: #73b708
}
#m_filed DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 5px; LINE-HEIGHT: 8px
}
#m_comment DIV.item {
 FONT-SIZE: 12px; COLOR: #666
}
#m_comment DIV.item A {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: underline
}
#m_comment DIV.item A:visited {
 COLOR: #73b708
}
#m_comment DIV.item A:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: none
}
#m_comment DIV.item A:active {
 COLOR: #73b708
}
#m_comment DIV.item A.cnt {
 FONT-SIZE: 12px; COLOR: #888; TEXT-DECORATION: none
}
#m_comment DIV.item A.cnt:visited {
 COLOR: #888; TEXT-DECORATION: none
}
#m_comment DIV.item A.cnt:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #888; TEXT-DECORATION: underline
}
#m_comment DIV.item A.cnt:active {
 COLOR: #888; TEXT-DECORATION: none
}
#m_comment DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 5px; LINE-HEIGHT: 8px
}
#m_albumlist DIV.note {
 FONT-SIZE: 14px; COLOR: #333333
}
#m_albumlist DIV.desc {
 PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 14px; MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 22px; PADDING-TOP: 3px; BACKGROUND-COLOR: #f2f2f2
}
#m_albumlist DIV.none {
 PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 100px; COLOR: #333333; PADDING-TOP: 100px
}
#m_albumlist DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 10px; LINE-HEIGHT: 16px
}
#m_albumlist DIV.tit {
 FONT-SIZE: 14px; MARGIN: 6px 0px 7px; COLOR: #333333
}
#m_albumlist DIV.tit A {
 FONT-SIZE: 14px; COLOR: #73b708; TEXT-DECORATION: none
}
#m_albumlist DIV.tit A:visited {
 COLOR: #73b708
}
#m_albumlist DIV.tit A:hover {
 BACKGROUND: #73b708; COLOR: #fff
}
#m_albumlist DIV.tit A:active {
 COLOR: #73b708
}
#m_albumlist SPAN.count {
 FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666
}
#m_albumlist SPAN.size {
 FONT-SIZE: 12px; COLOR: #999999; FONT-FAMILY: Arial
}
#m_albumlist A.act {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: underline
}
#m_albumlist A.act:visited {
 COLOR: #73b708
}
#m_albumlist A.act:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: none
}
#m_albumlist A.act:active {
 COLOR: #73b708
}
#m_albumlist A.page {
 FONT-SIZE: 14px; COLOR: #73b708; TEXT-DECORATION: underline
}
#m_albumlist A.page:visited {
 COLOR: #73b708
}
#m_albumlist A.page:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: none
}
#m_albumlist A.page:active {
 COLOR: #73b708
}
#m_albumlist TD.image {
 BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; BORDER-LEFT: #eee 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #eee 1px solid
}
#m_friend DIV.filter {
 PADDING-LEFT: 10px; MARGIN-BOTTOM: 10px; LINE-HEIGHT: 27px; PADDING-TOP: 10px; HEIGHT: 27px
}
#m_friend DIV.catalog {
 PADDING-LEFT: 10px; FONT-SIZE: 14px; MARGIN-BOTTOM: 10px; LINE-HEIGHT: 27px; HEIGHT: 27px; BACKGROUND-COLOR: #f2f2f2
}
#m_friend DIV.user {
 MARGIN-TOP: 4px; FONT-SIZE: 12px; COLOR: #333333
}
#m_friend DIV.user A {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: underline
}
#m_friend DIV.user A:visited {
 COLOR: #73b708
}
#m_friend DIV.user A:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: none
}
#m_friend DIV.user A:active {
 COLOR: #73b708
}
#m_friend DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 10px; LINE-HEIGHT: 16px
}
#m_setting A {
 COLOR: #73b708; TEXT-DECORATION: underline
}
#m_setting A:visited {
 COLOR: #73b708
}
#m_setting A:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: none
}
#m_setting A:active {
 COLOR: #73b708
}
#m_setting {
 FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: 22px
}
#m_setting IMG.sel {
 BORDER-RIGHT: #ffdb7b 4px solid; BORDER-TOP: #ffdb7b 4px solid; BORDER-LEFT: #ffdb7b 4px solid; BORDER-BOTTOM: #ffdb7b 4px solid
}
#m_setting IMG.unsel {
 BORDER-RIGHT: #d2d2d2 1px solid; BORDER-TOP: #d2d2d2 1px solid; BORDER-LEFT: #d2d2d2 1px solid; BORDER-BOTTOM: #d2d2d2 1px solid
}
#m_setting SPAN.tit {
 FONT-SIZE: 14px
}
#m_setting SPAN.usr {
 COLOR: #666666
}
#m_setting DIV.sel {
 FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-TOP: 6px
}
#m_setting DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 20px; LINE-HEIGHT: 16px
}
#m_sysinfo A {
 COLOR: #73b708; TEXT-DECORATION: underline
}
#m_sysinfo A:visited {
 COLOR: #73b708
}
#m_sysinfo A:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: none
}
#m_sysinfo A:active {
 COLOR: #73b708
}
#m_sysinfo {
 FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: 22px
}
#m_sysinfo SPAN.new {
 FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: Arial
}
#m_sysinfo SPAN.date {
 FONT-SIZE: 14px; COLOR: #666666
}
#m_setbase {
 FONT-SIZE: 14px; COLOR: #333333
}
#m_setbase TD {
 FONT-SIZE: 14px; COLOR: #333333
}
#m_setbase DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 5px; LINE-HEIGHT: 8px
}
#in_comment {
 WIDTH: 710px
}
#in_comment DIV.tit {
 FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 12px; COLOR: #333333
}
#in_comment DIV.user {
 FONT-SIZE: 12px; MARGIN-BOTTOM: 6px; COLOR: #333333
}
#in_comment DIV.user A {
 FONT-SIZE: 12px; COLOR: #73b708; TEXT-DECORATION: underline
}
#in_comment DIV.user A:visited {
 COLOR: #73b708
}
#in_comment DIV.user A:hover {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #73b708; TEXT-DECORATION: none
}
#in_comment DIV.user A:active {
 COLOR: #73b708
}
#in_comment DIV.user SPAN.date {
 FONT-SIZE: 12px; COLOR: #666666
}
#in_comment DIV.desc {
 FONT-SIZE: 12px; COLOR: #333333
}
#in_comment DIV.line {
 BORDER-TOP: #eee 1px dotted; MARGIN-TOP: 17px; LINE-HEIGHT: 17px
}
#in_send DIV.tit {
 FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 10px 0px; COLOR: #333333
}
#phx {
 FILTER: Alpha(Opacity=100, FinishOpacity=8, Style=3, StartX=0, StartY=0, FinishX=40, FinishY=40) xray; WIDTH: 98%; HEIGHT: 180px
}
