.BodyBG{background-color:#f6ba7b;background-image:none;background-repeat:repeat;background-position:top left;}
.PageBG{background-repeat:no-repeat;background-position:center 1px;background-color:#f6ba7b;background-image:url("img/PageBGImage.jpg");}
.SelectionBG{background-color:#f9cfa2;}
.HoverBG{background-color:#fad6b0;}
.ContainerBorder{border:1px solid #fb8233;}
.ContainerBG{background-color:#ffffff;background-image:none;background-repeat:repeat-x;}
.ContainerBG2{background-color:#ffffff;background-image:url("img/ContainerBGImage2.png");background-repeat:repeat-x;}
.ContainerHeader{background-repeat:repeat-x;background-image:url("img/ContainerHeaderBGImage.gif");}
.ContainerHeader a{color:#000000;}
.ContainerHeader a:visited{color:#000000;}
.ToolbarBorder{border:none;}
.ToolbarBG{background-color:#ffffff;background-image:url("img/ToolbarBGImage.gif");background-repeat:repeat-x;}
.Toolbar{border:none;color:#333333;}
.BreadcrumbBG{background-color:Transparent;}
.BreadcrumbBorder{border:none;}
.Breadcrumb{border:none;background-color:Transparent;color:#FFFFFF;}
.Breadcrumb a{color:#FFFFFF;text-decoration:none;}
.Breadcrumb a:visited{color:#FFFFFF;}
.SPTransparency{opacity:1;}
.PageBG{background-image:url("img/PageBGImage.jpg");background-color:#f6ba7b;background-position:center 1px;background-repeat:no-repeat;}
.SPTransparency{}
#uxp_ftr_control{border-top-width:1px;border-top-style:solid;width:100%;font-size:100%;color:#FFFFFF;background-color:Transparent;}
#uxp_ftr_control td{padding:8px 0px;vertical-align:top;}
#uxp_ftr_control td#uxp_ftr_right{text-align:right;}
#uxp_ftr_control ul{margin:0px;padding:0px;list-style:none;white-space:nowrap;}
#uxp_ftr_control ul li{border-right-width:1px;border-right-style:solid;padding:0px 8px;float:left;white-space:nowrap;}
#uxp_ftr_control ul li.uxp_ftr_item_last{border-right-style:none;}
#uxp_ftr_control ul li a{text-decoration:none;color:#FFFFFF;}
#uxp_ftr_control ul li a:hover{text-decoration:underline;}
#uxp_ftr_right_nest{margin:0px 0px 0px auto;padding:0px;font-size:100%;}
#uxp_ftr_right_nest td{margin:0px;padding:0px;}
*{line-height:170%;}
body{margin:0px;background-color:#f6ba7b;background-image:none;background-repeat:repeat;background-position:top left;font-family:Verdana, Simsun;font-size:80%;color:#333333;direction:ltr;}
label{color:#333333;}
input, select, textarea, button{font-size:100%;}
textarea{font-family:Verdana, Simsun;}
h1, h2, h3, h4, h5{margin:8px 0px 4px;line-height:185%;font-weight:bold;}
h1{font-size:138%;}
h2{font-size:123%;}
h3{font-size:115%;}
h4{margin:4px 0px;font-size:108%;}
h5{margin:4px 0px;font-size:100%;}
a{font-weight:inherit;text-decoration:none;color:#fb8639;}
a:visited{color:#fb8639;}
a:hover{text-decoration:underline;}
ul{margin:0px 0px 20px 1em;padding:0px 0px 0px 1em;list-style-type:disc;}
li{margin:0px 0px 3px;}
font{line-height:normal;}
a img{border:none;}
#uxp_hdr_parent_ie6{background-color:#FFFFFF;}
#uxp_hdr{text-align:left;}
#uxp_hdr td{vertical-align:middle;}
#uxp_hdr input{width:auto;}
#uxp_hdr{height:39px;background:#AC7D3E url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) top;_background:#AC7D3E;}
#uxp_hdr, .uxp_hdrInnerTable{width:100%;}
#uxp_hdr .uxp_hdrInner{padding-left:8px;padding-right:12px;background:url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) bottom;_background:none;}
#uxp_hdr, #uxp_hdr input{font:100% Verdana, Simsun;}
#uxp_hdr *{line-height:normal;}
#uxp_hdr img, #uxp_hdr input{vertical-align:middle;}
#uxp_hdr td{padding:0px;white-space:nowrap;}
#uxp_hdr ul{list-style:none;}
#uxp_hdr li{margin:0px;}
#uxp_hdr, #uxp_hdr a, #uxp_hdr a:visited{color:white;}
#uxp_hdr a{text-decoration:none;}
#uxp_hdr_meLink:hover, #uxp_hdr_signIn:hover, #uxp_hdr_signOut:hover{text-decoration:underline;}
#uxp_hdr_jewelParent{line-height:37px;}
.uxp_hdr_windowsLiveText{padding-left:1px;font-family:Verdana, Arial, sans-serif;font-size:125%;}
.uxp_hdr_tm{font-size:7px;vertical-align:super;}
.uxp_hdr_jewelLink_block_ie{display:inline-block;vertical-align:middle;}
.uxp_hdr_pointer, .uxp_hdr_pointer table, .uxp_hdr_pointer a, .uxp_hdr_pointer span{cursor:pointer;}
#uxp_hdr_jewelParent{width:0.1%;}
#uxp_hdr_middleArea{margin-left:auto;margin-right:auto;}
#uxp_hdr_jewelMenu{margin-left:4px;width:17em;}
#uxp_hdr_tabs{margin-left:auto;*margin-top:2px;}
#uxp_hdr_search{display:inline;}
#uxp_hdr #uxp_hdr_searchParent{padding-left:4px;}
#uxp_hdr_meParent{text-align:right;width:0.1%;}
#uxp_hdr_meMenu{margin-right:-6px;text-align:left;right:0px;}
.uxp_hdr_menuParent{position:absolute;z-index:1001;display:inline;}
.uxp_hdr_cobrandText, #uxp_hdr_signOut{font-size:92%;}
#uxp_hdr_signOut{display:block;position:relative;top:2px;}
.uxp_hdr_hideSearch #uxp_hdr_tabs{margin-right:auto;}
#uxp_hdr.uxp_hdr_hideTabs #uxp_hdr_searchParent{padding-left:0px;text-align:center;}
#uxp_hdr_jewelSpan{background-image:url(HIG/img/h/jewel_24_hover.png);position:absolute;width:39px;height:37px;}
#uxp_hdr_tabs .h_separator{background-color:white;width:1px;}
#uxp_hdr_tabs a{padding:6px 1px 5px;*padding:1px;*display:inline-block;}
#uxp_hdr_tabs a:hover{border-width:1px;border-style:solid;border-color:#917c60 #866c4b #7c613f;padding:4px 0px 5px;*padding:0;_background:white;}
#uxp_hdr_tabs a span{padding:4px 8px 5px;line-height:31px;*display:inline-block;*line-height:normal;}
#uxp_hdr_tabs a:hover span{border:1px solid #ffd8a5;padding:3px 7px 4px;background:#AC7D3E url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) center;_background:#AC7D3E;}
#uxp_hdr_tabs #uxp_hdr_tabs_current, #uxp_hdr_tabs #uxp_hdr_tabs_current:hover{border-width:1px;border-style:solid;border-color:#dac3a4 #d0b28b #c3a47d;margin:0px 4px;padding:4px 0px 5px;*padding:0;_background:white;}
#uxp_hdr_tabs #uxp_hdr_tabs_current span, #uxp_hdr_tabs #uxp_hdr_tabs_current:hover span{border-width:1px 1px 0px;border-style:solid;border-color:#000;padding:3px 7px 5px;_border-bottom-width:1px;background:#C58E47 url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) bottom;_background:#C58E47;}
#uxp_hdr{_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=55, FinishOpacity=100, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=75, Style=1, StartX=0, FinishX=0, StartY=51, FinishY=100);}
#uxp_hdr #uxp_hdr_productSearchButton, #uxp_hdr #uxp_hdr_webSearchButton{_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85, FinishOpacity=100, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=85, Style=1, StartX=0, FinishX=0, StartY=51, FinishY=100);}
#uxp_hdr_tabs a:hover span{_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=45, FinishOpacity=100, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=65);}
#uxp_hdr #uxp_hdr_tabs_current span{_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=75, Style=1, StartX=0, FinishX=0, StartY=45, FinishY=90);}
.uxp_hdr_searchBorder{border-width:1px;border-style:solid;border-color:#dac3a4 #d0b28b #c3a47d;padding-top:3px;padding-bottom:6px;*padding:0;}
.uxp_hdr_innerSearchBorder{border-width:1px;border-style:solid;border-color:#917c60 #866c4b #7c613f;padding-top:2px;padding-bottom:5px;*padding:0;background-color:#FFF;}
#uxp_hdr #uxp_hdr_searchInput{border-right-width:1px;border-style:none solid none none;border-right-color:#8f8f8f;padding-left:2px;padding-top:3px;padding-bottom:4px;_position:relative;width:21em;}
.uxp_hdr_buttonBorder{border-width:1px;border-style:solid;border-color:#cfe3c4 #99c383 #5da253;padding-top:1px;padding-bottom:4px;*padding:0;_background-color:#FFF;}
.uxp_hdr_buttonBorder:hover{border-width:1px;border-style:solid;border-color:#effaea #caedb9 #6fa951;}
#uxp_hdr_webSearchButton, #uxp_hdr_productSearchButton{border:none;margin:0px;padding-top:1px;padding-bottom:2px;*padding:2px 3px 1px;background:#307C0B url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) center;_background:#307C0B;color:#FFFFFF;}
#uxp_hdr_webSearchButton:hover, #uxp_hdr_productSearchButton:hover, #uxp_hdr_search .uxp_hdr_searchButtonHover_ie6{background-color:#478D22;}
.uxp_hdr_menu, .uxp_hdr_submenu{border-width:1px 2px 2px 1px;border-style:solid;border-color:#a5a8a8 #42555c #42555c #a5a8a8;margin:0px;padding:4px;position:absolute;}
.uxp_hdr_menu{cursor:default;background-color:#ffffff;}
.uxp_hdr_submenu{display:none;top:-1px;width:16em;background-color:#ffffff;}
#uxp_hdr .uxp_hdr_menu a, #uxp_hdr .uxp_hdr_menu a:visited{color:#333333;}
#uxp_hdr .uxp_hdr_menuSeparator{margin-top:4px;margin-bottom:4px;line-height:1px;font-size:1px;background-color:#DADFE0;display:block;height:1px;}
.uxp_hdr_menu a{padding:5px 9px;display:block;_display:inline-block;_width:90%;}
.uxp_hdr_menu .uxp_hdr_menu_open, .uxp_hdr_menu a:hover, .uxp_hdr_menu a.uxp_hdr_currentLinkedID{border:1px solid #b9eaff;padding:4px 8px;background:#fad6b0 url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) center;_background:#fad6b0;}
#uxp_hdr .uxp_hdr_menu a.uxp_hdr_currentLinkedID:hover, .uxp_hdr_menu a.uxp_hdr_currentLinkedID{background-color:#f9cfa2;}
.uxp_hdr_downArrowblack{background-position:7px -493px;}
.uxp_hdr_downArrowwhite{background-position:0px -493px;}
.uxp_hdr_ltr_rightArrowDark{background-position:7px -399px;}
.uxp_hdr_ltr_rightArrowLight{background-position:0px -399px;}
.uxp_hdr_rtl_rightArrowDark{background-position:7px -392px;}
.uxp_hdr_rtl_rightArrowLight{background-position:0px -392px;}
.uxp_hdr_downArrowblack_ie6{left:-9px;top:-493px;}
.uxp_hdr_downArrowwhite_ie6{left:0px;top:-493px;}
.uxp_hdr_ltr_rightArrowDark_ie6{left:-9px;top:-399px;}
.uxp_hdr_ltr_rightArrowLight_ie6{left:0px;top:-399px;}
.uxp_hdr_rtl_rightArrowDark_ie6{left:-9px;top:-392px;}
.uxp_hdr_rtl_rightArrowLight_ie6{left:0px;top:-392px;}
.uxp_hdr_downArrow, .uxp_hdr_rightArrow{margin-top:2px;background:url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png);position:absolute;width:7px;height:7px;}
.uxp_hdr_rightArrow{background-position:7px -399px;_background:none;right:1em;}
.uxp_hdr_downArrow{background-position:0px -493px;}
.rtl .uxp_hdr_downArrow{display:block;}
.rtl .uxp_hdr_rightArrow{background-position:7px -392px;}
.uxp_hdr_jewel_ie6{left:0;top:0;}
.uxp_hdr_rightArrow_ie6{left:-9px;top:-399px;}
.rtl .uxp_hdr_rightArrow_ie6{left:-9px;top:-392px;}
.uxp_hdr_downArrow_ie6{left:0px;top:-493px;}
.uxp_hdr_jewelSpanHover #uxp_hdr_jewelSpan, .uxp_hdr_jewelSpanOpen #uxp_hdr_jewelSpan{background-position:0 -37px;}
.uxp_hdr_jewelSpanHover .uxp_hdr_jewel_ie6, .uxp_hdr_jewelSpanOpen .uxp_hdr_jewel_ie6{top:-37px;}
.L_FloatLeft{float:left;}
.L_FloatRight{float:right;}
.L_TextAlignLeft{text-align:left;}
.L_TextAlignRight{text-align:right;}
.TextSizeXSmall{font-size:92%;}
.TextSizeSmall{font-size:92%;}
.TextSizeNormal{font-size:100%;}
.TextSizeLarge{font-size:108%;}
.TextSizeXLarge{font-size:115%;}
.TextSizeXXLarge{font-size:123%;}
.TextSizeXXXLarge{font-size:138%;}
.LineHeightTight{line-height:150%;}
.LineHeightStandard{line-height:170%;}
.LineHeightLoose{line-height:185%;}
.LineHeightXLoose{line-height:190%;}
.TextBold{font-weight:bold;}
.TextItalic{font-style:italic;}
.TextNormal{font-weight:normal;font-style:normal;white-space:normal;text-transform:none;letter-spacing:normal;}
.TextHighlight{color:#573735;font-weight:bold;}
.TextAdLabel{font-size:92%;text-transform:uppercase;color:#573735;}
.TextDefinition{background:url(hig/img/definitionUnderline.gif) bottom repeat-x;}
.AppLink:visited{color:inherit;}
button.Live_Controls_Button, input.Live_Controls_Button{border-width:1px;border-color:#707070;margin-right:0.3em;padding:0px 1em;background-color:#F3F3F3;background-image:url(hig/img/b/btn_std.png);background-position:0px center;height:1.8em;vertical-align:middle;font-size:110%;min-width:7em;overflow:visible;text-align:center;}
.TextItalic{font-style:normal;}
.PrimaryTextColor, a.PrimaryTextColor:visited{color:#333333;}
.SecondaryTextColor, a.SecondaryTextColor:visited{color:#573735;}
.SecondaryTextBorder{border:1px solid #573735;}
.DisabledTextColor, a.DisabledTextColor:visited{color:#7f7f7f;}
.SourceTextColor, a.SourceTextColor:visited{color:#573735;}
.HighlightTextColor, a.HighlightTextColor:visited{color:#573735;}
.InlineError, a.InlineError:visited{color:#EE2037;}
.InlineSuccess, a.InlineSuccess:visited{color:#5A8E4A;}
.LightTextColor, a.LightTextColor:visited{color:#FFFFFF;}
.DarkTextColor, a.DarkTextColor:visited{color:#444444;}
.PageBGColor{background-color:#f6ba7b;}
.ContainerBorderLeft{border-left-width:1px;border-left-style:solid;border-left-color:#fb8233;}
.ContainerBorderRight{border-right-width:1px;border-right-style:solid;border-right-color:#fb8233;}
.ContainerBorderTop{border-top-width:1px;border-top-style:solid;border-top-color:#fb8233;}
.ContainerBorderBottom{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#fb8233;}
.ContainerBGColor{background-color:#ffffff;}
.ContainerBGColor2{background-color:#ffffff;}
.ContainerHeaderBGColor{background-color:#ffffff;}
.ContainerHeaderTextColor, a.ContainerHeaderTextColor:visited{color:#000000;}
.ContainerHeaderLinkColor, a.ContainerHeaderLinkColor:visited{color:#000000;}
.HeaderBGColor{background-color:#AC7D3E;}
.HeaderMeTileBorderColor{border:1px solid #fed17c;}
.SuperAdTextColor, a.SuperAdTextColor:visited{color:#FFFFFF;}
.FooterTextColor, a.FooterTextColor:visited{color:#FFFFFF;}
.ToolbarBGColor{background-color:#ffffff;}
.BreadcrumbTextColor, a.BreadcrumbTextColor:visited{color:#FFFFFF;}
.BreadcrumbLinkColor, a.BreadcrumbLinkColor:visited{color:#FFFFFF;}
a:visited{color:#fb8639;}
.ContainerNoPadding{border:1px solid #fb8233;background-color:#ffffff;background-image:none;background-repeat:repeat-x;}
.ContainerLeftNav{border:1px solid #fb8233;background-color:#ffffff;background-image:url("img/ContainerBGImage2.png");background-repeat:repeat-x;}
.ContainerMovable{border:1px solid #fb8233;background-color:#ffffff;background-image:none;background-repeat:repeat-x;}
.ContainerFullView{border:1px solid #fb8233;background-color:#ffffff;background-image:none;background-repeat:repeat-x;}
.Container{border:1px solid #fb8233;background-color:#ffffff;background-image:none;background-repeat:repeat-x;}
.ContainerHeader{font-weight:bold;font-size:115%;}
.ContainerLeftNav .ContainerHeader{background-image:none;background-color:Transparent;}
.ContainerFullView .ContainerHeader{background-image:none;background-color:Transparent;}
#AdContainer{background-color:#AC7D3E;}
.Breadcrumb{border:none;}
.LeftNav .List .On{padding:10px 8px 10px 16px;background-color:#f9cfa2;}
.LeftNav .List{border:none;margin:0px;padding:0px;list-style:none;_height:1px;}
.LeftNav .List li{margin:0px;padding:0px;}
.LeftNav .List li a{padding:10px 8px 10px 16px;display:block;color:#333333;text-decoration:none;}
.LeftNav .List li a.disabledLink, .LeftNav .List li a.disabledLink:hover{color:#7f7f7f;background-color:Transparent;}
html > body .LeftNav .List li a{width:auto;}
.LeftNav .List li a:visited{color:#333333;}
.LeftNav .List li a:hover{background-color:#fad6b0;text-decoration:none;color:#333333;}
.ErrorBorder{border:1px solid #e9eaf1;}
.ErrorLayout{border:1px solid #e9eaf1;padding:6px 4px 4px;}
.ErrorHigh{border:1px solid #e9eaf1;padding:6px 4px 4px;background-color:#FFAEB9;color:#444444;}
.ErrorMed{border:1px solid #e9eaf1;padding:6px 4px 4px;background-color:#FFFFAE;color:#444444;}
.ErrorLow{border:1px solid #e9eaf1;padding:6px 4px 4px;background-color:#FFFFFF;color:#444444;}
.ErrorHigh a, .ErrorMed a, .ErrorLow a{text-decoration:underline;color:#0066A7;}
.ErrorHigh a:visited, .ErrorMed a:visited, .ErrorLow a:visited{color:#0066A7;}
.spudhelp a{color:#FFFFFF;}
.beSelectedTab, .bePreviewSelectedTab, .beborderleft, .beborderleftdarkbg, .blueBottom, .bluebox, .onlinePhotoBox{background-color:#f9cfa2;}
.beborderleftdarkbg, .beNormalTab, .beBlogNormalTab{background-color:#ffffff;}
.blueBottom, .onlinePhotoBox, .blueBox, .beNormalTab, .bePreviewSelectedTab, .beBlogNormalTab, .beSelectedTab, .beborderleftdarkbg, .bline, .beborderleft, .beborderleftdarkbg{border:1px solid #fb8233;}
.blueBottom{border-top-style:none;}
.bline{border-width:0px 0px 1px;border-style:solid;}
.bePreviewSelectedTab{border-bottom-style:none;}
.beBlogNormalTab{border-left-style:none;}
.beSelectedTab{border-width:1px 1px 0px 0px;border-style:solid;}
.beborderleft{border-width:1px 0px 0px 1px;border-style:solid;}
.beborderleftdarkbg{border-width:1px 0px 1px 1px;border-style:solid;}
.infoBar a, .bvError a, .bvError table a, .bvSectionContentY tr td a, .profilePendingReq a, .profilePendingReq table a, .listErrorCell a{color:#0066A7;text-decoration:underline;}
.infoBar a:visited, .bvError a:visited, .bvError table a:visited, .bvSectionContentY tr td a:visited, .profilePendingReq a:visited, .profilePendingReq table a:visited, .listErrorCell a:visited{color:#0066A7;}
.infoBar, .bvError, .bvError table, .bvError tr td, .bvSectionContentY tr td, .profilePendingReq, .profilePendingReq table, .profilePendingReq tr td, .listErrorCell{color:#444444;}
.infoBar, .bvSectionContentY, .bvError, .listErrorCell{border:1px solid #e9eaf1;}
.infoBar, .bvError, .bvError table, .bvSectionContentY tr td, .profilePendingReq, .listErrorCell{background-color:#FFFFAE;}
.photoFolderHL{background-color:#000000;}
.blackFont, #PhotoId a{color:#000000;}
.redText{color:Red;}
.grayText, #AttachedPhotos .grayText, #AttachedPhotos .grayText a{color:#7f7f7f;}
body{background-color:#f6ba7b;background-image:none;}
.mainbg, .BackgroundBody{background-color:#f6ba7b;background-image:none;background-repeat:repeat;background-position:top left;}
.dragDropSlider{background-color:#f9cfa2;}
.mainbody{background-color:#f6ba7b;}
.taskbar, .SUContentPane, .whiteBody, .partsmb, .MPInfo{background-color:#ffffff;}
.blogpost .MSN_EDITCONTAINER, div#bePicRow, .blogpost .MSN_TOOLBAR{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#fb8233;}
.blogpost .MSN_EDITCONTAINER{border-top-width:1px;border-top-style:solid;border-top-color:#fb8233;}
.spAToolbar{background-color:#ffffff;background-image:url("img/ToolbarBGImage.gif");background-repeat:repeat-x;color:#333333;}
.spAToolbar a, .spAToolbar a:visited{color:#333333;}
body, .bvSectionContentPC tr td, .search input, .belink, .contentFont, .onlinePhotoBox{color:#333333;}
.modhead table{color:#000000;}
.partsubhead{color:#573735;}
.linklist, .onlinePhotoBox a, .linkedEllipseColor{color:#fb8639;}
.errorText{color:#EE2037;}
.graytitle, .notgray, .msheader td{color:#573735;}
.spAToolbar .spDisabled, .disabledModHead, td a.disabledModHead, .disabledModHeadSep{color:#7f7f7f;}
.disabledLink, td a.disabledLink{color:#7f7f7f;}
.bvSectionContentG, .disabledText{color:#7f7f7f;}
.disabledLink, td a.disabledLink, .bvSectionContentG, bvSectionTitle tr td .disabledLink, .disabledMainNav, .disabledModHead, td a.disabledModHead{cursor:text;}
#editLayoutButton.disabledMainNav a:hover, a.disabledLink:hover, td a.disabledLink:hover, a.disabledModHead:hover, td a.disabledLink:hover, td a.disabledModHead:hover{text-decoration:none;cursor:text;}
.FormElementBorder{border:1px solid #333;}
.DetailSectionFormElements, .textinput, .textinput_narrow, .imgcontainer{border:1px solid #333;}
input.editBox, div.InputWrapper, .txtURL, textarea.textEditBox{border:1px solid #333;}
input.text{border:1px solid #333;}
input.profileUI, textarea.profileUI, select.profileUI{border:1px solid #333;}
.COMMENTENTRY .MSN_EDITCONTAINER{border:1px solid #333;}
.COMMENTENTRY .MSN_TOOLBAR{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#333;}
.abHeader, .abArea{border:1px solid #fb8233;}
.taskbar, #maintbl, .searchsubnav, .blueNB, .SimpleBorder, .categoryBox, .innerList, #PartsBucket, div.bvEntry .footer{border:1px solid #fb8233;}
div.bvEntry .footer{border-left-style:none;border-right-style:none;border-top-style:none;}
#FullExplorer{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#fb8233;}
.line{background-color:#fb8233;color:#fb8233;}
.borderline{border-top-width:1px;border-top-style:none;}
div#navBar div.AdminNav{border-top-width:1px;border-top-style:solid;border-top-color:#fb8233;}
.tips{margin-bottom:5px;list-style-type:disc;color:#333333 !important;}
.ClassifiedsBorder{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#fb8233;}
#FavoritesPane, #resultPane{scrollbar-base-color:#ffffff;}
div.ModuleTab a.gallerylink, div.ModuleTab a.gallerylink:visited{color:#0066A7;}
div.ModuleTab div.Contents ul{margin:0px 4px 0px 0px;padding:0px;list-style-type:none;}
div.ModuleTab div.Contents ul li{display:inline;}
div.ModuleTab div.Contents ul li a.item{padding:4px;display:block;float:left;width:95%;text-decoration:none;}
div.ModuleTab div.Contents ul li a.item:hover{cursor:pointer;background-color:#EDF2FB;}
div.ModuleTab div.Contents ul li img{border:none;margin-right:8px;float:left;width:16x;height:16px;}
div.ModuleTab div.Contents ul li .label{float:left;width:220px;color:#444444;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
div.ModuleTab div.Contents ul li .action{margin-left:4px;margin-right:8px;float:left;color:#444444;}
div.ModuleTab div.Contents ul li .subitems{margin-left:48px;}
div.ModuleTab div.Contents ul li .subitems .label{width:196px;}
div.CustomThemeTab a, div.CustomThemeTab a:visited{color:#0066A7;}
div.CustomThemeTab div.instructions{margin:0px 4px 0px 8px;padding:0px;}
div.CustomThemeTab div.Contents div{float:none;display:block;width:100%;}
div.CustomThemeTab div.Contents div ul{margin:0px 4px 0px 8px;padding:0px;list-style-type:none;}
div.CustomThemeTab div.Contents div ul li{margin:0px;padding:0px;float:left;}
div.CustomThemeTab div.Contents div ul li.label{width:7em;}
div.CustomThemeTab div.Contents div ul li.default{margin-right:0.5em;}
div.CustomThemeTab div.Contents .colorrow{margin-left:4px;display:block;width:100%;height:30px;}
div.CustomThemeTab div.Contents .dropdownrow{margin-left:4px;display:block;width:100%;height:40px;}
div.CustomThemeTab div.Contents .checkboxrow{margin-left:4px;display:block;width:100%;height:40px;}
div.CustomThemeTab div.Contents div.colorrow a.defswatch{border:1px solid #aaa;margin:0px 12px;padding:1px;display:block;float:left;width:18px;height:18px;}
div.CustomThemeTab div.Contents div.colorrow a.defswatch:hover{border:1px solid #e9eaf1;margin:0px 12px;padding:1px;display:block;float:left;width:18px;height:18px;}
div.CustomThemeTab div.Contents div.colorrow a.defswatchon{border:1px solid #d2eaf6;margin:0px 12px;padding:1px;display:block;float:left;width:18px;height:18px;}
div.CustomThemeTab div.Contents div.colorrow a.swatch{border:1px solid #aaa;margin:2px 4px 0px 0px;padding:1px;display:block;float:left;width:13px;height:13px;}
div.CustomThemeTab div.Contents div.colorrow a.swatch:hover{border:1px solid #e9eaf1;margin:2px 4px 0px 0px;padding:1px;display:block;float:left;width:13px;height:13px;}
div.CustomThemeTab div.Contents div.colorrow a.swatchon{border:1px solid #d2eaf6;margin:2px 4px 0px 0px;padding:1px;display:block;float:left;width:13px;height:13px;}
div.CustomThemeTab div.Contents div.colorrow .colorinput{display:block;float:left;width:7em;}
div.CustomThemeTab div.Contents span.errorhex{margin-right:8px;display:none;width:100%;color:#EE2037;}
div.CustomThemeTab .label, div.CustomThemeTab label{color:#444444;}
#CustomThemeTab_TextCategory_Text_default{background-color:#333333;}
#CustomThemeTab_TextCategory_Link_default{background-color:#fb8639;}
#CustomThemeTab_BackgroundCategory_Page_default{background-color:#f6ba7b;}
#CustomThemeTab_BackgroundCategory_Body_default{background-color:#f6ba7b;}
#CustomThemeTab_BackgroundCategory_Selection_default{background-color:#f9cfa2;}
#CustomThemeTab_BackgroundCategory_Hover_default{background-color:#fad6b0;}
#CustomThemeTab_ModulesCategory_Background_default{background-color:#ffffff;}
#CustomThemeTab_ModulesCategory_HeaderBackground_default{background-color:#ffffff;}
#CustomThemeTab_ModulesCategory_HeaderLink_default{background-color:#000000;}
#CustomThemeTab_ModulesCategory_BorderColor_default{background-color:#fb8233;}
.sn_lbar_bkgnd_ie6_default{_background:none;_filter:progid:DXImageTransform.Microsoft.Gradient(Enabled="true", startColorStr=#ff045288, endColorStr=#ff00f8ef) progid:DXImageTransform.Microsoft.Alpha(Opacity=80, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=88) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=65, Style=1, StartX=0, FinishX=0, StartY=10, FinishY=28);_height:40px !important;}
.sn_lbar_bkgnd_ie6shadow_default{}
.sn_lbar_bkgnd_ie6_shadow{_background:#000;_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=19);}
.sn_lbar_bkgnd_ie6shadow_shadow{}
.sn_lbar_bkgnd_ie6_grey_light{_background:#000;_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=5, FinishY=69) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=60, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=19);}
.sn_lbar_bkgnd_ie6shadow_grey_light{}
.sn_lbar_bkgnd_ie6_grey_medium{_background:#000;_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=60, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=20) progid:DXImageTransform.Microsoft.Alpha(Opacity=67, FinishOpacity=20, Style=1, StartX=0, FinishX=0, StartY=63, FinishY=98) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=85, FinishY=100);}
.sn_lbar_bkgnd_ie6shadow_grey_medium{}
.sn_lbar_bkgnd_ie6_grey_dark{_background:#000;_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=72, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=58, FinishY=98) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=80, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=15);}
.sn_lbar_bkgnd_ie6shadow_grey_dark{}
.sn_lbar_bkgnd_ie6_white{_background:none;_filter:progid:DXImageTransform.Microsoft.Gradient(Enabled="true", startColorStr=#ffffffff, endColorStr=#ffFFFFFF) progid:DXImageTransform.Microsoft.Alpha(Opacity=70, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=72, FinishY=98);}
.sn_lbar_bkgnd_ie6shadow_white{_background:#000;_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=17);}
.sn_lbar_long_ie6_default{_background:none;_filter:progid:DXImageTransform.Microsoft.Gradient(Enabled="true", startColorStr=#ff3da3d3, endColorStr=#ff0ea382) progid:DXImageTransform.Microsoft.Alpha(Opacity=80, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=95) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=65, Style=1, StartX=0, FinishX=0, StartY=10, FinishY=35);}
.sn_lbar_long_ie6shadow_default{_background:#14355c;_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=19);}
.sn_lbar_bkgnd{_background:#000;_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=5, FinishY=69) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=60, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=19);background-image:url(hig/img/l/livebarBG_24_~LivebarGradientType~.png);background-repeat:repeat-x;}
.sn_lbar_short{_background:#000;_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=5, FinishY=69) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=60, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=19);background-image:url(hig/img/l/livebarBG_sh_24_~LivebarGradientType~.png);background-repeat:repeat-x;}
.sn_lbar_bkgnd_shadow, .sn_lbar_short_shadow{}
.sn_lbar_long{_background:none;_filter:progid:DXImageTransform.Microsoft.Gradient(Enabled="true", startColorStr=#ff3da3d3, endColorStr=#ff0ea382) progid:DXImageTransform.Microsoft.Alpha(Opacity=80, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=95) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=65, Style=1, StartX=0, FinishX=0, StartY=10, FinishY=35);background-image:url(hig/img/l/livebarBG_long_24_~LivebarGradientType~.png);background-repeat:repeat-x;}
.sn_lbar_long_shadow{_background:#14355c;_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=19);}
.sn_lbar{margin-bottom:0px;}
.sn_lbar .separator{border-left-width:1px;border-right-width:1px;border-left-style:solid;border-right-style:solid;border-left-color:#5c462b;border-right-color:#ffd19f;}
.sn_lbar a, .sn_lbar a:visited{color:#FFFFFF;}
.sn_lbar a.selected{background-color:#D29769;background-image:url(hig/img/l/livebarBG_24_shadow.png);background-repeat:repeat-x;_background:#D29769;}
.sn_lbar a.selected, .sn_lbar a.semiselected, .sn_lbar a.indented span{border-width:1px;border-style:solid;border-color:#c0925e #dda86c #ffd5a6;}
.sn_lbar a.selected span{border:1px solid #251d11;}
.sn_lbar a.semiselected span, .sn_lbar a:hover, .sn_lbar .menuOn a, .sn_lbar a.indented{border-width:1px;border-style:solid;border-color:#42321f #5c462b #765a37;}
.sn_lbar a:hover span, .sn_lbar .menuOn a span{border:1px solid #ffd19f;}
.sn_lbar a:hover, .sn_lbar .menuOn a{background-color:#DF7300;background-image:url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png);background-repeat:repeat-x;background-position:50%;_background:#DF7300;}
.sn_lbar .menuOn .sn_lbar_menu a, .sn_lbar .menuOn .sn_lbar_menu a:visited{color:#333333;}
.sn_lbar .menuOn .sn_lbar_menu{background-color:#ffffff;}
.sn_lbar .menuOn .sn_lbar_menu a:hover, .sn_lbar .sn_lbar_split .menuOn .sn_lbar_menu a:hover{background:#fad6b0 url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) center;_background:#fad6b0;}
.sn_lbar .sn_lbar_split .splitOn a, .sn_lbar .sn_lbar_split .menuOn a{border-width:1px;border-style:solid;border-color:#42321f #5c462b #765a37;}
.sn_lbar .sn_lbar_split .splitOn a, .sn_lbar .sn_lbar_split .menuOn a{background:none;}
.sn_lbar .sn_lbar_split .splitOn a span, .sn_lbar .sn_lbar_split .menuOn a span{border:1px solid #ffd19f;}
.sn_lbar .sn_lbar_split .splitOn a:hover, .sn_lbar .sn_lbar_split .menuOn a.caret{background-color:#DF7300;background-image:url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png);background-repeat:repeat-x;background-position:50%;_background:#DF7300;}
button.Live_Controls_Button, input.Live_Controls_Button{border:1px solid;margin-right:0.3em;padding:0px 1em;font-size:110%;height:1.8em;min-width:7em;overflow:visible;text-align:center;vertical-align:middle;}
input.Live_Controls_Button{margin-right:0em;}
button.Live_Controls_Button, input.Live_Controls_Button, button.Live_Controls_Button.Standard_Rest, input.Live_Controls_Button.Standard_Rest{border-color:#707070;background-color:#F3F3F3;background-image:url(hig/img/b/btn_std.png);background-position:0px center;}
button.Live_Controls_Button.Standard_Hover, input.Live_Controls_Button.Standard_Hover{border-color:#37a;background-color:#D8EEFA;background-image:url(hig/img/b/btn_std.png);background-position:-500px center;}
button.Live_Controls_Button.Standard_Focus, input.Live_Controls_Button.Standard_Focus{border-color:#707070;background-color:#48D8FB;background-image:url(hig/img/b/btn_std.png);background-position:-1000px center;}
button.Live_Controls_Button.Standard_Pressed, input.Live_Controls_Button.Standard_Pressed{border-color:#366388;background-color:#62899D;background-image:url(hig/img/b/btn_std.png);background-position:-1500px center;}
button.Live_Controls_Button.Disabled, input.Live_Controls_Button.Disabled, button.Live_Controls_Button.Standard_Disabled, input.Live_Controls_Button.Standard_Disabled{border-color:#aaa;background-color:#FFFFFF;background-image:url(hig/img/b/btn_std.png);background-position:-2000px center;color:#AAAAAA;}
button.Live_Controls_Button.Standard_Default, input.Live_Controls_Button.Standard_Default, button.Live_Controls_Button.Standard_Rest_Default, input.Live_Controls_Button.Standard_Rest_Default{border-color:#707070;background-color:#F3F3F3;background-image:url(hig/img/b/btn_std.png);background-position:-2500px center;}
button.Live_Controls_Button.Standard_Hover_Default, input.Live_Controls_Button.Standard_Hover_Default{border-color:#37a;background-color:#D8EEFA;background-image:url(hig/img/b/btn_std.png);background-position:-3000px center;}
button.Live_Controls_Button.Standard_Focus_Default, input.Live_Controls_Button.Standard_Focus_Default{border-color:#707070;background-color:#48D8FB;background-image:url(hig/img/b/btn_std.png);background-position:-3500px center;}
button.Live_Controls_Button.Standard_Pressed_Default, input.Live_Controls_Button.Standard_Pressed_Default{border-color:#366388;background-color:#62899D;background-image:url(hig/img/b/btn_std.png);background-position:-4000px center;}
button.Live_Controls_Button.Standard_Disabled_Default, input.Live_Controls_Button.Standard_Disabled_Default{border-color:#aaa;background-color:#FFFFFF;background-image:url(hig/img/b/btn_std.png);background-position:-4500px center;color:#AAAAAA;}
button.Live_Controls_Button.Accentuated, input.Live_Controls_Button.Accentuated, button.Live_Controls_Button.Accentuated_Rest, input.Live_Controls_Button.Accentuated_Rest{border-color:#707070;background-color:#FFFDDD;background-image:url(hig/img/b/btn_acc.png);background-position:0px center;}
button.Live_Controls_Button.Accentuated_Hover, input.Live_Controls_Button.Accentuated_Hover{border-color:#d1661d;background-color:#FCF783;background-image:url(hig/img/b/btn_acc.png);background-position:-500px center;}
button.Live_Controls_Button.Accentuated_Focus, input.Live_Controls_Button.Accentuated_Focus{border-color:#707070;background-color:#48D8FB;background-image:url(hig/img/b/btn_acc.png);background-position:-1000px center;}
button.Live_Controls_Button.Accentuated_Pressed, input.Live_Controls_Button.Accentuated_Pressed{border-color:#963;background-color:#99926E;background-image:url(hig/img/b/btn_acc.png);background-position:-1500px center;}
button.Live_Controls_Button.Accentuated_Disabled, input.Live_Controls_Button.Accentuated_Disabled{border-color:#aaa;background-color:#FFFFFF;background-image:url(hig/img/b/btn_acc.png);background-position:-2000px center;color:#AAAAAA;}
button.Live_Controls_Button.Accentuated_Default, input.Live_Controls_Button.Accentuated_Default, button.Live_Controls_Button.Accentuated_Rest_Default, input.Live_Controls_Button.Accentuated_Rest_Default{border-color:#707070;background-color:#FFFDDD;background-image:url(hig/img/b/btn_acc.png);background-position:-2500px center;}
button.Live_Controls_Button.Accentuated_Hover_Default, input.Live_Controls_Button.Accentuated_Hover_Default{border-color:#d1661d;background-color:#FCF783;background-image:url(hig/img/b/btn_acc.png);background-position:-3000px center;}
button.Live_Controls_Button.Accentuated_Focus_Default, input.Live_Controls_Button.Accentuated_Focus_Default{border-color:#707070;background-color:#48D8FB;background-image:url(hig/img/b/btn_acc.png);background-position:-3500px center;}
button.Live_Controls_Button.Accentuated_Pressed_Default, input.Live_Controls_Button.Accentuated_Pressed_Default{border-color:#963;background-color:#99926E;background-image:url(hig/img/b/btn_acc.png);background-position:-4000px center;}
button.Live_Controls_Button.Accentuated_Disabled_Default, input.Live_Controls_Button.Accentuated_Disabled_Default{border-color:#aaa;background-color:#FFFFFF;background-image:url(hig/img/b/btn_acc.png);background-position:-4500px center;color:#AAAAAA;}
button.Live_Controls_Button.Commerce, input.Live_Controls_Button.Commerce, button.Live_Controls_Button.Commerce_Rest, input.Live_Controls_Button.Commerce_Rest{border-color:#707070;background-color:#ECFFEA;background-image:url(hig/img/b/btn_com.png);background-position:0px center;}
button.Live_Controls_Button.Commerce_Hover, input.Live_Controls_Button.Commerce_Hover{border-color:#488334;background-color:#BEE6AA;background-image:url(hig/img/b/btn_com.png);background-position:-500px center;}
button.Live_Controls_Button.Commerce_Focus, input.Live_Controls_Button.Commerce_Focus{border-color:#707070;background-color:#48D8FB;background-image:url(hig/img/b/btn_com.png);background-position:-1000px center;}
button.Live_Controls_Button.Commerce_Pressed, input.Live_Controls_Button.Commerce_Pressed{border-color:#36632b;background-color:#99B38C;background-image:url(hig/img/b/btn_com.png);background-position:-1500px center;}
button.Live_Controls_Button.Commerce_Disabled, input.Live_Controls_Button.Commerce_Disabled{border-color:#aaa;background-color:#FFFFFF;background-image:url(hig/img/b/btn_com.png);background-position:-2000px center;color:#AAAAAA;}
button.Live_Controls_Button.Commerce_Default, input.Live_Controls_Button.Commerce_Default, button.Live_Controls_Button.Commerce_Rest_Default, input.Live_Controls_Button.Commerce_Rest_Default{border-color:#707070;background-color:#ECFFEA;background-image:url(hig/img/b/btn_com.png);background-position:-2500px center;}
button.Live_Controls_Button.Commerce_Hover_Default, input.Live_Controls_Button.Commerce_Hover_Default{border-color:#488334;background-color:#BEE6AA;background-image:url(hig/img/b/btn_com.png);background-position:-3000px center;}
button.Live_Controls_Button.Commerce_Focus_Default, input.Live_Controls_Button.Commerce_Focus_Default{border-color:#707070;background-color:#48D8FB;background-image:url(hig/img/b/btn_com.png);background-position:-3500px center;}
button.Live_Controls_Button.Commerce_Pressed_Default, input.Live_Controls_Button.Commerce_Pressed_Default{border-color:#36632b;background-color:#99B38C;background-image:url(hig/img/b/btn_com.png);background-position:-4000px center;}
button.Live_Controls_Button.Commerce_Disabled_Default, input.Live_Controls_Button.Commerce_Disabled_Default{border-color:#aaa;background-color:#FFFFFF;background-image:url(hig/img/b/btn_com.png);background-position:-4500px center;color:#AAAAAA;}
#header div.Msn_ContactsPresence_UI_Me, #header div.Msn_ContactsPresence_UI_Me div{padding:0px;}
a.CnPMeLink, a.CnPMeDisplayNameRegular, a.CnPMeDisplayNameCompressed, a.CnPMeDisplayNameUltraCompressed, a.CnPMeLink:visited, a.CnPMeDisplayNameRegular:visited, a.CnPMeDisplayNameCompressed:visited, a.CnPMeDisplayNameUltraCompressed:visited{color:white;text-decoration:none;}
div.Msn_ContactsPresence_UI_Me{text-align:right;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:268px;display:block;position:relative;}
div.textElement{text-align:right;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:block;position:relative;}
div.CnPMeLeftContentRegular, div.textElement{width:200px;}
a.CnPMePhotoOuterRegular, div.CnPMePhotoOuterRegular{width:46px;height:46px;}
a.CnPMePhotoOuterCompressed, div.CnPMePhotoOuterCompressed, a.CnPMePhotoOuterUltraCompressed, div.CnPMePhotoOuterUltraCompressed{width:32px;height:32px;}
a.CnPMePhotoOuterRegular, a.CnPMePhotoOuterCompressed, a.CnPMePhotoOuterUltraCompressed{display:block;}
div.CnPMePhotoOuterRegular, div.CnPMePhotoOuterCompressed, div.CnPMePhotoOuterUltraCompressed{margin:1px 0px;position:relative;float:right;display:inline;}
div.CnPMePhotoOuterCompressed, div.CnPMePhotoOuterUltraCompressed{width:36px;height:36px;}
div.CnPMePhotoHolderCompressed, div.CnPMePhotoHolderUltraCompressed{height:36px;}
div.CnPMePhotoOuterHoverOff{border:1px solid #fed17c;}
div.CnPMePhotoOuterHoverOn{border:1px solid #fad6b0;}
div.CnPMePhotoInnerRegular{width:44px;height:44px;}
div.CnPMePhotoInnerCompressed, div.CnPMePhotoInnerUltraCompressed{width:28px;height:28px;}
div.CnPMePhotoInnerRegular, div.CnPMePhotoInnerCompressed, div.CnPMePhotoInnerUltraCompressed{position:absolute;top:1px;left:1px;}
div.CnPMeLeftContentRegular{padding-right:5px;}
div.CnPMeLeftContentRegular, div.CnPMeTextWrapping{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
div.CnPMeContentAreaRegular, div.CnPMeActionAreaRegular{font-size:100%;line-height:170%;color:white;}
div.CnPMeContentAreaCompressed{padding-left:8px;position:relative;float:right;display:inline;left:0px;width:115px;}
div.CnPMeContentAreaUltraCompressed{padding-left:8px;position:relative;float:right;display:inline;left:0px;width:30px;}
div.CnPMeContentAreaRegular{padding-left:8px;}
div.CnPMeActionArea{padding:3px 0px 0px 8px;}
ul.Web_UI_Menu{border:1px solid #573735;margin-left:0px;padding-left:0px;background-color:#ffffff;z-index:100000;}
ul.Web_UI_Menu li{margin:0px;list-style:none;}
ul.Web_UI_Menu li a.Web_UI_Menu_TextItem{padding:2px;color:#333333;text-decoration:none;display:block;text-overflow:ellipsis;white-space:nowrap;text-align:left;}
ul.Web_UI_Menu li .Web_UI_Menu_TextItem.hover{background-color:#fad6b0;}
ul.Web_UI_Menu li .Web_UI_Menu_TextItem.current{background-color:#f9cfa2;}
.CnPWLThumbnailBase{padding:6px 2px;position:relative;display:block;}
.CnPWLThumbnailOuterPhotoContainerBase{margin-bottom:8px;position:relative;}
.CnPWLThumbnailInnerPhotoContainerBase{position:absolute;top:2px;left:2px;}
.CnPWLThumbnailGleamBase{position:absolute;height:12px;width:10px;}
.CnPWLThumbnailPresenceBase{position:absolute;height:16px;width:16px;}
.CnPWLThumbnailIconBase{position:absolute;}
.CnPWLThumbnailIcon1{position:absolute;top:3px;}
.CnPWLThumbnailIcon2{position:absolute;top:21px;}
.CnPWLThumbnailIcon3{position:absolute;top:39px;}
.CnPWLThumbnailIcon4{position:absolute;top:57px;}
.CnPWLThumbnailTextLines{font-size:100%;line-height:170%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:left;}
.CnPWLThumbnailIconSmallBase{left:43px;}
DIV.CnPContactWLThumb1LineSmall{padding:6px 2px;position:relative;display:block;height:72px;width:61px;}
DIV.CnPTextLineWLThumb1LineSmall{width:56px;}
DIV.CnPOuterPhotoContainerWLThumb1LineSmall{margin-bottom:8px;position:relative;width:36px;height:36px;}
DIV.CnPPhotoContainerWLThumb1LineSmall{position:absolute;top:2px;left:2px;width:32px;height:32px;}
IMG.CnPGleamWLThumb1LineSmall{position:absolute;height:12px;width:10px;}
IMG.CnPPresenceWLThumb1LineSmall{position:absolute;height:16px;width:16px;}
DIV.CnPTextLineWLThumb1LineSmall{font-size:100%;line-height:170%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:left;}
DIV.CnPTextLineWLThumb1LineSmall a, DIV.CnPTextLineWLThumb1LineSmall a:hover{text-decoration:none;}
IMG.CnPContactIcon1WLThumb1LineSmall{position:absolute;top:3px;left:43px;}
IMG.CnPContactIcon2WLThumb1LineSmall{position:absolute;top:21px;left:43px;}
IMG.CnPContactIcon3WLThumb1LineSmall{position:absolute;top:39px;left:43px;}
IMG.CnPContactIcon4WLThumb1LineSmall{position:absolute;top:57px;left:43px;}
.CnPWLThumbnailIconMediumBase{left:59px;}
DIV.CnPContactWLThumb1LineMedium{padding:6px 2px;position:relative;display:block;height:88px;width:77px;}
DIV.CnPTextLineWLThumb1LineMedium{width:72px;}
DIV.CnPOuterPhotoContainerWLThumb1LineMedium{margin-bottom:8px;position:relative;width:52px;height:52px;}
DIV.CnPPhotoContainerWLThumb1LineMedium{position:absolute;top:2px;left:2px;width:48px;height:48px;}
IMG.CnPGleamWLThumb1LineMedium{position:absolute;height:12px;width:10px;}
IMG.CnPPresenceWLThumb1LineMedium{position:absolute;height:16px;width:16px;}
DIV.CnPTextLineWLThumb1LineMedium{font-size:100%;line-height:170%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:left;}
DIV.CnPTextLineWLThumb1LineMedium a, DIV.CnPTextLineWLThumb1LineMedium a:hover{text-decoration:none;}
IMG.CnPContactIcon1WLThumb1LineMedium{position:absolute;top:3px;left:59px;}
IMG.CnPContactIcon2WLThumb1LineMedium{position:absolute;top:21px;left:59px;}
IMG.CnPContactIcon3WLThumb1LineMedium{position:absolute;top:39px;left:59px;}
IMG.CnPContactIcon4WLThumb1LineMedium{position:absolute;top:57px;left:59px;}
.CnPWLThumbnailIconLargeBase{left:72px;}
DIV.CnPContactWLThumb1LineLarge{padding:6px 2px;position:relative;display:block;height:101px;width:90px;}
DIV.CnPTextLineWLThumb1LineLarge{width:85px;}
DIV.CnPOuterPhotoContainerWLThumb1LineLarge{margin-bottom:8px;position:relative;width:65px;height:65px;}
DIV.CnPPhotoContainerWLThumb1LineLarge{position:absolute;top:2px;left:2px;width:61px;height:61px;}
IMG.CnPGleamWLThumb1LineLarge{position:absolute;height:12px;width:10px;}
IMG.CnPPresenceWLThumb1LineLarge{position:absolute;height:16px;width:16px;}
DIV.CnPTextLineWLThumb1LineLarge{font-size:100%;line-height:170%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:left;}
DIV.CnPTextLineWLThumb1LineLarge a, DIV.CnPTextLineWLThumb1LineLarge a:hover{text-decoration:none;}
IMG.CnPContactIcon1WLThumb1LineLarge{position:absolute;top:3px;left:72px;}
IMG.CnPContactIcon2WLThumb1LineLarge{position:absolute;top:21px;left:72px;}
IMG.CnPContactIcon3WLThumb1LineLarge{position:absolute;top:39px;left:72px;}
IMG.CnPContactIcon4WLThumb1LineLarge{position:absolute;top:57px;left:72px;}
.CnPWLThumbnailIconXLargeBase{left:107px;}
DIV.CnPContactWLThumb1LineXLarge{padding:6px 2px;position:relative;display:block;height:136px;width:125px;}
DIV.CnPTextLineWLThumb1LineXLarge{width:120px;}
DIV.CnPOuterPhotoContainerWLThumb1LineXLarge{margin-bottom:8px;position:relative;width:100px;height:100px;}
DIV.CnPPhotoContainerWLThumb1LineXLarge{position:absolute;top:2px;left:2px;width:96px;height:96px;}
IMG.CnPGleamWLThumb1LineXLarge{position:absolute;height:12px;width:10px;}
IMG.CnPPresenceWLThumb1LineXLarge{position:absolute;height:16px;width:16px;}
DIV.CnPTextLineWLThumb1LineXLarge{font-size:100%;line-height:170%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:left;}
DIV.CnPTextLineWLThumb1LineXLarge a, DIV.CnPTextLineWLThumb1LineXLarge a:hover{text-decoration:none;}
IMG.CnPContactIcon1WLThumb1LineXLarge{position:absolute;top:3px;left:107px;}
IMG.CnPContactIcon2WLThumb1LineXLarge{position:absolute;top:21px;left:107px;}
IMG.CnPContactIcon3WLThumb1LineXLarge{position:absolute;top:39px;left:107px;}
IMG.CnPContactIcon4WLThumb1LineXLarge{position:absolute;top:57px;left:107px;}
IFRAME.CnPContactCard{border:1px solid #4f6ba0;position:absolute;height:198px;width:294px;z-index:201;}
.uxp_ep_dots{z-index:20000;position:absolute;text-align:left;}
.uxp_ep_ep a, .uxp_ep_dots a, .uxp_ep_ep a:hover, .uxp_ep_dots a:hover{font-weight:normal;font-style:normal;white-space:normal;text-transform:none;letter-spacing:normal;color:#fb8639;}
.uxp_ep_ep a:visited, .uxp_ep_dots a:visited{font-weight:normal;font-style:normal;white-space:normal;text-transform:none;letter-spacing:normal;color:#fb8639;}
.uxp_ep_ep a, .uxp_ep_dots a{text-decoration:none;}
.uxp_ep_ep a:hover, .uxp_ep_dots a:hover{text-decoration:underline;}
.uxp_ep_dots a.uxp_ep_dotsA{position:absolute;width:12px;height:4px;overflow:hidden;}
.uxp_ep_dots a.uxp_ep_dotsA img.uxp_ep_dotsI{position:absolute;visibility:hidden;}
.uxp_ep_dots a.uxp_ep_show img.uxp_ep_dotsI{visibility:visible;}
.uxp_ep_dots a.uxp_ep_right img.uxp_ep_dotsI{left:-12px;}
.uxp_ep_beak{z-index:20002;position:absolute;width:17px;height:33px;background-image:url(controls/img/ep_beak_leftright_collage.gif);}
.uxp_ep_beakRight{width:18px;background-position:-17px 0;}
.uxp_ep_ep{border:1px solid #999;padding:1px;font-weight:normal;font-style:normal;white-space:normal;text-transform:none;letter-spacing:normal;z-index:20001;position:absolute;width:26.795em;color:#333333;background-color:white;text-align:left;line-height:normal;word-wrap:break-word;overflow:hidden;direction:ltr;}
.uxp_ep_ep li{padding:0px;}
.uxp_ep_parent{position:absolute;}
.uxp_ep_ghost{visibility:hidden;display:block;left:-500px;top:-500px;}
.uxp_ep_head{padding:10px;background-color:#ffffff;}
.uxp_ep_body{padding:10px;background-color:#ffffff;}
.uxp_ep_actions{padding:10px;background-color:#ffffff;}
.uxp_ep_sectionSeparator{line-height:1px;background-color:#ECEDF3;}
.uxp_ep_close{padding:10px;position:relative;float:right;}
.uxp_ep_loading, .uxp_ep_loadingParent div{display:none;}
.uxp_ep_loadingParent div.uxp_ep_outermost, .uxp_ep_loadingParent div.uxp_ep_border1, .uxp_ep_loadingParent div.uxp_ep_loading, .uxp_ep_loadingParent div.uxp_ep_loading div{display:block;}
.uxp_ep_loadError, .uxp_ep_loadErrorParent div{display:none;}
.uxp_ep_loadErrorParent div.uxp_ep_outermost, .uxp_ep_loadErrorParent div.uxp_ep_border1, .uxp_ep_loadErrorParent div.uxp_ep_loadError, .uxp_ep_loadErrorParent div.uxp_ep_loadError div{display:block;}
.uxp_ep_loadingText{margin-left:22px;}
.uxp_ep_loadingImageCollage{position:absolute;width:16px;height:16px;background-image:url(controls/img/ep_loading_collage.gif);}
.uxp_ep_loadingTemplate, .uxp_ep_loadErrorTemplate{padding:16px;}
.uxp_ep_loadErrorTemplate span{background-position:0 15px;}
.uxp_ep_moreActionsImage{padding-left:4px;vertical-align:middle;}
.uxp_ep_actionsList{margin:0px;padding:0px;list-style-type:none;}
.uxp_ep_actionsList li{margin:0px;}
.uxp_ep_actionsList li.clip{overflow:hidden;text-overflow:ellipsis;}
div.Live_Controls_CustomizeDialog_Background{z-index:1000000;background-color:white;opacity:0.01;filter:alpha(opacity=1);}
div.UXPDialog{border:1px solid #444;margin:0px;padding:0px;position:absolute;background-color:#fad6b0;text-align:left;width:35em;z-index:1000001;}
div.UXPDialog div.Heading{padding-top:0.2em;clear:both;width:100%;background-color:#fad6b0;direction:ltr;display:block ! important;}
div.CustomizeDialogMenuBar{border:1px solid #444;margin:0px;padding:0px;position:absolute;background-color:#fad6b0;text-align:left;}
div.CustomizeDialogMenuBarHeading{border-width:1px;padding-top:0.2em;height:3em;display:block ! important;}
div.UXPDialog div.Heading a.X{position:absolute;top:10px;right:0.6em;}
div.UXPDialog ul.TabsList{margin:0px;padding:4px 0px 0px 8px;position:relative;top:1px;}
div.CustomizeDialogMenuBarHeading ul.TabsList{margin:0px;padding:8px 0px 0px;}
div.UXPDialog ul.TabsList li{border-top-width:1px;border-bottom-width:1px;border-top-style:solid;border-bottom-style:solid;border-top-color:#fad6b0;border-bottom-color:#444;margin:0px;padding:3px 20px 4px;float:left;color:#333333;background:#fad6b0;list-style:none;line-height:1.5em;}
div.CustomizeDialogMenuBarHeading ul.TabsList li{margin:0px;padding:3px 20px 4px;float:left;white-space:nowrap;color:#333333;list-style:none;position:relative;top:3px;left:1px;line-height:1.5em;}
div.UXPDialog ul.TabsList li a{color:#333333;}
div.CustomizeDialogMenuBarHeading ul.TabsList li a{color:#333333;}
div.UXPDialog ul.TabsList li a:hover{color:#333333;}
div.CustomizeDialogMenuBarHeading ul.TabsList li a:hover{color:#333333;}
div.UXPDialog ul.TabsList li a:visited{color:#333333;}
div.CustomizeDialogMenuBarHeading ul.TabsList li a:visited{color:#333333;}
div.UXPDialog ul.TabsList li.CurrentTab{border-width:1px;border-style:solid;border-color:#444 #444 #fff;background:#FFFFFF;font-weight:bold;}
div.CustomizeDialogMenuBarHeading ul.TabsList li.CurrentTab{border-width:1px;border-style:solid;border-color:#444 #444 #fff;background:#FFFFFF;font-weight:bold;}
div.UXPDialog ul.TabsList li.CurrentTab a{color:#444444;}
div.CustomizeDialogMenuBarHeading ul.TabsList li.CurrentTab a{color:#444444;}
div.UXPDialog ul.TabsList li.CurrentTab a:hover{color:#444444;}
div.CustomizeDialogMenuBarHeading ul.TabsList li.CurrentTab a:hover{color:#444444;}
div.UXPDialog ul.TabsList li.CurrentTab a:visited{color:#444444;}
div.CustomizeDialogMenuBarHeading ul.TabsList li.CurrentTab a:visited{color:#444444;}
div.UXPDialog div.ButtonArea{clear:both;width:100%;background-color:#fad6b0;text-align:right;}
div.CustomizeDialogMenuBar div.ButtonArea{clear:both;width:100%;background-color:#fad6b0;text-align:right;}
div.UXPDialog div.ButtonArea button{margin-right:8px;margin-top:8px;margin-bottom:8px;}
div.CustomizeDialogMenuBar div.ButtonArea button{margin-right:8px;margin-top:8px;margin-bottom:8px;}
div.UXPDialog div.Body{border-top-width:1px;border-bottom-width:1px;border-top-style:solid;border-bottom-style:solid;border-top-color:#444;border-bottom-color:#444;padding:3px;clear:both;height:35em;background-color:#FFFFFF;overflow:auto;color:#444444;}
div.CustomizeDialogMenuBar div.Body{border-top-width:1px;border-bottom-width:1px;border-top-style:solid;border-bottom-style:solid;border-top-color:#444;border-bottom-color:#444;padding:3px;clear:both;height:35em;background-color:#FFFFFF;overflow:auto;color:#444444;}
div.CustomizeDialog div.Body ul.Categories{margin:0px;padding:0px;list-style-type:none;}
div.CustomizeDialog div.Body ul.Categories li.Category{margin:0px;clear:both;_height:1px;}
div.CustomizeDialog div.Body ul.Categories li.Category h4{margin:0px;}
div.CustomizeDialog div.Body ul.Categories li.Category h4 a{color:#444444;}
div.CustomizeDialog div.Body ul.Categories li.Category h4 img{border:none;margin-right:4px;}
div.CustomizeDialog div.Body ul.Categories hr{border-bottom-width:0px;margin-top:0px;margin-bottom:0px;clear:both;color:#E9EAF1;height:0;}
div.CustomizeDialog div.Body div.Contents{padding-left:10px;display:none;line-height:normal;}
div.CustomizeDialog div.Body div.Contents ul.Thumbnails{margin:0px 4px 0px 0px;padding:0px;list-style-type:none;overflow:hidden;}
div.CustomizeDialog div.Body div.Contents ul.Thumbnails li.Thumbnail{border:1px solid #fff;margin:1px;padding:0px;float:left;background-color:#FFFFFF;}
div.CustomizeDialog div.Body div.Contents ul.Thumbnails li.Thumbnail.On{border:1px solid #0066a7;background-color:#D2EAF6;}
div.CustomizeDialog div.Body div.Contents ul.Thumbnails li.Thumbnail a{border:1px solid #e9eaf1;margin:1px;padding:2px;display:block;background-color:#FFFFFF;}
div.CustomizeDialog div.Body div.Contents ul.Thumbnails li.Thumbnail a:hover{border:1px solid #edf2fb;}
div.CustomizeDialog div.Body div.Contents ul.Thumbnails li.Thumbnail a img{border:none;vertical-align:bottom;}
div.CustomizeDialog div.Body div.Group{background-color:#D2EAF6;clear:both;}
.MSN_EDITCONTAINER{border-left-style:none;border-right-style:none;margin:0px;padding:0px;}
.ButtonBar{margin:5px 0px;text-align:right;}
.ButtonBar button{margin:0px 0px 0px 5px;}
.MSN_EDITFRAME{border:none;margin:0px;padding:0px;width:100%;}
DIV.MSN_EDITBOX{}
.MSN_TOOLBAR{padding:2px 0px 2px 5px;background:#fff;z-index:1;}
.MSN_TOOLBAR_GROUP{overflow:hidden;}
span.MSN_TOOLBAR_GROUP a.MSN_TOOLBAR_COMMANDTEXT{color:#000000;}
.MSN_TOOLBAR_COMMANDTEXT.Depressed{font-weight:bold;text-decoration:underline;color:darkred;}
.MSN_TOOLBAR_COMMANDTEXT.Disabled{font-weight:normal;color:gray;}
.MSN_EDITBOX.MSN_EDITBOXHTML{background:none;background-color:white;color:Black;}
TEXTAREA.MSN_EDITBOXHTML{border:none;margin:0px;padding:0px;}
.MSN_TOOLBAR A{margin:0px;padding:0px;}
.MSN_TOOLBAR_COMMAND{margin:0px;padding:2px;cursor:pointer;vertical-align:middle;z-index:0;display:inline-block;}
.MSN_TOOLBAR_CUSTOMIZE{border:1px solid black;margin:5px;background:white;z-index:100;cursor:pointer;}
.MSN_COLORPICKER{border:1px solid black;margin:5px;background:white;z-index:100;white-space:nowrap;color:black;text-align:center;}
.MSN_COLORLIST{margin:0px;padding:0px;text-align:center;}
.MSN_COLORPICKER_ROW{margin:0px;padding:0px;white-space:nowrap;line-height:10px;clear:left;}
div.MSN_COLORLIST .MSN_COLORPICKER_ROW A{margin:1px;}
div.MSN_COLORLIST .MSN_COLORPICKER_CELL{border:1px solid #81807f;padding:1px;display:block;float:left;width:14px;height:14px;cursor:pointer;}
div.MSN_COLORLIST .MSN_COLORPICKER_CELL.hover{border:1px solid orange;}
.MSN_COLORPICKER_MORE{text-align:center;font:10pt arial;clear:both;cursor:pointer;}
.MSN_BLOCKPICKER{border:1px solid black;margin:5px;position:absolute;background:white;z-index:100;color:black;}
.MSN_BLOCKPICKER .MSN_BLOCK_ITEM{border:1px solid white;cursor:pointer;white-space:nowrap;}
.MSN_BLOCKPICKER .MSN_BLOCK_ITEM.hover{border:1px solid orange;}
.MSN_TOOLBAR span.MSN_TOOLBAR_GROUP a.MSN_TOOLBAR_COMMANDSEPARATOR{display:none !important;}
.MSN_TOOLBAR_COMMAND.MSN_TOOLBAR_COMMANDTEXT{font-size:10pt;font-weight:bold;vertical-align:top;top:4px;}
.MSN_TOOLBAR_POPUP{padding:5px;text-align:center;position:absolute;}
.MSN_CONTEXTMENU{border:1px solid black;margin:0px;padding:0px;background:white;z-index:100;cursor:pointer;width:auto;}
.MSN_CONTEXTMENU_ITEM{padding:3px;font-family:Tahoma,Helvetica,Sans-Serif;font-size:12px;white-space:nowrap;color:black;}
div.MSN_BLOCKPICKER div.MSN_BLOCK_ITEM.hover{background:navy;color:white;}
.MSN_INSERTLINK{border:1px solid black;margin:5px;z-index:1000;background:white;color:black;font-size:10pt;}
.MSN_INSERTLINK_EDITBOX{width:260px;}
.MSN_INSERTLINK_BUTTON{margin:3px;}
.MSN_INSERTLINK_BUTTONS{text-align:right;}
.MSN_INSERTLINK_TITLE{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:gray;margin-bottom:3px;font-weight:bold;}
.MSN_INSERTLINK label{color:#000000;}
#dlEditor .SetupOneCol SELECT{width:500px;}
#dlEditor .SetupClassicThreeCol SELECT, .SetupClassicThreeCol SELECT, .SetupClassicThreeCol SELECT{width:167px;}
#dlEditor .SetupRightHeavyThreeCol SELECT, .SetupRightHeavyThreeCol SELECT, .SetupRightHeavyThreeCol SELECT{width:167px;}
#dlEditor .SetupBackwardsTwoCol SELECT{width:250px;}
#dlEditor .SetupClassicTwoCol SELECT{width:250px;}
#dlEditor .SetupSymmetricTwoCol SELECT, .SetupSymmetricTwoCol SELECT{width:250px;}
.Slider_decrementImage{padding-top:6px;padding-bottom:6px;}
.Slider_incrementImage{padding-top:6px;padding-bottom:6px;}
div.ThemePicker{border:1px solid #fb8233;position:absolute;background-color:#ffffff;width:31em;height:34em;}
div.ThemePicker div.Heading{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#fb8233;font-weight:bold;font-size:115%;height:2.5em;vertical-align:middle;}
div.ThemePicker div.Heading h3{margin-left:8px;margin-right:4px;}
div.ThemePicker div.Heading a{margin-right:3px;margin-bottom:3px;font-weight:bold;float:right;}
div.ThemePicker div.Body{background-color:#ffffff;background-image:none;background-repeat:repeat-x;height:100%;}
div.ThemePicker div.Body h4{margin-left:8px;margin-right:4px;}
div.ThemePicker hr{margin:0px 2px;padding:0px;color:#fb8233;height:1px;clear:both;}
div.ThemePicker ul{margin:0px 4px 0px 8px;padding:0px;list-style-type:none;}
div.ThemePicker ul li{margin:0px;padding:0px;float:left;}
div.ThemePicker ul li a{border:1px solid #573735;margin:0.3em;padding:1px;display:block;}
div.ThemePicker ul li a:hover{border:1px solid #fb8233;}
div.ThemePicker ul li a.On{border:1px solid #f9cfa2;padding:1px;display:block;}
