html{direction:ltr;}
body{padding:0px;}
input, textarea{line-height:normal;}
div#header .inside{margin:auto;width:1001px;}
div#pageFrame.WhitePageFrame, div.WhitePageFrame{padding-top:20px;}
.bvSectionContent{clear:both;}
.ContainerPadding{padding:8px;overflow:hidden;word-wrap:normal;text-overflow:ellipsis;}
.ContainerHeader{margin:0px;min-height:25px;_height:25px;}
.ContainerHeader td div.partDetail{width:100%;}
.ContainerHeader td div.partDetail div.Title2{margin-right:8px;padding-left:8px;padding-top:5px;}
.wrap{overflow:hidden;word-wrap:break-word;}
#layoutManager{table-layout:fixed;width:778px;}
div.CommentBoxWrapper{padding:2px;}
div.InputWrapper{padding:2px;}
div.InputWrapper input{border:none;padding:0px;}
div.InputWrapper select{width:100%;}
div#SpacesPopOversSimplePopOver div.InputWrapper input{width:378px;}
#previewbox{display:none;width:100%;height:320px;overflow:auto;}
#PE{width:100%;overflow:auto;height:272px;}
#rtebox{display:block;}
.MSN_EDITBOXHTML{height:272px;}
div#beTopRow td.label{width:65px;text-align:right;}
#tbinfo{display:none;}
.COMMENTENTRY textarea{height:100px;}
#DLEditBox{height:272px;visibility:hidden;}
.ccButtonBar{margin:5px 0px;text-align:right;}
.ccButtonBar button{margin:0px 0px 0px 5px;}
.inlineSpaceTitle{padding-right:8px;}
.blogPaging a img{padding-left:2px;}
.bvSection{margin-bottom:8px;}
.bvError{padding:2px 0px;width:100%;}
.infoBar{margin-bottom:2px;padding:2px 10px;text-align:left;}
.infoBarText{width:67%;}
.infoBar.fullWidth{border-left-style:none;border-right-style:none;}
.BlogCommentPane{margin-top:5px;}
.msbluerow td{padding:2px 3px;vertical-align:top;}
#tblStatus{width:602px;table-layout:fixed;}
.blueBox{margin:10px;}
div#bePicRow img{padding-right:5px;}
img.noFlash{width:96px;height:69px;}
.catlist{word-wrap:break-word;overflow:hidden;}
.MPInfo{padding:8px;}
.SUHeading{font-size:medium;font-weight:bold;}
.SUTableLayout{border:hidden;margin-left:auto;margin-right:auto;border-collapse:collapse;}
.SUWizContent{padding:5px 10px 5px 20px;display:block;}
.SUContentPane{padding:2px;background-color:#ffffff;vertical-align:top;}
.SUSugs{margin-left:20px;margin-top:4px;}
.SUHeadingTblCol{height:30px;}
.SUPanel2{margin-left:1px;margin-right:1px;padding:0px 0px 2px;}
.SUProfileName{border:1px solid #79b0cb;vertical-align:middle;width:360px;}
.SUFileInput{border:1px solid #79b0cb;vertical-align:middle;width:360px;}
.txtURL{margin-right:10px;width:150px;}
.SSDs{padding:0px 5px 0px 0px;}
.MiniSUMargin{margin:auto;}
.SaveRow{padding:6px;text-align:right;}
.DateTimeInput{width:140px;}
.BSCategory{padding:0px 5px;word-wrap:break-word;width:210px;}
.pad8{padding:8px;}
.ProfileQuote{padding:6px;text-align:left;}
.MsngrIFrame{margin:0px 0px 0px 8px;width:360px;height:260px;overflow:hidden;}
.titleSpacing{margin-bottom:8px;}
.raDefaultSpacing{margin-bottom:8px;}
.photoReSize{padding:2px;max-width:48px;max-height:48px;}
.raFolderImage{max-width:16px;max-height:16px;}
.H2WithoutDefaultSpacing{margin-top:0px;margin-bottom:0px;padding-top:0px;padding-bottom:0px;zoom:1;}
.PadTop30{padding-top:30px;}
.PadTop20{padding-top:20px;}
.PadTop16{padding-top:16px;}
.PadTop10{padding-top:10px;}
.PadTop8{padding-top:8px;}
.PadTop5{padding-top:5px;}
.PadTop4{padding-top:4px;}
.PadBottom5{padding-bottom:5px;}
.PadBottom4{padding-bottom:4px;}
.PadLeft150{padding-left:150px;}
.PadLeft21{padding-left:21px;}
.PadLeft16{padding-left:16px;}
.PadLeft12{padding-left:12px;}
.PadLeft8{padding-left:8px;}
.PadLeft6{padding-left:6px;}
.PadLeft4{padding-left:4px;}
.PadLeft0{padding-left:0px;}
.PadRight5{padding-right:5px;}
.PadRight4{padding-right:4px;}
.PadRight8{padding-right:8px;}
.PadRight16{padding-right:16px;}
.MarginRight8{margin-right:8px;}
.FloatLeft{float:left;}
.FloatRight{float:right;}
.tableSpacing{border:hidden;border-collapse:collapse;}
#dlEditor table{width:800px;table-layout:fixed;}
#dlEditor table select{width:100%;}
.Spaces_Customize_LayoutTab div.layoutContainer a{padding:5px;display:block;}
.Spaces_Customize_LayoutTab div.layoutContainer{padding:12px;float:left;}
.Spaces_Customize_LayoutTab a:hover{background-color:#EDF2FB;}
.Spaces_Customize_LayoutTab a:active{background-color:#EDF2FB;}
.Spaces_Customize_LayoutTab a.SelectionBG{background-color:#D2EAF6;}
div.bvCommentsPane{clear:both;}
div.bvCommentsPane td.bvCommentDelete{padding:25px 5px;height:14px;width:14px;text-align:center;}
td.bvContactControl, div.bvContactControl{height:85px;width:85px;}
table.blogCommentEntryTable{word-wrap:break-word;table-layout:fixed;width:100%;}
td.blogCommentContactControl{width:13%;}
div.bvCommentsPane ul.bvCommentUL{margin:0px;padding:0px;list-style:none;}
div.bvCommentsPane ul.bvCommentUL li.bvComment{margin-bottom:10px;clear:left;}
div.bvCommentsPane ul.bvCommentUL li.bvComment table tr td, div.bvCommentsPane table tr td{vertical-align:top;}
div.bvCommentText{padding-top:5px;padding-bottom:5px;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;width:100%;}
ul.bvTrackbacks li{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
td.bvEntryTrackbackUrl{padding-right:10px;}
td.bvEntryTrackbackUrl a, td.bmTrackbackUrl a{text-overflow:ellipsis;overflow:hidden;width:100%;display:block;white-space:nowrap;}
.bvMsg{width:100%;overflow:hidden;text-overflow:ellipsis;}
embed{max-width:100% !important;}
td.bmTrackbackUrl{padding-left:10px;padding-right:10px;}
table.fixedTable{table-layout:fixed;}
.abArea{padding:5px;width:355px;overflow:auto;}
.abSendMailArea{padding-left:20px;width:370px;}
.abSendmailPageHeader{margin:0px;padding:0px;}
.abHeader{width:350px;height:300px;overflow:auto;}
.abTable{border:none;width:94%;table-layout:fixed;overflow:hidden;}
.abTopRow{height:25px;}
.colCbox{padding:3px;text-align:center;width:20px;}
.colNameH{padding-left:3px;}
.colMSNAdrH{padding-left:3px;}
.colName{padding:3px;overflow:hidden;}
.colGName{padding:3px;overflow:hidden;font-weight:bold;}
.colMSNAdr{padding:3px;overflow:hidden;}
.colGMSNAdr{padding:3px 3px 3px 12px;overflow:hidden;font-weight:bold;}
.listcell{padding:3px 0px 3px 3px;text-overflow:ellipsis;overflow:hidden;}
.listButtoncell{padding:3px 0px 3px 3px;text-overflow:ellipsis;overflow:hidden;text-align:center;vertical-align:top;}
.listcellFullView{padding:3px 0px 3px 16px;text-overflow:ellipsis;overflow:hidden;vertical-align:top;}
.listcellFullViewFirst{padding:3px 0px 2px 5px;text-overflow:ellipsis;overflow:hidden;vertical-align:top;}
.divHideBg{position:absolute;top:0;left:0;z-index:900;background-color:white;opacity:0.5;filter:alpha(opacity=50);}
.listDescription{width:100%;overflow:hidden;text-overflow:ellipsis;}
.listHeaderColumnWidth{width:100%;}
.spList .sppIcon{border:none;height:16px;width:16px;}
.spList .fullViewEdit{width:90px;}
.spList textarea.textEditBox{overflow:auto;word-wrap:break-word;}
.spList .fullListAuthContent{width:170px;}
.spList .fullListVisitorContent{width:258px;}
.tableListEntryControl{width:100%;table-layout:fixed;position:relative;z-index:100000;}
.listCommonFieldsTextbox{width:300px;}
.listButtonBar{padding-top:2px;padding-bottom:2px;}
.line{border:none;height:1px;font-size:1px;}
#ListErrorArea{padding:4px;}
.orderColumn{padding:3px 0px 3px 3px;text-align:center;vertical-align:top;width:66px;}
.orderNumberTextbox{width:25px;vertical-align:top;}
.spList .thumbnailCell{width:65px;vertical-align:top;}
.spList .listErrorCell{padding:5px;}
.spList .musicAddBox{width:300px;}
.spList .fullMusicAuthContent{width:170px;}
.spList .fullMusicSearchCell{width:131px;}
.spList .fullMusicLargeSongCell{width:210px;}
.ratingsCell{width:100px;}
.spList #importArea{height:350px;width:100%;overflow-y:auto;display:block;}
.star{cursor:pointer;}
.spList .MSNE_MovieThumbnail{padding:4px 4px 4px 0px;float:left;}
.MSNE_FullWidth{width:100%;}
.MSNE_matchSelRWidth{width:23px;}
.MSNE_matchSelCWidth{width:180px;}
.MSNE_matchSelTWidth{width:436px;}
.MSNE_matchSelCell{padding:3px 0px 3px 16px;}
.MSNE_matchSelCellFirst{padding:3px 0px;}
.msne_movieprovider{padding-top:4px;text-align:right;}
.msne_movieprovider img{vertical-align:middle;width:31px;height:11px;}
.ReorderDiv{border:1px solid;margin-left:-8px;margin-top:-8px;margin-bottom:10px;width:100%;}
.GSMainTable{width:100%;}
.GSLinkCol{vertical-align:top;}
.GSLinkImages{width:48px;height:48px;vertical-align:top;display:block;}
div#pageFrame{margin-left:auto;margin-right:auto;padding:0px;width:1000px;border-collapse:collapse;}
.PageMinHeight{height:400px;overflow:visible;}
.fullPageOuter{height:100%;}
.SubContainer{clear:both;}
.SubContainer .TitleBar{zoom:1;}
.SubContainer .TitleBar h5{margin:0px;padding:0px;float:left;}
.SubContainer .TitleBar .ControlBox{float:right;}
.SubContainer .TitleBar .ControlBox img{border:none;}
.SubContainer .PagingControlBox{text-align:right;}
.SubContainer .PagingControlBox a img{padding-left:2px;}
.SubContainer .Content{padding:0px 8px 8px;clear:both;}
.BlogMgtPageCCControl{margin-left:40px;}
.SmartAlignRight{text-align:right;}
.SmartAlignLeft{text-align:left;}
input.LTRbox{direction:ltr;text-align:left;}
.ltrText{unicode-bidi:bidi-override;text-align:left;direction:ltr;}
table.spNavHoriz{width:100%;}
ul.List img{border:none;padding-right:3px;vertical-align:middle;}
ul.IconList img{height:16px;width:16px;}
.LeftNav .spNavHoriz .IconList li{float:left;}
.LeftNav .spNavHoriz .IconList li a{padding:2px 8px 0px 5px;height:2em;}
* html .LeftNav .spNavHoriz .IconList li a{float:left;}
div#AdContainer{padding:1px 0px;text-align:center;}
ul#Breadcrumb{margin:0px;padding:0px;height:18px;}
td.bvRssIcon{padding-left:12px;width:16px;}
img.HoverButton{border:none;}
div.bvEntry{clear:both;overflow:hidden;width:100%;}
div.Notify{vertical-align:baseline;}
.nowrap{white-space:nowrap;}
div#blogEntryDiv table.blogEntryFields tr td{padding-bottom:3px;}
div.SN_beFooter{clear:both;overflow:hidden;}
div.profileTileContainer{margin-left:24px;margin-top:8px;margin-bottom:0px;height:112px;}
div.BottomSubNavRight{padding:4px 8px;text-align:right;}
td.profileTileName, td.profileTileValue, td.profileTileFreeText{padding-bottom:3px;vertical-align:top;}
td.profileTileName, td.profileTileFreeText, h2.profileTileDisplayName, #prof_message, #prof_addfriend{padding-left:3px;}
#prof_message, #prof_addfriend{padding-top:4px;padding-bottom:4px;}
td.profileTileName{width:80px;}
td.profileTileValue, td.profileTileFreeText{padding-left:2px;padding-right:4px;}
.profileTileWrapText{word-wrap:break-word;overflow:hidden;text-overflow:ellipsis;}
table.profileTileData{margin-top:12px;}
.groupProfileName, .groupProfileFreeText{padding-bottom:1px;}
div.profileTileMoreLink{padding-top:4px;text-align:left;}
.groupProfileTopPad{padding-top:15px;}
.groupProfileName{font-weight:bold;word-wrap:break-word;}
.groupProfileFreeText{word-wrap:break-word;}
td.groupCreateName{padding:6px 6px 6px 0px;vertical-align:top;width:100px;}
td.groupCreateValue{padding:6px;vertical-align:top;}
.groupPermissionModerated{padding-left:20px;white-space:nowrap;}
span.profTagSrch a{padding-right:5px;}
tr.photoItem td{vertical-align:middle;}
tr.photoItem td a img{padding-right:2px;vertical-align:bottom;}
.tnt_wordwrap{word-wrap:break-word;}
.tnr_div_sep{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#c7c7c7;}
div.tnt_group_pane{padding-left:15px;}
div.bvPostCommentInner{padding:8px;}
div.bvPostCommentInner div.InputWrapper{margin-bottom:4px;}
div.MPBody{text-align:left;}
button#formMediaSubmit{margin-top:0.2em;margin-bottom:0.2em;width:140px;}
button#formMediaRevert{margin-top:0.2em;margin-bottom:0.2em;width:140px;}
select.wmp_mode{width:100%;}
div.wmp_formrow{padding-top:5px;vertical-align:baseline;}
div#wmp_coc{margin-top:5px;}
input.wmp_urlinput{width:100%;}
.contentRss{border-width:0px;width:100%;height:100%;}
.contentRssContainer{border-width:0px;}
.RssPart{table-layout:fixed;}
.visible{display:block;}
.invisible{display:none;}
.valueFeedUrl{width:100%;}
.valueFeedName{width:100%;}
#rssViewDiv{overflow:auto;}
#rssViewContainer{position:absolute;width:300px;z-index:2;display:none;background-color:White;}
.rsspart_loading{padding-right:5px;vertical-align:middle;}
#rssSettingTable{border-width:0px;width:60%;}
#rssSettingTable td.rowheader{white-space:nowrap;width:30%;}
#rssSettingTable td.rowinput{padding-right:8px;}
#rssSettingTable tr.rowhight{height:30px;}
.overflowEllipsis{overflow:hidden;text-overflow:ellipsis;}
.PhotosViewer{position:relative;width:100%;float:left;}
div.PhotosMain, div.PhotosMainSpaceView{width:100%;text-align:center;}
div.PhotosMainSpaceView{padding:5px 0px;}
.PhotosInviteFieldLabels{padding-right:4px;padding-top:12px;white-space:nowrap;text-align:right;vertical-align:middle;}
.PhotosInviteFields{padding-top:12px;vertical-align:middle;width:600px;}
div.PhotosMainSpaceView .viewerClass, div.PhotosMainSpaceView #idProgressText, div.PhotosMainSpaceView #idFilmstripContainer, div.PhotosMainSpaceView .controlsContainer, div.PhotosMainSpaceView #idCommentLinks{margin:auto;}
.viewerClass{position:relative;text-align:left;}
#idProgressText{padding:0px 0px 7px;position:relative;}
#idFilmstripContainer{position:relative;}
.controlsContainer{padding:7px 0px;position:absolute;clear:both;text-align:left;width:100%;height:26px;}
#idCommentLinks{position:relative;overflow:hidden;clear:both;}
.RightHeavyThreeCol #SupplementalW #idCommentLinks a, .LeftHeavyThreeCol #SupplementalE #idCommentLinks a, .BackwardsTwoCol #SupplementalE #idCommentLinks a, .ClassicTwoCol #SupplementalW #idCommentLinks a, .ClassicThreeCol #SupplementalW #idCommentLinks a, .ClassicThreeCol #SupplementalE #idCommentLinks a{display:block;}
.RightHeavyThreeCol #SupplementalW #idCommentLinks span, .LeftHeavyThreeCol #SupplementalE #idCommentLinks span, .BackwardsTwoCol #SupplementalE #idCommentLinks span, .ClassicTwoCol #SupplementalW #idCommentLinks span, .ClassicThreeCol #SupplementalW #idCommentLinks span, .ClassicThreeCol #SupplementalE #idCommentLinks span{display:none;}
#idDetailsRight{padding:7px 0px;text-align:left;float:right;display:none;position:relative;overflow:hidden;}
div#divBody td{padding:0px 5px;}
.photoAlbumsThumbnailNoAlbums{padding:5px;}
.photoAlbumsThumbnailGrid{margin-left:0px;padding-left:0px;list-style:none;height:100%;}
.photoAlbumsThumbnailItem{padding:0px 8px 10px 0px;float:left;width:116px;}
.photoAlbumsThumbnailImageDiv{position:relative;width:116px;height:116px;background-color:#ffffff;background:url(../../photoalbum/images/Album_116x116.png) no-repeat;text-align:left;cursor:pointer;}
.photoAlbumsThumbnailTextDiv{width:116px;text-align:center;overflow:hidden;text-overflow:ellipsis;}
.photoAlbumsThumbnailCount{padding-top:8px;cursor:default;}
.photoAlbumsThumbnailName{padding-top:4px;}
.photoOrderPrintsThumbnailTextDiv{padding-top:0px;width:auto;height:auto;text-align:center;overflow:hidden;text-overflow:ellipsis;}
.photoThumbnailSelectImageDiv{padding:0px;position:relative;left:0px;width:116px;height:116px;text-align:left;}
.photoThumbnailSelectCheckDiv{position:relative;left:8px;top:5px;z-index:1;}
.photoAlbumPickerHeader{margin-bottom:1px;width:100%;}
.photoAlbumPickerHeaderCell{padding:8px 8px 8px 0px;}
.photoAlbumPickerDiv{display:block;position:relative;width:100%;overflow-y:auto;overflow-x:hidden;}
.photoWidthFull{width:100%;}
.photoAlbumPickerItemCell{padding:4px 0px 4px 8px;}
.photoAlbumPickerSeqCell{padding:4px 15px 4px 0px;width:0;}
.photoAlbumPickerItemUpDiv{padding:0px 0px 3px;display:none;}
.photoAlbumPickerItemDownDiv{padding:3px 0px 0px;display:none;}
.albumPickerLink{display:block;cursor:pointer;}
.albumPickerLink:hover{text-decoration:none;}
.albumPickerTable{width:100%;cursor:pointer;}
div#albumPicker{clear:both;}
.editTableCell{padding:0px 5px 8px 0px;text-align:left;}
.editAlbumText{border:1px solid #000;padding:0px 3px;width:200px;line-height:12pt;}
input.photoThumbnailSelectBigCheckbox{width:13px;height:13px;}
table.DetailSectionBody{table-layout:fixed;}
table.DetailSectionBody td#tdComment{word-wrap:break-word;}
td#tdDelete{width:16px;}
.home .ContainerHeader{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#aaa;background-image:url(../../../images/HomeContainer128.png);background-position:50%;}
.home .ContainerMovable{border:1px solid #aaa;background:none;}
.home .ContainerFullView{border:1px solid #aaa;background:none;}
.home .ContainerLeftNav{border:1px solid #aaa;background:none;}
.homelist .identctrl .ci{position:static;}
.displayName{font-size:large;font-family:Verdana;font-weight:bold;word-wrap:break-word;}
.greeting{font-size:medium;font-family:Verdana;font-weight:bold;}
.logoContainer{padding:8px 8px 8px 0px;vertical-align:top;overflow:visible;}
.logoText{font-size:x-large;font-family:Segoe UI;color:#31a4dd;}
.eventsHomeHeading{font-size:medium;font-family:Segoe UI;font-weight:bold;}
.errorstate{color:Gray;}
.mirrortextwrap{overflow:hidden;white-space:normal;}
.searchadscell{vertical-align:top;text-align:left;width:140px;}
.searchadscellmatchdotcom{vertical-align:top;width:140px;}
.searchadstitle{padding-top:19px;font-family:Tahoma;font-size:11px;}
.searchadsfirstrow{padding-left:7px;padding-top:20px;font-family:Tahoma;font-size:11px;}
.searchadstable{border-left-width:1px;border-bottom-width:1px;border-left-style:solid;border-bottom-style:solid;width:140px;}
.searchadsfirstrow a{text-decoration:underline;}
.searchadsrow{padding-left:7px;padding-right:7px;font-family:Tahoma;font-size:11px;}
.whatsnewmodule{width:475px;vertical-align:top;}
.mygroupsmodule{width:475px;vertical-align:top;}
.PadLeft5{padding-left:5px;}
.PadLeft6{padding-left:6px;}
.PadLeft8{padding-left:8px;}
.PadRight4{padding-right:4px;}
.pmListText{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
a.swatch{border:1px solid #aaa;margin:2px 4px 0px 0px;padding:1px;display:block;float:left !important;width:13px;height:13px;}
a.swatch:hover{border:1px solid #e9eaf1;margin:2px 4px 2px 0px;padding:1px;display:block;float:left;width:13px;height:13px;}
DIV.colorrow .colorinput, a.defswatchon, a.defswatch, a.swatchon{float:left !important;}
.colorpicker_popup_contents{border:1px solid black;background:white;white-space:nowrap;z-index:10000010;}
.colorpicker_colortable{padding:0px;text-align:center;}
.colorpicker_row{margin:0px;padding:0px;white-space:nowrap;clear:both;}
.colorpicker_swatch{border:1px solid black;margin:1px;display:block;float:left;width:14px;height:14px;cursor:pointer;text-decoration:none !important;}
.colorpicker_morecolors{text-align:center;clear:both;}
.colorpicker_swatch:hover{border:1px solid orange;}
.colorpicker_morecolors a{font:10pt arial bold !important;color:black !important;}
#id_ip_instructions{margin-top:5px;margin-bottom:5px;padding-left:10px;float:left;font-size:x-small;width:64%;}
#id_ip_paging{margin-right:10px;margin-top:5px;margin-bottom:5px;padding-right:5px;float:right;font-size:x-small;text-align:right;}
#id_ip_strip{margin-top:3px;padding-bottom:10px;float:left;width:99%;}
#id_ip_left{padding-top:55px;padding-bottom:55px;float:left;height:10px;}
#id_ip_right{padding-top:55px;padding-bottom:55px;float:right;height:10px;}
#listThumbs{margin:0px;padding:0px;float:left;}
#listThumbs li{border:1px solid #777;margin-left:2px;margin-right:2px;float:left;list-style-type:none;}
#listThumbs .ip_listItemImg{padding:3px;}
#listThumbs p{margin:0px 0px 5px;padding:5px;clear:both;font-size:x-small;text-align:center;height:2em;line-height:120%;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:90%;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
table.ep_data_table tr td img{padding-right:10px;}
table.ep_data_table td.ep_data_table_left{width:80px;}
table.ep_data_table td.ep_data_table_right{width:100px;}
.ccsection{text-align:left;}
td.ccViewContactControlWide{width:90px;}
td.ccViewContactControlMid{width:65px;}
a.ccViewDeleteLink{padding-left:8px;}
input.ccViewDeleteBox{margin-left:5px;width:100%;}
div.ccViewContactControl{padding-bottom:10px;}
div.ccViewAuthorUrl{text-overflow:ellipsis;overflow:hidden;}
div.ccViewComment{padding-top:10px;overflow:hidden;}
div.ccAddFieldWrapper{width:400px;}
div.ccAddFieldWrapper Input{width:100%;}
.SPTransparency{zoom:1;}
#ProfileContactControl div.identctrl table a img.IcPh{position:relative;}
.ColorPickerAnchor{margin-left:2px;margin-top:2px;display:block;float:left;}
table.profileEditContent select{font-size:small;}
.ProfEdInlineField #Img_0_Binary{font-size:small;}
div.CustomizeDialogMenuBar div.TemplatesTab{overflow-x:hidden;overflow-y:auto;}
div.CustomizeDialogMenuBar div.Body a{text-decoration:none;}
div.CustomizeDialogMenuBar div.Body ul.Categories li.Category{margin-top:4px;margin-bottom:4px;}
div.customizeMenuBar div.CustomizeDialogMenuBarHeading ul.TabsList li a{color:#0066a7 !important;}
div.CustomizeDialogMenuBar div.Body ul.Categories hr{border-bottom-width:0px;margin-top:0px;margin-bottom:0px;clear:both;height:0;}
div.CustomizeDialogMenuBar div.Body{overflow-x:hidden !important;}
a#customizeAccessibleLink{text-decoration:none;}
a#customizeAccessibleLink:hover{text-decoration:underline;}
div.CustomizeDialogMenuBarHeading ul.TabsList li{z-index:7;}
div.CustomizeDialogMenuBar{z-index:6 !important;}
.spPartPrefPopover input, .spPartPrefPopover label{vertical-align:middle;}
.PadRight8{padding-right:8px;}
.PadLeft5{padding-left:5px;}
.MarginRight3{margin-right:3px;}
.MarginLeft_5{margin-left:-5px;}
.GuestlistIcon{border:none;padding-right:3px;height:16px;vertical-align:middle;width:16px;}
.PadLeft10{padding-left:10px;}
.PadLeft8{padding-left:8px;}
.PadLeft4{padding-left:4px;}
.PadLeft16{padding-left:16px;}
.PadLeft32{padding-left:32px;}
DIV.uxp_rte_editor{padding:0px;overflow:auto;width:100% !important;zoom:1;}
div.Spaces_Controls_GroupInfoMessageBar{margin-bottom:2px;padding-top:2px;padding-bottom:2px;text-align:left;clear:both;vertical-align:baseline;zoom:1;}
div.Spaces_Controls_GroupInfoMessageBar img.Icon{padding-right:5px;height:16px;width:16px;}
div.Spaces_Controls_GroupInfoMessageBar a.DetailExpand{padding-left:5px;display:block;}
div.Spaces_Controls_GroupInfoMessageBar a.DetailExpand img{height:10px;width:10px;}
div.Spaces_Controls_GroupInfoMessageBar div.IBDetailContent{display:none;}
div.Spaces_Controls_GroupInfoMessageBar table{width:100%;table-layout:fixed;}
div.Spaces_Controls_GroupInfoMessageBar table td.Icon{padding-right:2px;width:16px;vertical-align:top;}
div.Spaces_Controls_GroupInfoMessageBar table td.DetailExpand{padding-left:5px;width:16px;vertical-align:top;}
div.Spaces_Controls_GroupInfoMessageBar table td.IBContent{color:#444444;}
.ImportanceHigh{background-color:#ffaeb9;}
.ImportanceMed{background-color:#ffffae;}
#PartsBucket{overflow:auto;overflow-x:hidden;overflow-y:scroll;width:400px;height:125px;}
#AddByEmail_Panel, #AddByContact_Panel{margin-left:4em;}
#idFilmstripContainer, #PhotosMainViewer{float:left;}
#embedSlideDiv, #embedImgDiv, #fullCommentAreaDiv{padding-top:10px;float:left;text-align:left;width:100%;}
#embedSlideAreaDiv, #embedImgAreaDiv{padding-top:8px;padding-bottom:5px;}
label#embedSlideInstructions, label#embedImageInstructions, label#toggleSlideEmbed, label#toggleImgEmbed{text-align:left;width:auto;}
#embedSlideLinkCodeObj, #embedImgLinkCodeObj{border:1px solid #777;padding:3px;height:auto;overflow:hidden;text-overflow:ellipsis;background-color:#DDDDDD;width:98%;}
#embedSlideCopyButton, #embedImgCopyButton{cursor:pointer;text-align:left;text-decoration:none;}
#photoGalleryUpsell{padding:5px;position:relative;}
#infoPaneFullViewButton{padding-top:2px;}
#SlideshowFullScreenContainer2{padding:2px 5px 0px;height:20px;}
.InfopaneItem, .InfopaneItemX{padding:5px 5px 0px;}
.MenuItem{position:relative;left:16px;}
img.AlighMiddle{vertical-align:middle;}
.photoFilmstrip, #divLeft, #divRight{position:relative;float:left;}
#divThumbs{margin:0px;padding:0px;float:left;}
.FilmstripThumbnail{padding:3px;float:left;}
#divHighlight{position:relative;}
.photoFilmstripBorderEffect{position:relative;background-color:white;}
.ThumbnailPanelMain{width:570px;float:left;}
.ThumbnailPanelRight{float:right;}
td.dlEditPageCaptionTd{padding-left:15px;}
td.tblControls1Td{padding-bottom:8px;text-align:left;}
#tblControls1Td0Id{padding-right:5px;}
#tblControls1Td1Id{padding-right:20px;}
td.divPhotosListTblTd{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#000;text-align:center;}
.PhotosMainWidth{width:600px;}
div#idDescriptionBottom{padding-top:5px;}
#addphotobuttoncaption{color:black;position:relative;left:-85px;top:-25px;cursor:pointer;}
div.DescriptionBottomFullMode{width:100%;overflow:hidden;text-overflow:ellipsis;}
div#spa_objPanelId{position:relative;width:100%;height:100%;}
span#thumbnailTitle{position:relative;left:4px;top:1px;right:4px;overflow:hidden;text-overflow:ellipsis;}
div.CustomUIChk1{padding-right:10px;width:100px;float:left;text-align:center;}
div.CustomUIChk2{width:70px;float:right;text-align:center;}
div.CustomUIImage{display:inline;width:116px;height:116px;float:left;}
div.CustomUITitle{padding-left:10px;padding-right:10px;min-width:120px;width:40%;text-overflow:ellipsis;text-align:left;overflow:hidden;float:left;}
span.CustomUIAlbumPhotoCount{text-align:left;}
li.ModuleEditAlbumList{height:116px;}
li.ModuleEditAlbumLiStyle{list-style:none;width:100%;}
td.ModuleEditInputs{padding-left:10px;}
div.PhotoActiveXDL{text-align:left;position:relative;}
.GadgetEditLink{text-align:left;}
.entry td, .entryhdr th, .COMMENTENTRY td{vertical-align:top;}
tr.SP_bmLast td{padding-bottom:8px;}
table#blogManagement{width:100%;table-layout:fixed;}
table#blogManagement td, table#blogManagement th{padding-left:5px;}
table#blogManagement th{text-align:left;}
td.SP_bmDelete, th.SP_bmDelete{padding-left:0px;width:25px;}
td.SP_bmTitleXSmall, th.SP_bmTitleXSmall{width:234px;}
td.SP_bmTitleSmall, th.SP_bmTitleSmall{width:267px;}
td.SP_bmTitleMed, th.SP_bmTitleMed{width:307px;}
td.SP_bmTitleLarge, th.SP_bmTitleLarge{width:333px;}
td.SP_bmTitleMed, td.SP_bmTitleSmall, td.SP_bmTitleLarge, td.SP_bmTitleXSmall{word-wrap:break-word;overflow:hidden;text-overflow:ellipsis;}
td.SP_bmCatSmall, th.SP_bmCatSmall{width:165px;}
td.SP_bmCatMed, th.SP_bmCatMed{width:290px;}
td.SP_bmCatMed, td.SP_bmCatSmall, td.SP_bmBy{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
td.SP_bmDate, th.SP_bmDate{overflow:hidden;width:167px;}
td.SP_bmBy, th.SP_bmBy{width:185px;}
span.SP_blogNowrap{white-space:nowrap;}
.bmwordwrap{overflow:hidden;word-wrap:break-word;width:260px;}
.blogerror{padding:9px;}
div.SP_bPubBy{padding-bottom:5px;}
li.bvLinkList{word-wrap:break-word;}
ul.blogArchives{margin:0px;padding:0px;list-style:none;zoom:1;}
ul.miniblog{margin:0px;padding:0px;list-style:none;}
ul.miniblog li{overflow:hidden;text-overflow:ellipsis;width:100%;display:block;white-space:nowrap;}
div.BlogSpaceView table{border:none;width:100%;}
div.BlogSpaceView table th{padding-bottom:5px;text-align:left;text-decoration:underline;font-weight:normal;}
div.BlogSpaceView table td{padding-left:2px;padding-right:10px;padding-bottom:8px;vertical-align:top;overflow:hidden;}
div.bvEntry .footerLinks{margin:10px 0px 0px;padding-top:3px;width:100%;clear:both;}
div.bvEntry .footerLinks nobr{zoom:1;}
div.bvEntry .footer{margin:0px 0px 10px;padding-top:3px;clear:both;}
span.embedVideos{padding:0px 12px;zoom:1;}
table#layoutManager{height:540px;width:100%;table-layout:fixed;clear:both;}
table#layoutManager td.region{vertical-align:top;}
div#toppage{margin-left:2px;margin-right:2px;margin-top:5px;padding-bottom:11px;width:990px;overflow:hidden;clear:both;}
div#toppage{padding-bottom:11px;width:990px;overflow:hidden;clear:both;}
div#toppage.singlePart{margin:5px 6px 0px;}
div#OuterPage{margin-left:8px;margin-right:8px;margin-top:5px;padding-bottom:11px;width:960px;overflow:hidden;text-align:left;clear:both;}
div#CenteredPage{margin-left:auto;margin-right:auto;width:980px;text-align:center;}
col.SupplementalW{width:0;}
col.SupplementalNE{width:0;}
col.SupplementalE{width:0;}
.FullView #FullViewNav{padding-right:5px;vertical-align:top;width:150px;height:100%;}
.FullView #MainFocus{width:830px;vertical-align:top;height:auto;}
.FullView #MainFocus .aspect3to4{height:434px;}
.FullViewNoLeftNav #MainFocus{width:985px;vertical-align:top;height:auto;}
.FullViewWithAd #FullViewNav{padding-right:5px;vertical-align:top;width:150px;height:100%;}
.FullViewWithAd #MainFocus{padding-right:5px;width:645px;vertical-align:top;height:auto;}
.FullViewWithAd #SupplementalE{width:180px;vertical-align:top;}
.FullViewWithAd #MainFocus .aspect3to4{height:483px;}
.OneCol col.MainFocus{width:990px;}
.OneCol #MainFocus spaces\:widget, .OneCol #MainFocus div.Widget{width:489px;float:left;}
.OneCol #MainFocus spaces\:widget.FullRegionWidth, .OneCol #MainFocus div.Widget.FullRegionWidth{width:984px;}
.OneCol #MainFocus .aspect3to4{height:386px;}
.RightHeavyThreeCol col.SupplementalW{width:185px;}
.RightHeavyThreeCol col.MainFocus{width:402px;}
.RightHeavyThreeCol col.SupplementalE{width:403px;}
.RightHeavyThreeCol #SupplementalW .aspect3to4{height:102px;}
.RightHeavyThreeCol #MainFocus .aspect3to4, .RightHeavyThreeCol #SupplementalE .aspect3to4{height:231px;}
.LeftHeavyThreeCol col.SupplementalW{width:403px;}
.LeftHeavyThreeCol col.MainFocus{width:402px;}
.LeftHeavyThreeCol col.SupplementalE{width:185px;}
.LeftHeavyThreeCol #SupplementalE .aspect3to4{height:102px;}
.LeftHeavyThreeCol #MainFocus .aspect3to4, .LeftHeavyThreeCol #SupplementalW .aspect3to4{height:231px;}
.LeftNarrowRightWideThreeCol col.SupplementalW{width:200px;}
.LeftNarrowRightWideThreeCol col.MainFocus{width:470px;}
.LeftNarrowRightWideThreeCol col.SupplementalNE{width:0;}
.LeftNarrowRightWideThreeCol col.SupplementalE{width:305px;}
.LeftNarrowRightWideThreeCol #SupplementalW{padding-right:5px;}
.LeftNarrowRightWideThreeCol #SupplementalW div.spDefaultFrame{width:193px;}
.LeftNarrowRightWideThreeCol #MainFocus{padding-right:5px;}
.LeftNarrowRightWideThreeCol #MainFocus div.spDefaultFrame{width:465px;}
.LeftNarrowRightWideThreeCol #SupplementalE div.spDefaultFrame{width:300px;}
.TwoColLeftHeavy col.MainFocus{width:675px;}
.TwoColLeftHeavy col.SupplementalE{width:305px;}
.TwoColLeftHeavy #SupplementalE div.spDefaultFrame{width:300px;}
.TwoColLeftHeavy #MainFocus{padding-right:5px;}
.TwoColLeftHeavy #MainFocus spaces\:widget, .TwoColLeftHeavy #MainFocus div.Widget{width:332px;float:left;}
.TwoColLeftHeavy #MainFocus spaces\:widget.FullRegionWidth, .TwoColLeftHeavy #MainFocus div.Widget.FullRegionWidth{width:670px;}
.BackwardsTwoCol col.MainFocus{width:802px;}
.BackwardsTwoCol col.SupplementalE{width:188px;}
.BackwardsTwoCol #MainFocus spaces\:widget, .BackwardsTwoCol #MainFocus div.Widget{width:395px;float:left;}
.BackwardsTwoCol #MainFocus spaces\:widget.FullRegionWidth, .BackwardsTwoCol #MainFocus div.Widget.FullRegionWidth{width:796px;}
.BackwardsTwoCol #MainFocus spaces\:widget.FullRegionWidth .aspect3to4{height:386px;}
.BackwardsTwoCol #SupplementalE .aspect3to4{height:104px;}
.ClassicTwoCol col.SupplementalW{width:188px;}
.ClassicTwoCol col.MainFocus{width:802px;}
.ClassicTwoCol #SupplementalW .aspect3to4{height:104px;}
.ClassicTwoCol #MainFocus spaces\:widget, .ClassicTwoCol #MainFocus div.Widget{width:395px;float:left;}
.ClassicTwoCol #MainFocus spaces\:widget.FullRegionWidth, .ClassicTwoCol #MainFocus div.Widget.FullRegionWidth{width:796px;}
.ClassicTwoCol #MainFocus .aspect3to4{height:386px;}
.ClassicThreeCol col.SupplementalW{width:185px;}
.ClassicThreeCol col.MainFocus{width:620px;}
.ClassicThreeCol col.SupplementalE{width:185px;}
.ClassicThreeCol #SupplementalW spaces\:widget, .ClassicThreeCol #SupplementalW div.Widget{width:auto;}
.ClassicThreeCol #MainFocus spaces\:widget, .ClassicThreeCol #MainFocus div.Widget{width:304px;float:left;}
.ClassicThreeCol #MainFocus spaces\:widget.FullRegionWidth, .ClassicThreeCol #MainFocus div.Widget.FullRegionWidth{width:614px;}
.ClassicThreeCol #MainFocus .aspect3to4{height:382px;}
.ClassicThreeCol #SupplementalW .aspect3to4, .ClassicThreeCol #SupplementalE .aspect3to4{height:107px;}
.SymmetricTwoCol col.MainFocus{width:495px;}
.SymmetricTwoCol col.SupplementalE{width:495px;}
.SymmetricTwoCol .aspect3to4{height:293px;}
.SymmetricFourCol col.SupplementalW{width:247px;}
.SymmetricFourCol col.MainFocus{width:248px;}
.SymmetricFourCol col.SupplementalNE{width:248px;}
.SymmetricFourCol col.SupplementalE{width:247px;}
.SymmetricFourCol .aspect3to4{height:134px;}
spaces\:widget, div.Widget{padding-left:6px;padding-bottom:8px;display:block;vertical-align:top;}
td#SupplementalN .aspect3to4, td#SupplementalS .aspect3to4{height:386px;}
td#SupplementalN spaces\:widget, td#SupplementalN div.Widget, td#SupplementalS spaces\:widget, td#SupplementalS div.Widget{width:489px;float:left;}
td#SupplementalN spaces\:widget.FullRegionWidth, td#SupplementalN div.Widget.FullRegionWidth, td#SupplementalS spaces\:widget.FullRegionWidth, td#SupplementalS div.Widget.FullRegionWidth{width:984px;}
td#MainFocus{height:500px;}
div.EmptyRegionMarker{margin:0px 0px 8px 6px;padding:4px;}
.sppFolderListContainer{padding:4px 0px 6px;}
.sppFolderItemContainer{margin:0.2em;cursor:pointer;position:relative;width:8em;height:9em;float:left;}
.sppFolderItemImage{margin-left:-24px;padding-top:2px;position:absolute;left:4.05em;top:0;width:48px;height:48px;}
.sppFolderItemText{position:absolute;left:.3em;top:52px;text-overflow:ellipsis;word-wrap:break-word;overflow:hidden;width:7.4em;height:4em;text-align:center;}
.LeftNav ul.List li a{word-wrap:break-word;}
.LeftNav ul.List li a div.spLNNoWrap{width:100%;white-space:nowrap;text-overflow:ellipsis;}
.LeftNav ul.List li a div{overflow:hidden;cursor:pointer;}
.LeftNav ul.List li a.disabledLink div{cursor:text;}
.LeftNav ul.List li a img{padding-right:5px;}
.LeftNav img.spLNIcon{float:left;height:16px;width:16px;}
html.Firefox .LeftNav div.spLNIconText{display:inline;}
.LeftNav select{margin:8px 0px 2px 12px;}
.spDefaultFrame{overflow:hidden;}
.spDefaultFrame .sppPartTitle td.sppfMenuCell{padding:0px 5px;vertical-align:middle;width:15px;}
.spDefaultFrame .sppPartTitle a.sppfMenu{display:block;height:15px;width:15px;vertical-align:middle;text-align:center;}
.spDefaultFrame .sppPartTitle ul{margin:0px;padding-left:8px;list-style:none;}
.spDefaultFrame .sppPartTitle ul li{border-right-width:1px;border-right-style:solid;border-right-color:black;margin-right:8px;padding-right:4px;display:inline;zoom:1;}
.spDefaultFrame .sppPartTitle ul li.stacked{border-right-style:none;margin-right:8px;padding-right:4px;display:block;}
.spDefaultFrame .sppPartTitle ul li.last{border-right-style:none;margin-right:0px;padding-right:0px;}
.spAToolbar{min-height:30px;_height:30px;}
.spAToolbar .sppIcon{border:none;padding-right:5px;vertical-align:middle;height:16px;width:16px;}
.spAToolbar ul{margin:0px;padding:8px;list-style:none;}
.spAToolbar li{padding-right:21px;padding-bottom:4px;display:block;}
.spAToolbar .LeftToolBarItems li{float:left;}
.spAToolbar .RightToolBarItems li{float:right;}
.spAToolbar li.sppLast{padding-right:0px;}
.spAToolbar li a{white-space:nowrap;}
.spAToolbar .sppMenuItem{white-space:nowrap;}
.XBoxGamerCardFLALLeft{border:none;padding-left:10px;}
.XBoxGamerCardFLALRight{border:none;text-align:right;}
.XBoxGamerCardFLALNarrowLeft{border:none;padding-left:4px;}
.XBoxGamerCardFLALNarrowRight{border:none;width:50px;text-align:right;}
.XBoxGamerCardTitleTable{padding:0px;table-layout:fixed;width:100%;overflow:hidden;word-wrap:break-word;word-break:break-all;}
.XBoxGamerCardTitleTable_IENormal{padding:0px;width:100%;background-color:White;}
.XBoxGamerCardTitleContainer{position:relative;width:100%;}
.XBoxGamerCardTitleBar{position:absolute;left:0;top:0;font-weight:bold;z-index:1;width:100%;height:17px;}
.XBoxGamerCardTitleBarCell{padding:0px;}
.XBoxGamerCardTitleLink{padding-left:2px;color:#000000;font-size:9pt;width:100%;}
.XBoxGamerCardTitleLinkNarrow{color:#000000;width:100%;}
.XBoxGamerCardTitleNormalLeft{background-repeat:no-repeat;background-position:left 0;}
.XBoxGamerCardTitleNormalRight{background-repeat:no-repeat;background-position:right 0;}
.XBoxGamerCardContent{border:none;margin-left:0px;margin-right:0px;table-layout:fixed;width:100%;}
.XBoxGamerCardRecentGame{margin-right:10px;}
.XBoxRecentGameValue{text-align:right;}
.XBoxRecentGame{border:none;margin:0px;table-layout:fixed;}
.XBoxRecentGameValueMini{text-align:right;}
.XBoxRecentGameMiniRow{border:none;margin:0px 0px 0px 1px;height:20%;}
div.Spaces_Controls_NotificationBar{margin-bottom:2px;padding-top:2px;padding-bottom:2px;text-align:left;clear:both;vertical-align:baseline;zoom:1;}
div.Spaces_Controls_NotificationBar img.Icon{padding-right:5px;height:16px;width:16px;}
div.Spaces_Controls_NotificationBar a.DetailExpand{padding-left:5px;display:block;}
div.Spaces_Controls_NotificationBar a.DetailExpand img{height:10px;width:10px;}
div.Spaces_Controls_NotificationBar div.NBDetailContent{display:none;}
div.Spaces_Controls_NotificationBar table{width:100%;table-layout:fixed;}
div.Spaces_Controls_NotificationBar table td.Icon{padding-right:2px;width:16px;vertical-align:top;}
div.Spaces_Controls_NotificationBar table td.DetailExpand{padding-left:5px;width:16px;vertical-align:top;}
div.Spaces_Controls_NotificationBar div.NBContent{color:#444444;}
.Spaces_Controls_Paging span{padding-left:5px;padding-right:5px;}
.Spaces_Controls_Paging a{padding-left:1px;padding-right:1px;vertical-align:middle;}
.Spaces_Controls_Paging a img{border:none;height:10px;width:10px;}
div.Spaces_Controls_Popover_Background{z-index:1000000;background-color:#fff;opacity:0.5;filter:alpha(opacity=50);}
div.Spaces_Controls_Popover{background-color:#fff;white-space:normal;z-index:1000001;}
div.Spaces_Controls_Popover div.Body{padding:8px;background-color:#fff;color:#444;align-vertical:top;clear:both;overflow:hidden;word-wrap:break-word;text-align:left;}
div.Spaces_Controls_Popover div.Body a{color:#0066A7;}
div.Spaces_Controls_Popover div.Body a:visited{color:#6E4987;}
div.Spaces_Controls_Popover div.Body select{margin:0px;padding:0px;}
div.Spaces_Controls_Popover div.Body label{color:#444;}
div.Spaces_Controls_Popover div.Header{padding:8px 8px 5px;text-align:left;overflow:hidden;word-wrap:break-word;}
div.Spaces_Controls_Popover div.Footer{padding:8px;text-align:right;overflow:hidden;word-wrap:break-word;}
div.Spaces_Controls_Popover div.Header h3{margin:0px;float:left;}
div.Spaces_Controls_Popover div.Header .ControlBox{float:right;}
span.Spaces_Controls_Popover_Outer{float:left;display:block;height:0;width:0;}
div.Spaces_Controls_Popover div.Body div.InputWrapper{border-color:#444;}
img.FloatImage{margin-right:8px;float:left;}
.MirrorModuleElement{margin-left:4px;margin-bottom:0px;padding:0px;list-style:none;}
.MirrorModuleIcon{padding-right:5px;vertical-align:middle;}
.ExploreSpacesIcon{padding-right:5px;vertical-align:middle;height:16px;width:16px;}
.WhatsNewDate{padding-left:8px;padding-right:8px;padding-top:2px;float:right;text-align:right;}
.WhatsNewNonFloatDate{padding-left:8px;padding-right:8px;padding-top:2px;text-align:right;}
.sn_lbar_bkgnd, .sn_lbar_bkgnd_shadow, .sn_lbar_short, .sn_lbar_short_shadow{left:0;min-width:1000px;position:absolute;width:100%;z-index:0;}
.sn_lbar_bkgnd, .sn_lbar_bkgnd_shadow{height:56px;}
.sn_lbar_short, .sn_lbar_short_shadow{height:36px;}
.sn_lbar{margin-left:auto;margin-right:auto;border-collapse:collapse;clear:both;height:36px;position:relative;table-layout:fixed;width:1000px;}
.sn_lbar.sn_lbar_stack{height:56px;}
.sn_lbar, .sn_lbar *{z-index:10;}
html.Firefox .sn_lbar *{vertical-align:middle;}
.sn_lbar table{border-collapse:collapse;}
.sn_lbar td{padding:0px 5px;min-height:28px;vertical-align:middle;}
.sn_lbar table td{min-height:auto;}
.sn_lbar .sn_lbar_secondary td{padding-top:4px;text-align:center;vertical-align:top;}
.sn_lbar .sn_lbar_tertiary td{padding-top:2px;}
.sn_lbar .sn_lbar_tertiary td td{padding-top:0px;}
.sn_lbar td.sn_lbar_utility{text-align:right;width:35%;}
.sn_lbar .sn_lbar_secondary td.sn_lbar_utility{width:80px;}
.sn_lbar span.separator{display:inline-block;font-size:0;line-height:34px;height:34px;width:0;vertical-align:middle;}
html.Firefox .sn_lbar span.separator{display:-moz-inline-box;}
.sn_lbar .sn_lbar_secondary td > span{margin:3px 7px 3px 6px;}
.sn_lbar td > span, .sn_lbar .sn_lbar_secondary td.sn_lbar_utility > span{margin:2px;}
.sn_lbar_secondary span{_margin:4px 7px 4px 6px;}
.sn_lbar span, .sn_lbar_secondary .sn_lbar_utility span{_margin:2px;}
.sn_lbar span span{_margin:0;}
.sn_lbar a{padding:1px;cursor:pointer;display:inline-block;text-align:center;vertical-align:middle;}
.sn_lbar .sn_lbar_secondary a{vertical-align:top;}
html.Firefox .sn_lbar a{display:-moz-inline-box;}
.sn_lbar a.selected, .sn_lbar a.semiselected, .sn_lbar a.indented, .sn_lbar a:hover, .sn_lbar .menuOn a{padding:0px;text-decoration:none;}
.sn_lbar a span{padding:2px 5px 3px;display:block;text-align:center;white-space:nowrap;}
.sn_lbar a.selected span, .sn_lbar a.semiselected span, .sn_lbar a.indented span, .sn_lbar a:hover span, .sn_lbar .menuOn a span{padding:1px 4px 2px;}
.sn_lbar a img{padding:2px 0px 1px;height:16px;vertical-align:middle;width:16px;}
.sn_lbar a.helplink{padding:3px 6px 4px;}
.sn_lbar a.helplink:hover{padding:2px 5px 3px;}
.sn_lbar img.caret, .sn_lbar a.caret img{padding:6px 0px 5px;height:4px;width:8px;}
.sn_lbar .sn_lbar_menuFrame{display:none;position:absolute;z-index:99;}
.sn_lbar .sn_lbar_menu *{margin:0px;padding:0px;}
.sn_lbar .menuOn .sn_lbar_menu{border-width:1px 2px 2px 1px;border-style:solid;border-color:#a5a8a8 #42555c #42555c #a5a8a8;padding:4px 0px;left:0;position:absolute;top:0;z-index:100;}
.sn_lbar .menuOn .sn_lbar_menu li{margin:0px 4px;list-style:none;display:block;}
.sn_lbar .menuOn .sn_lbar_menu li.separator{border:none;margin:4px;background-color:#DADFE0;font-size:1px;line-height:1px;}
.sn_lbar .menuOn .sn_lbar_menu a, .sn_lbar .sn_lbar_split .menuOn .sn_lbar_menu a{border:none;padding:5px 9px;background:none;display:block;text-align:left;}
.sn_lbar .menuOn .sn_lbar_menu a:hover, .sn_lbar .sn_lbar_split .menuOn .sn_lbar_menu a:hover{border:1px solid #b9eaff;padding:4px 8px;}
.sn_lbar .sn_lbar_split{white-space:nowrap;}
.sn_lbar .sn_lbar_split a span{font-size:100%;line-height:16px;}
.sn_lbar .sn_lbar_split img.spacer{padding:0px;height:15px;width:0;}
.sn_lbar .sn_lbar_split .splitOff a.caret span{padding-left:4px;}
.sn_lbar .sn_lbar_split .splitOn a.caret, .sn_lbar .sn_lbar_split .menuOn a.caret{border-left-width:0px;}
.sn_lbar .sn_lbar_split .splitOn a, .sn_lbar .sn_lbar_split .menuOn a{padding:0px;}
.sn_lbar .sn_lbar_split .splitOn a span, .sn_lbar .sn_lbar_split .menuOn a span{padding:1px 4px 2px;}
.Calendar_CalendarPopup .Calendar_MiniCalendar{border:1px solid #dfefed;z-index:20001;}
.Calendar_CalendarPopup .miniCalendarHolder{padding:6px 2px 2px;}
.Calendar_DatePicker .inputbox{width:6em;}
.Calendar_TimePicker .inputbox{margin-right:3px;width:4.5em;}
.Calendar_TimePicker .timeSelect{width:8em;height:180px;z-index:20001;}
.Calendar_TimePicker .timeSelect.timespan{width:13.5em;height:180px;}
.miniCalendarHolder{padding:0.5em 0.25em;width:13em;background-color:#edf6f6;text-align:center;}
.miniCalendarHolder #headerText{color:#444444;}
.miniCalendarHolder .pickTodayLink A{color:#0066A7;}
.miniCalendarBody{padding:0px;background-color:#edf6f6;text-align:center;font-size:0.8em;color:#444444;}
.miniCalendarBody .bold A{font-weight:bold;}
.miniCalendarHolder A:hover{text-decoration:none;}
.miniCalendarHeader{white-space:nowrap;position:relative;height:1.4em;color:#444444;}
.miniCalendarBody th{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#bec6c7;}
.pickTodayLink{border-top-width:1px;border-top-style:solid;border-top-color:#bec6c7;margin:6px 5px;padding-top:4px;text-align:center;}
.miniCalendarHeader{padding:0px 1em;}
.switchMonthBtn{position:absolute;top:0px;}
.leftSideLargeMargin{left:8px;}
.rightSideLargeMargin{right:8px;}
.miniCalendarBody TD{border:1px solid #edf6f6;}
.miniCalendarBody .miniCalToday{border-color:#ffc473;background-color:#FFC473;}
.miniCalendarBody TD.selectedMonthDate{border-color:#c3ebf9;}
.curMonthDate, .lastMonthDate, .nextMonthDate{width:1.6em;height:1.8em;cursor:hand;}
.miniCalendarBody .curMonthDate A{color:#595959;}
.selectedMonthDate{background-color:#C3EBF9;}
.miniCalendarBody .lastMonthDate A, .miniCalendarBody .nextMonthDate A{color:#a9a9a9;}
.selectedDate{background-color:#ba55d3;}
