.cellstyle{padding:8px;}
table, td, .pm0{margin:0px;padding:0px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.smallFont{font-size:92%;}
.ellipse{text-overflow:ellipsis;overflow:hidden;}
input.button{padding:0px 4px;}
hr{height:1px;}
.subnav tr td{padding:0px 8px;}
.red{color:Red;}
.AllowListBuddyList{width:340px;text-overflow:ellipsis;white-space:nowrap;overflow:auto;overflow-x:hidden;overflow-y:scroll;height:190px;}
.bold, strong, a.entryttl{font-weight:bold;}
a.belink, a.belink:hover{text-decoration:none;font-weight:bold;cursor:pointer;}
.Part{cursor:pointer;font-weight:bold;}
textarea.textEditBox{font-family:Verdana,Simsun,Tahoma,Helvetica,Sans-Serif;font-size:100%;}
.DetailSectionHeader{font-weight:bold;}
.italic{font-style:italic;}
.ListBox{background-color:#FFFFFF;color:#000000;font-size:100%;font-family:Verdana,Simsun,Tahoma,Helvetica,Sans-Serif;}
.ListBoxSelected{background-color:#FEF79F;font-size:100%;font-family:Verdana,Simsun,Tahoma,Helvetica,Sans-Serif;}
.imageBorder{border-color:#000;}
.imageShadow{background-color:#888888;}
.photoFilmstrip{border:solid #888;background-color:Transparent;}
.photoFilmstripHighlightBorder{background-color:#FF8C00;}
.photoFilmstripNonHighlightBorder{background-color:#FFFFFF;}
.helpLink:link, .helpLink:visited, .helpLink:active{text-decoration:none;}
.helpLink:hover{text-decoration:underline;}
.divAlbumTitle{padding:0px 0px 3px 5px;font-size:123%;width:100%;}
.titletagline_settings tr td{padding:0px;}
.sn_lbar img.dogfood{width:65px;}
.LR_InsetContainer{margin:0px 10px;}
.ESHeadingTxt{padding-left:10px;}
.ESCol1{width:125px;text-align:right;vertical-align:top;}
.ESCol2{width:750px;vertical-align:top;}
#esn{width:450px;}
#escn{width:450px;}
#escp{width:450px;}
.eswg{padding:1px;width:450px;color:#808080;vertical-align:top;}
.eswb{padding:1px;width:450px;vertical-align:top;}
.eslpl{padding-top:3px;}
.eslab{padding-top:7px;padding-bottom:2px;}
.esbr{padding-top:7px;}
.PadLeft3{padding-left:3px;}
.PadLeft2{padding-left:2px;}
.PadRight3{padding-right:3px;}
.Groups_Popover_Background{position:absolute;width:100%;height:100%;top:0;left:0;background-color:#ffffff;filter:alpha(opacity=50);opacity:0.5;z-index:100000;}
.groupSpaceTagsEditDefaultTable{padding-top:10px;}
.groupSpaceTagsEditCheckbox{padding-left:8px;}
.GroupsInvitePaddedRow TD{padding-bottom:8px;}
#_WLX_FLD_TO, #_WLX_FLD_SUBJECT{width:600px;}
#_WLX_FLD_MESSAGE{width:480px;height:72pt;}
ul.Web_UI_Menu li{zoom:1;_width:0px;}
