
.txc_topnum1 {background:url(http://www.21tx.com/images/bg_topnum1.gif) left center no-repeat; width:21px; height:15px; color:#000; text-align:center; font-size:12px; clear:both;display:block;float:left;}
.txc_list_title1 {background:url(http://www.21tx.com/images/bg_list_title1.gif) left center no-repeat;height:29px;padding-top:12px;}
.txcode {width: 95%; border-right: #999999 1px solid;padding-right: 4px;border-top: #999999 1px solid;padding-left: 4px;font-size: x-small;padding-bottom: 4px;border-left: #999999 1px solid;color: black;padding-top: 4px;border-bottom: #999999 1px solid;font-family: 'Courier New',Monospace;background-color: #eeeeee;}

#txp_location {height:20px;padding-top:4px;text-align:left;margin-left:20px;}
#txp_title {width:620px;height:30px;margin:0 auto;color:#339900;font-size:18px;font-weight:bold;padding-top:12px;background:url(http://www.21tx.com/images/data_title_bg.gif);}
#txp_from {width:620px;height:15px;margin:0 auto;padding-bottom:6px;background:url(http://www.21tx.com/images/data_title_bg.gif) 0 0;}
#txp_from font {color:#A20010;font-size:12px;}
#txp_content {width:620px;margin:0 auto;font-size:14px;line-height:180%;text-align:left;word-wrap:break-word;word-break:break-all;clear:both;}
#txp_content a{color:#009;text-decoration:none;}
#txp_content a:hover{color:#C2130E;}
#txp_content p{margin:12px 0;}
#txp_content table{margin:auto;}
#txp_content td{line-height:20px;}

#txp_softcnt {margin:0 auto;text-align:left;word-wrap:break-word;word-break:break-all;clear:both;}
#txp_softcnt a{color:#009;text-decoration:none;}
#txp_softcnt a:hover{color:#C2130E;}
#txp_softcnt table{margin:auto;}

#txp_listcnt {text-align:left;padding-top:20px;padding-bottom:20px;padding-left:20px;font-size:14px;line-height:22px;}
#txp_listcnt #txp_listpageno {text-align:center;padding-top:20px;padding-right:20px;}
#txp_listcnt a:link {color:#009;text-decoration:none;}
#txp_listcnt table{margin:auto;}
.txc_listcnt_sp {height:10px;}

#txp_relating {margin:4px auto;width:620px;clear:both;text-align:left;padding-top:20px;padding-bottom:20px;} 
#txp_relating dd a{color:#666;text-decoration:underline;margin:0 2px 0 10px;font-size:14px;line-height:22px;}
#txp_relating dd a:hover{color:#C2130E;} 
#txp_relating dt{padding-left:15px;font-size:14px;font-weight:bold;background:#EBEBEB;line-height:22px;text-align:left;border:1px solid #ccc;border-bottom:0;}
#txp_relating dd{padding:5px 0;border:1px solid #ccc;border-top:0;}
#txp_relating li{list-style-type:none;}

#txp_chancomm {margin-top:6px;margin-bottom:3px;clear:both;}
#txp_chancomm p{float:left;width:151px;height:110px;text-align:center;}
#txp_chancomm p img{border:1px solid #000;}

#txp_prodmanu {background-color:white;clear:both;}
#txp_prodmanu p{float:left;width:100px;height:75px;text-align:center;}
#txp_prodmanu p img{width:100px;border:0;}

#txp_chanclicktop {margin-left:8px;margin-bottom:16px;clear:both;}
#txp_chanclicktop p{height:20px;text-align:left;}

