/* IMPORT FOR 5.X AND UP BROWSERS */
@import url(extra.css);

body {margin:0;padding:0;}
body,th,td,p,div,input,select,textarea,li,dl,h1,h2,h3,h4,h5,h6,blockquote{font-family:lucida,arial,sans-serif}
body,th,td,p,div,dl,li,select,input,textarea,blockquote{font-size:12px}
/*body,th,td,p{color:#333}*/
code,kbd,tt,pre,code a,kbd a,tt a,pre a,code span,kbd span,tt span,pre span{font-family:monaco,courier,"courier new";font-size:12px}
.smaller,.smaller a,small,.small,small span,.small span,.small a,small a,div.sitelinks,div.sitelinks a,.breadcrumb{font-size:11px;font-family:arial,helvetica,lucida,sans-serif}
.breadcrumb{margin:2px 10px;}
big,.big,big span,.big span,.big a,big a{font-size:14px}
h5,h5 a,h5 span {font-size:13px;color:#000}
h1,h1 span,h1 a {font-size:18px;color:#000;}
h2,h2 span,h2 a {font-size:17px;color:#000}
h3,h3 span,h3 a {font-size:15px;color:#000;}
h4,h4 span,h4 a{font-size:13px;color:#000}
h1,h2,h3,h4,h5,h6{margin:3px 0px;padding:0px}
a{text-decoration:none}
a:visited{color:#006699}
a:link,a.named:visited,div.breadcrumb a:visited,div.sitelinks a:visited{color:#006699}
a:link:hover,a:visited:hover,b.error,span.error{text-decoration:underline}
dt{font-weight:bold;padding:5px 0px 0px 0px}
a.pagetitle,div.pagetitle{font-size:24px;color:#fff;padding:0px;margin:0px;font-weight:bold}

.sunred {background:#D12124}
.sunblue {background:#669966}
.sunyellow {background:#FBE249}
.sunred, .sunblue, .sunred a, .sunblue a{color:#FFF}

form{display:inline}
form,select,input,textarea,ul li{margin:0px;padding:0px}
.grey4 {background-color:#eee;}
.topnavlight, .topnavlight  a {border-bottom:1px #006699 solid; color:white;}
.vatop td, .vatop th {vertical-align:top;}
div.footer { color:#999;padding:5px 0px 10px 0px; font-size:11px}
span.ltcaption1{color:#999; font-size:11px}
a:visited span.ltcaption1{color:#336633}
a:link span.ltcaption1{color:#006699}

/* new */
.grayline {width:100%; height:5px; margin:4px 0; clear:both; border-bottom:2px #eee solid;}
ul.sidecontent {margin: 0 0 0 1.2em;padding:0;list-style-type:square;}
.headtbl {border-bottom: 2px #eee solid; margin-bottom: 0.5em;}
div.space {width:100%;height:1em;clear:both;}
.headerbar, .headerbar a, .headerbar a:visited {background-color:#669966; color:white; font-weight:bold; margin:0;}
.headerbar {padding:2px 6px;}
.sidecontent {background-color:#F0F0E8; color:#333; padding:6px;}
.sidecontent p {margin-top:0.2em;}

.projecttabs td, .projecttabs th {
	padding: 2px 7px;
	background-image: url(/images/nw_min.gif);background-repeat: no-repeat;
}

.projecttabs td {
	background-color: #ddd;
 	border-right: 1px solid #333;
 	border-left: 1px solid #fff;
	color: #303030;
}

.projecttabs th {
	background-color: #CC6666;
 	border-left: 1px solid #fff;
 	border-right: 1px solid #333;
	color: #fff;
}
.projecttabs td a, .projecttabs td a:link, .projecttabs td a:visited {color: #303030;}
.projecttabs th a, .projecttabs th a:link, .projecttabs th a:visited {color: #fff;}
 
.projecttabs {
	border-bottom: 4px #CC6666 solid;
	margin: .67em,2px,0,2px;
	padding-left: 8px;
	background-color: #fff;
}

.topline {
        border-top: 1px #666 solid;
}
.topbar {
        border-top: 6px #5C8098 solid;
}

.projecttabs a  {text-decoration: none;}

/* styles for talkbacks */

.rbox {
	color:#000;
	background-color:#ccc;
	line-height:14px;
	padding-top:0;
	margin-top:2em;
}

.rbcontent {
	margin: 0 6px;
	background-color: #ccc;
	color: #000;
}

.rboxtop div { background: url("/images/gray_tl.gif") no-repeat top left; }
.rboxtop { background: url("/images/gray_tr.gif") no-repeat top right; }
.rboxbot div { background: url("/images/gray_bl.gif") no-repeat top left; }
.rboxbot { background: url("/images/gray_br.gif") no-repeat top right; }

.rboxtop, .rboxtop div, .rboxbot, .rboxbot div {
	height: 6px;
	font-size: 1px;
	margin: 0;
	padding: 0;
}

.tb_left {
	width: 30%;
	float: left;
}

.tb_right {
	text-align: right;
	width: 60%;
	float: right;
}

div.feedback { margin-top: 1em; }

.feedback ul {
	margin: 0 0 0 1em;
	padding: 0 0 0 1em;
}

.feedback li {
	list-style-image: url("/images/bullet-post.gif");
	margin-left: 0px;
	padding: 0 0 1em 0;
}

.feedback ul ul li {
	list-style-image: url("/images/bullet-reply.gif");
	margin-left: 0px;
	padding: 0 0 1em 0;
}

li.trackback {list-style-image: url("/images/icons/trackback_18.gif");}

.clear {clear:both; overflow:visible; width:100%; height:1px; font-size:1px;}

/* end styles for talkbacks */

/* begin styles for jump link navigation */

.jumpnav {
	width: 250px;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	padding: 5px;
	float: right;
	margin: 0px 5px 5px 5px;
	line-height: 1.5em;
}
.jumpnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.jumpnav ul ul {
	margin-left: 12px;
}

/* end styles for jump link navigation */

pre {
    clear: both;
    overflow: auto;
    background-color: #efefef;
    
    /*width:100% !important;*/
    width: 700px; /*for IE, which doesn't obey !important or width:100% on pre */

    padding-bottom: 0 !important;
    padding-bottom: 1.5em; /* for IE which doesn't make room at the bottom of the pre for a horizontal scrollbar */
}
