/*
rice灰色简洁版本
http://hi.baidu.com/ricestudio
*/
/*主体*/
body{
 margin:0px !important;
 border:0px !important; 
 padding:0px !important;
 color:#333333;
 line-height:20px;
 background-color: #ffffff;
 background-position: 0 0;
 background-image: url(http://imgsrc.baidu.com/css/pic/item/3af0a1dbd93f717ad1164e7e.jpg);
 background-repeat: no-repeat;
}
a:link {
 color: #666666;
}
a:visited {
 color: #666666;
}
a:hover {
 color: #666666;
}
a:active {
 color: #666666;
}
#usrbar {
}
/*头部*/
#header{
 height:196px;
 background-image: url(http://imgsrc.baidu.com/css/pic/item/9b9fde23d935b34e9922ed7f.jpg);
 background-repeat: no-repeat;
}
#header div.lc{}
#header div.rc{}
#header div.tit{
 top:30;
 left:130px;
 font-size:40px;
 font-weight:bold;
 line-height:40px;
 color:#cdcdcd;
 font-family: "黑体";
}
#header div.tit a.titlink{
 color:#cdcdcd;
 text-decoration:none;
}
#header div.tit a.titlink:visited{
 color:#cdcdcd;
 text-decoration:none;
}
#header div.desc{
 top:140px;
 left:110px;
 font-family:normal;
 color:#666666;
 font-size:1em;
}
#tabline{
}
#tab{
 float:right;
 right:0;
 top:160px;
 height:28px;
 width:auto !important;
 width:100%;
}
#tab a.on,#tab a.on:link,#tab a.on:visited{
 float:right;
 margin-top:6px;
 width:86px;
 height:27px;
 line-height:27px;
 font-weight:bold;
 color:#333333;
 font-size:12px;
 text-align:center;
 background-image: url(http://imgsrc.baidu.com/css/pic/item/2319ea0ed831f4d67acbe17f.jpg);
 background-repeat: no-repeat;
 background-position: center;
}

#tab span{
 display:none;
}
#tab a:link{
 float:right;
 margin-top:4px;
 color:#666666;
 font-weight:bold;
 text-decoration:none;
 font-size:12px;
 line-height:27px;
}
#tab a:visited{
 float:right;
 margin-top:4px;
 color:#666666;
 font-weight:bold;
 text-decoration:none;
 font-size:12px;
 line-height:27px;
}

#tab2{
 border-top-width: 1px;
 border-right-width: 1px;
 border-left-width: 1px;
 border-top-style: dashed;
 border-right-style: dashed;
 border-left-style: dashed;
 border-top-color: #7d7d7d;
 border-right-color: #7d7d7d;
 border-left-color: #7d7d7d;
}
#tab2 span{
 color:#666666;
 font-size:12px;
 font-weight:bold
}
#tab2 a{
 font-size:12px;
 color: #666666;
}
#tab2 a:link{
 color: #666666;
}
#tab2 a:visited{
 color: #666666;
}
.stage{
 border: 1px dashed #7d7d7d;
}
/*头部结束*/
/*blog*/
.mod {
 border-top-width: 1px;
 border-right-width: 2px;
 border-bottom-width: 2px;
 border-left-width: 1px;
 border-top-style: solid;
 border-right-style: solid;
 border-bottom-style: solid;
 border-left-style: solid;
 border-top-color: #efefef;
 border-right-color: #dddddd;
 border-bottom-color: #dddddd;
 border-left-color: #efefef;
 margin-bottom:10px;
 width: 99%;
}
.modhandle{
 cursor:move;
}
.modth{
 height:28px;
 width: 99%;
 border-bottom-width: 1px;
 border-bottom-style: dashed;
 border-bottom-color: #dedede;
}
.modhead{
 padding-top: 2px;
}
.modopt{
 padding:0px;
}
.modtit{
 color:#333333;
 font-size:14px;
 line-height:24px;
}
a.modtit{
 color:#003333;
}
a.modtit:visited{
 color:#003333;
}
.modtitlink{
 color:#333333;
 font-size:14px;
}
a.modtitlink{
 color:#003333;
 text-decoration:none
}
a.modtitlink:visited{
 color:#003333;
 text-decoration:none
}
a.modtitlink:hover{
 color:#003333;
 text-decoration:underline
}
.modact{
 color:#333333;
 font-size:14px;
}
a.modact:link{
 color:#003333;
}
a.modact:visited{
 color:#003333;
}
.modbox{
 padding:10px 10px 10px 10px;
 border-top:none;
}
.modtl {
 background-image: url(http://imgsrc.baidu.com/css/pic/item/5df6e389e7932caf0e24447e.jpg);
 background-repeat: no-repeat;
 height: 28px;
 width: 28px;
 background-position: 5px 3px;
}
.modbl{
 background-color: #f6f6f6;
 height: 2px;
 font-size: 1px;
 line-height: 1px;
}
.modbc{
 background-color: #f0f0f0;
 height: 2px;
 font-size: 1px;
 line-height: 1px;
}
.modbr{
 background-color: #ececec;
 height: 2px;
 font-size: 1px;
 line-height: 1px;
}
#m_blog div.tit{
 font-size:14px;
 color:#333333;
 font-weight:bold;
 font-family:"宋体 arial";
 line-height: 24px;
 border-bottom-width: 1px;
 border-bottom-style: dashed;
 border-bottom-color: #dfdfdf;
}
#m_blog div.tit a{
 color:#333333;
 font-size:14px;
}
#m_blog div.tit a:visited{
 color:#333333;
}
#m_blog div.date{
 margin:5px 0 8px 0;
 color:#D6D6D6;
 font-size:9px;
 font-family:Georgia, "Times New Roman", Times, serif;
}
#m_blog div.cnt{
 color:#7F7F7F;
 line-height:20px;
 font-size:12px
}
#m_blog div.cnt div{
 font-size:12px;
}
#m_blog div.more{
 margin:14px 1px 16px 1px;
}
#m_blog div.more a{
 color:#999999;
 font-size:12px;
 font-weight:bold;
}
#m_blog div.more a:visited{
 color:#999999;
 font-weight:bold;
}
#m_blog div.opt{
 color:#999999;
 font-size:12px
}
#m_blog div.opt a{
 color:#999999;
 font-size:12px
}
#m_blog div.opt a:visited{
 color:#888888
}
#m_blog div.line{
 margin-top:17px;
 line-height:17px;
 border-top-width: 1px;
 border-top-style: dashed;
 border-top-color: #dfdfdf;
}
#m_blog div.none{
 padding:100px 0 100px 0;
 color:#888888;
 font-size:14px;
}
