#im_popMenuid{
background-color: #E8F3FD;
margin-left:5px;
border:1px solid #9DB3C5;
}


html>body #coolmenu a{ /*Non IE rule*/
width: auto;
}

#im_popMenuid a{
font: bold 13px Verdana;
padding: 2px;
padding-left: 4px;
display: block;

color:#3E7BB8;
text-decoration: none;
}

#im_popMenuid a:hover{
color:#ffffff;
font-weight:300;
background-color:#3E7BB8;

}

.tck_table{
height:94px;
background-image:url(images/tc_bj1.jpg);
font-size:12px;
color:#29554a;
}
.tck_table td{
font-size:12px;}
