/*========== Stylesheet for csdn =======*\
     Object: index.css
     Author: meizz
Last Update: 2006-12-04
\*======================================*/

@import url("base.css"); 
@import url("public_header_footer.css"); 

body{}
.CSDN-PHF{width: 1000px;}

#wrapper
{
    text-align: center;
}
#innerWrapper
{
    margin: auto;
    width: 1000px;
    text-align: left;
    background-color: #FFFFFF;
}
.top
{
	width:1000px;
	margin:5px auto;
}

/*- Menu Tabs 1--------------------------- */


.tabs1 {
      float:left;
      width:100%;
      background:#fff;
      font-size:12px;
      line-height:normal;
      border-bottom:6px solid #f99315;
}
.tabs1 ul {
          margin:0;
          padding:5px 7px 0 50px;
          list-style:none;
}
.tabs1 li {
      display:inline;
      margin:0;
      padding:0;
}
.tabs1 a {
      float:left;
      background: url(/images2/navigation_di_1.gif) no-repeat left top;
      margin-right:5px;
      padding:0 0 0 3px;
      text-decoration:none;
 }
.tabs1 a span {
      float:left;
      display:block;
      background: url(/images2/navigation_di_2.gif) no-repeat right top;
      padding:4px 10px 2px 10px;
      color:#000000;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
    .tabs1 a span {float:none;}
/* End IE5-Mac hack */
.tabs a:hover span {
      color:#627EB7;
}
.tabs1 a:hover {
	  text-decoration: none;
      background-position:0% -21px;
}
.tabs1 a:hover span {
      background-position:100% -21px;
}

.tabs1 .current a {
      background-position:0% -21px;
}
.tabs1 .current a span {
      background-position:100% -21px;
}
/******************searchMain********************/
.searchMain
{
	background-image:url(/images2/search_di.gif);
	background-repeat:repeat-x;
	background-position:top;
	margin:2px auto;
	padding-top:16px;
	width:1000px;
}
.searchDi
{
 
	background-image: url(/images2/searchDi.gif) no-repeat middle;
}
.searchMain dt a:link{ color:#ff7800;}
.searchMain dt a:visited{ color:#ff7800;}
.searchMain dt a:hover{ color:#286d8b;}



/******************pageContent******************************/
#pageContent
{
	float:left;
	margin-left:8px;
	margin-top:10px;
	width:66.3%;
}
#innerContent
{
}

.zuixintuijian
{
	float:left;
	width:64%;
}
.zuixintuijian dl
{
	background-image: url(/images2/zuixintuijian_line.gif);
	background-repeat:repeat-x;
	height:23px;
}

.zuixintuijian dt
{
	background-image:url(/images2/zuixintuijian_di.gif);
	background-repeat:no-repeat;
	margin-left:18px;
	padding-left:20px;
	font-weight:bold;
	line-height:23px;
}
.tuijianContent
{
	border-right:solid 1px #f99315;
	border-left:solid 1px #f99315;
	border-bottom:solid 1px #f99315;
	float:left;
	margin:atuo;
}
.tuijianneirong
{
	border-bottom:solid 1px #f99315;
	line-height:20px;
	padding:6px;
}
.tuijianneirong h5
{
	color:#055294;
	font-size:12px;
}
.tuijianneirong img
{
	text-align:right;
}
.tuijianqbook{position: relative;margin:auto;float:left;}
.tuijianqbook .left{width: 12px; text-align: left;}
.tuijianqbook .right{width: 12px; text-align: right;}
.tuijianqbook marquee{  top: 10px; width: 370px; left: 18px;bottom:10px;}
.tuijianqbook marquee img{float: left;width:50px;height:50px;border:0;}

.tuijianqbook td a:link{ color:#383838;}
.tuijianqbook td a:visited{ color:#383838;}
.tuijianqbook td a:hover{ color: #FF6600;}
.tuijianneirong a{ color:#383838;}
.zhouyuedupanghang
{
	float:right;
	background-color:#f7f7f7;
	height:269px;
	width:34%;
	border-bottom:solid 1px #b1b1b1;
	line-height:22px;
}
.zhouyuedupanghang dl
{
	background-image:url(/images2/zhouyuedubang_line.gif);
	background-repeat:repeat-x;
	margin-bottom:10px;
}
.zhouyuedupanghang dt
{
	background-image:url(/images2/zhouyuedubang_di.gif);
	background-repeat: no-repeat;
	margin-left:18px;
	padding-left:13px;
	font-weight:bold;
	line-height:23px;
}

.zhouyuedupanghang li
{
	list-style-image:url(/images2/dot_orange.gif);
}
.zhouyuedupanghang li a:link{ color: #333333;}
.zhouyuedupanghang li a:visited{ color: #333333;}
.zhouyuedupanghang li a:hover{ color: #ff7200;}

.dushugonggao
{
        
	float:left;
	width:100%;
	margin:5px auto 5px auto;
}
.dushugonggao dl
{
	background-image: url(/images2/zhouyuedubang_line.gif);
	background-repeat:repeat-x;
}
.dushugonggao dt
{
	background-image:url(/images2/dushugonggao_di.gif);
	background-repeat:no-repeat;
	margin-left:18px;
	padding-left:18px;
	font-weight:bold;
	line-height:23px;
}
.dushugonggao .ggdiv
{
 background-image:url(/images2/dushugonggao_di.gif);
	background-repeat:no-repeat;
	margin-left:18px;
	padding-left:18px;
	font-weight:bold;
	line-height:23px;
}
.dsggContent
{
	border-top:solid 1px #a2a2a2;
	border-right:solid 1px #a2a2a2;
	border-left:solid 1px #a2a2a2;
	border-bottom:solid 1px #a2a2a2;
	padding:5px;
	color:#407fb4;
	float:left;
	width:98%;
	margin:auto;
}
.dsggContent td
{
	background-image: url(/images2/dot_gray.gif);
	background-repeat:no-repeat;
	line-height:18px;
	padding-left:25px;
	background-position:10px;
}
.dsggContent td a:link{ color:#407fb4;}
.dsggContent td a:visited{ color:#407fb4;}
.dsggContent td a:hover{ color: #FF6600;}

.zuixinpinglun
{
float:left;
  margin:auto;
	margin-top:5px;
}
.zuixinpinglun dl
{
	background-image: url(/images2/zuixinpinglun_line.gif);
	background-repeat:repeat-x;
}
.zuixinpinglun dt
{
	background-image:url(/images2/zuixinpinglun_di.gif);
	background-repeat:no-repeat;
	margin-left:18px;
	padding-left:18px;
	font-weight:bold;
	line-height:24px;
}
.zxplContentOne
{
	padding:10px;
}
.zxplContentOne a{color:#609DBB}
.zxplContentTwe a{color:#609DBB}
.zxplContentOne span
{
	color:#0e5088;
	font-size:12px;
}
.zxplbookPic
{
	float:left;
	padding-left:2px;
	margin:8px;
	text-align:center;
	width:12%
}
.zxplbookContent
{
	float:right;
	padding-left:5px;
	width:83%
}
.zxplbookContent h5
{
	padding-top:8px;
	color:#ff7200;
	font-size:12px;
}
.zxplbookContent p
{
	line-height:20px;
	text-indent:25px;
}
.zxplbookContent .pinglunhuiying
{
	text-align:right;
	padding-right:20px;
	padding-top:5px;
}
.zxplbookContent .pinglunhuiying img
{
	margin-left:8px;
}
.zxplContentTwe
{
	background-color:#f6f6f6;
	padding:10px;
}
.zxplContentTwe span
{
	color:#0e5088;
	font-size:12px;
}


/***********************sidebar**************************/
#sidebar
{
	float:right;
	margin-top: 10px;
	width:29.2%;
	margin-right:8px;
}
.ad
{
float:left;width:100%;
}
.zhuantituijian
{
	border:solid 1px #a0a0a0;
	float:left;
}
.zhuantituijian dl
{
	background-image:url(/images2/zhuantituijian_di.gif);
	background-repeat:repeat-x;
	margin:1px;
}
.zhuantituijian dt
{
	background-image:url(/images2/zhuantituijian_jiantou.gif);
	background-position: 10px;
	background-repeat:no-repeat;
	font-weight:bold;
	height: 34px;
	line-height: 34px;
	padding-left: 24px;
}

.zhuantituijian dd
{
	color:#666666;
	line-height:22px;
	padding-left:10px;
}
.zhuantituijian .dd2
{
	 padding:0;
}
.zhuantituijian a:link{ color:#666666;}
.zhuantituijian a:visited{ color:#666666;}
.zhuantituijian a:hover{ color: #FF6600;}

.remenTAG
{
	border:solid 1px #4683a1;
	background-color:#e6f1f6;
	height:218px;
	margin-top:8px;
	margin-bottom:8px;
	float:left;
}
.remenTAG dl
{
	background-image:url(/images2/remenTAG_di.gif);
	background-repeat:repeat-x;
	margin:1px;
}
.remenTAG dt
{
	background-image:url(/images2/remenTAG_jiantou.gif);
	background-position: 10px;
	background-repeat:no-repeat;
	font-weight:bold;
	height: 34px;
	line-height: 34px;
	padding-left: 24px;
}
.remenTAG dd
{
	color:#545555;
	font-size:14px;
	padding:5px;
	font-family: Arial, Helvetica, sans-serif;
}
.remenTAG dd span
{
	color:#6399b0;
	font-size:22px;
}
.remenTAG dd span a:link{ color:#6399b0;}
.remenTAG dd span a:visited{ color:#6399b0;}
.remenTAG dd span a:hover{ color:#ff7200;}

.remenTAG dd a:link{ color:#545555;}
.remenTAG dd a:visited{ color:#545555;}
.remenTAG dd a:hover{ color:#ff7200;}

.du
{
	
	margin-bottom:8px;


}
.duContent
{
	width:96%;
	border-right:solid 1px #92b6c7;
	border-left:solid 1px #92b6c7;
	border-bottom:solid 1px #92b6c7;
	float:left;
	color:#5b5b5b;
	padding-left:10px;
	padding-top:5px;
	line-height:20px;
	margin-bottom:5px;

}

.duContent ul{margin:10px 0;}
.duContent li
{

	list-style-type:square;
}
.duContent a:link{ color:#5b5b5b;}
.duContent a:visited{ color:#5b5b5b;}
.duContent a:hover{ color: #FF6600;}

.zuixinshujia
{
	border:solid 1px #b5b5b5;
	 
	margin-top:8px;
	margin-bottom:8px;
	float:left;width:100%;
}
.zuixinshujia dl
{
	background:url(/images2/zuixinshujia_di.gif) repeat-x;
	background-repeat:repeat-x;
	margin:1px;
}
.zuixinshujia dt
{
	margin-left:15px;
	padding:10px 0 15px 6px;
	font-weight:bold;
}
.zuixinshujia dd
{
	line-height:22px;
	color:#403e3e;
	padding-left:10px;
}
.zuixinshujia dd li
{
	list-style-image:url(/images2/dot_blue.gif);
}
.zuixinshujia dd li a:link{ color:#403e3e;}
.zuixinshujia dd li a:visited{ color:#403e3e;}
.zuixinshujia dd li a:hover{ color:#115674;}

.huoyueyonghu
{
	border:solid 1px #c4c4c4;
	float:left;margin-top:8px;
	margin-bottom:8px;width:100%;
}
.huoyueyonghu dl
{
	background:url(/images2/huoyueyonghu_di.gif) repeat-x;
	background-repeat:repeat-x;
	margin:1px;
}
.huoyueyonghu dt
{
	margin-left:15px;
	padding:10px 0 15px 6px;
	font-weight:bold;
}
.huoyueyonghu dd
{
	line-height:22px;
	color:#403e3e;
	padding-left:10px;

}
.huoyueyonghu dd li{list-style-image:url(/images2/dot_blue.gif);line-height:22px;}
.huoyueyonghu dd li a:link{color:#686868;}
.huoyueyonghu dd li a:visited{color:#686868;}
.huoyueyonghu dd li a:hover{color:#ff7200;}
.huoyueyonghu dd li img{clear:both;}


/*- Menu Tabs 2--------------------------- */


.tabs2 {
      float:left;
      width:100%;
	  background-image:url(/images2/navigation_di_line.gif);
	  background-repeat:repeat-x;
	  background-position:bottom;
      
      line-height:normal;
	  font-size:12px;

	
}
.tabs2 ul {
          margin:0;
          padding:4px 7px 0 0;
          list-style:none;
}
.tabs2 li {
	 
	  float:left;
      margin:0;
      padding:0;
}
.tabs2 a {
      width:70px;
      height:20px;
      float:left;
      background: url(/images2/navigation_di_4.gif) no-repeat right top;
      margin-right:3px;
      text-align:center;
      padding-top:5px;
      text-decoration:none;
 }
.tabs2 a span {
      float:left;
	  height:20px;
      display:block;
	  text-align:center;
	      width:75px;
      color:#000000;
      background: url(/imagess/navigation_di_3.gif) no-repeat  top;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
    .tabs2 a span {float:none;}
/* End IE5-Mac hack */
.tabs a:hover span {
      color:#627EB7;
}
.tabs2 a:hover {
 	  text-decoration: none;
      background-position:right -27px;
}
.tabs2 a:hover span {
      background-position:left -27px;
}

.tabs2 .current a {
      background-position:right -27px;
}
.tabs2 .current a span {
      background-position:left -27px;
}

.NewLz
{
	float:left;width:49%;margin:auto;
}
.NewLz ul{width:100%;margin:0;padding:0;}
.NewLz ul li{padding:0;margin:0;list-style-type:none;}
.NewLz ul .img{float:left;width:30%;text-align:center;}
.NewLz ul .bookinfo{float:left;width:68%;text-align:left;}