/*********************
RichTextEditor Base Stylesheet
*********************/

/*********************/
/* Main RTE Wrappers */
/*********************/
/* Set on the top container of the RTE */
/* This sets the bounds of the parent (max-ht/wd)*/
DIV.uxp_rte_area { border:1px solid #eaeaea; z-index:0; }
.uxp_rte_editor{ padding:1px; margin:0; border-top:1px solid #eaeaea; -moz-user-select:none; clear:both; background-color:transparent; width:100%; overflow:auto; } 
.uxp_rte_editor:focus{ outline:none; }
IFRAME.uxp_rte_editor{ border:0; border-top:1px solid #eaeaea; }
IFRAME.uxp_rte_editor BODY{ padding:1px; }
.uxp_toolbar{ position:relative; padding:0; border-bottom:0; background-color:#eaecec; width:100%; }
DIV.uxp_rte_area TEXTAREA { white-space:normal; overflow:auto; border:0; }
/*******************************/
/* Toolbar and Drop-down menus */
/*******************************/
DIV.uxp_bar{ margin:0; padding:0; background-color:#eaecec; }
/* Horizontal Buttons: This will set up the buttons */
UL.uxp_bar_list{ padding:1px; margin:0;  list-style:none; display:inline; background-color:#eaecec; }
.uxp_bar_menu{ background-color:#FFF; position:absolute; z-index:500; width:auto; padding:1px; border-top:1px solid #eaeaea; border-left:1px solid #eaeaea; border-bottom:2px solid #c2c2c2; border-right:2px solid #c2c2c2;  }
UL.uxp_bar_menu_list{ display:block; }
UL.uxp_bar_menu_list * { background-color:#FFF; color:#000; }

/**********************************/
/* Toolbar buttons and menu items */
/* Children of uxp_bar_menu and uxp_bar */
/**********************************/
LI.uxp_baritem{}
.uxp_baritem_text{}
.uxp_baritem_button{ margin:1px 0; display:block; padding:2px; }
.uxp_baritem_button.disabled,
.uxp_baritem_button.disabled span{ color:silver; cursor:default; }
.uxp_baritem.text { padding:0; }
.uxp_baritem_button.text{ vertical-align:top; position:static !important; margin:1px 0; padding:0; }
A.uxp_baritem_button:focus{ outline:none; -moz-outline:none; }
.uxp_baritem_button_clip{}
.uxp_baritem_selected{ border:1px solid #c2c2c2; background-color:#eaeaea; padding:0px !important; }
.uxp_baritem_hover{ border:1px solid #d6d6d6; padding:0px !important; }

/*******************************/
/* The Colorpicker             */
/*******************************/
.uxp_clrpkr{ width:210px; }
.uxp_clrpkr_content {}
.uxp_clrpkr_primary{}
.uxp_clrpkr_secondary{}
.uxp_clrpkr_mixed{}
.uxp_clrpkr_options{}
.uxp_clrpkr_options A{ text-decoration:none; color:#000000; }
.uxp_clrpkr_options A:hover{ text-decoration:underline !important; }
.uxp_clrpkr_color{}

/*******************************/
/* Font Size Menu              */
/*******************************/
/* This is set on the parend DIV of the font-size menu */
DIV.uxp_fontsize_menu{}

/*******************************/
/* The Add Link drop-down menu */
/*******************************/
DIV.uxp_rte_linkmenu{ color:#000; padding:4px; }
DIV.uxp_rte_linkmenu LABEL{ color:#000 !important; }
DIV.uxp_rte_linkmenu *{ margin:0;}
DIV.uxp_rte_linkmenu DIV{ margin:1px;}
DIV.uxp_rte_linkmenu BUTTON,
DIV.uxp_rte_linkmenu INPUT{ vertical-align:middle;}
.uxp_rte_linkmenu_content{}
.uxp_rte_linkmenu_label{ font-weight:bold; cursor:pointer; white-space:"nowrap"; padding-left:3px; }
.uxp_rte_linkmenu_url{ font-weight:bold; }
.uxp_rte_linkmenu_text{ font-weight:bold; }
INPUT#rte_linkURL,
INPUT#rte_linkText{ width:200px; }
INPUT#rte_chkNewWindow,
INPUT#rte_chkNoFollow{ margin-right:5px; }
DIV.uxp_rte_linkmenu_buttons{}
.uxp_rte_linkmenu_button_label{ margin:0 4px 0 0; vertical-align:middle; font-weight:bold; white-space:nowrap; }

/*******************************/
/* Emoticon picker             */
/*******************************/
/* The Emoticaon picker is a static image with map/area overlay  */
/* You can set the highlight border color,width, etc. */
.uxp_emote_menu{ cursor:pointer;}
.uxp_emote_highlight{ cursor:pointer; border:1px solid #996666; }
/* Modifiers */
.uxp_bar_menu LI.uxp_baritem SPAN{ cursor:pointer; }
/* This sets up the textarea for the html view */
DIV.uxp_rte_area TEXTAREA{ overflow:auto; }
DIV.uxp_imagebar{ background-color:#eaecec; border:2px solid #c2c2c2; padding:2px; }
DIV.uxp_imagebar A.uxp_baritem_hover{ background-color:#eaecec; }
DIV.rte_arrow{ position:absolute; display:block; line-height:0px; width:0px; height:0px; margin-top:0.65em; margin-left:-0.6em; border-style:solid; border-width:0.25em; border-color:black transparent transparent transparent; }
DIV.rte_arrow.FF{ display:inline; }
