div.identctrltxs, div.identctrlts, div.identctrltm, div.identctrltl, div.identctrltxl, div.identctrltlv, table.identctrltxs, table.identctrlts, table.identctrltm, table.identctrltl, table.identctrltxl, table.identctrltlv{padding:4px;display:block;}
table.identctrltxs table.txt, table.identctrlts table.txt, table.identctrltm table.txt, table.identctrltl table.txt, table.identctrltxl table.txt{table-layout:fixed;}
div.identctrltxs, div.identctrltxs div.txt, table.identctrltxs, table.identctrltxs table.txt{width:52px;}
div.identctrlts, div.identctrlts div.txt, table.identctrlts, table.identctrlts table.txt{width:60px;}
div.identctrltm, div.identctrltm div.txt, table.identctrltm, table.identctrltm table.txt{width:76px;}
div.identctrltl, div.identctrltl div.txt, table.identctrltl, table.identctrltl table.txt{width:89px;}
div.identctrltxl, div.identctrltxl div.txt, table.identctrltxl, table.identctrltxl table.txt{width:124px;}
div.identctrltxs img.IcPh, div.identctrlts img.IcPh, div.identctrltm img.IcPh, div.identctrltl img.IcPh, div.identctrltxl img.IcPh, div.identctrltlv img.IcPh, table.identctrltxs img.IcPh, table.identctrlts img.IcPh, table.identctrltm img.IcPh, table.identctrltl img.IcPh, table.identctrltxl img.IcPh, table.identctrltlv img.IcPh{border:1px solid #fed17c;padding:2px;-ms-interpolation-mode:bicubic;}
div.identctrl a.ca, span.identctrl a.ca, table.identctrl a.ca{display:-moz-inline-block;}
div.identctrltxs img.IcPh, table.identctrltxs img.IcPh{width:24px;height:24px;}
div.identctrlts img.IcPh, table.identctrlts img.IcPh{width:32px;height:32px;}
div.identctrltm img.IcPh, table.identctrltm img.IcPh{width:48px;height:48px;}
div.identctrltl img.IcPh, table.identctrltl img.IcPh{width:61px;height:61px;}
div.identctrltxl img.IcPh, table.identctrltxl img.IcPh{width:96px;height:96px;}
div.identctrltxs img.ci, div.identctrlts img.ci, div.identctrltm img.ci, div.identctrltl img.ci, div.identctrltxl img.ci, div.identctrltlv img.ci, table.identctrltxs img.ci, table.identctrlts img.ci, table.identctrltm img.ci, table.identctrltl img.ci, table.identctrltxl img.ci, table.identctrltlv img.ci{border:none;width:16px;height:16px;}
div.identctrltxs td.ci, div.identctrlts td.ci, div.identctrltm td.ci, div.identctrltl td.ci, div.identctrltxl td.ci, div.identctrltlv td.ci, table.identctrltxs td.ci, table.identctrlts td.ci, table.identctrltm td.ci, table.identctrltl td.ci, table.identctrltxl td.ci, table.identctrltlv td.ci{width:18px;vertical-align:top;}
div.identctrltxs a, div.identctrlts a, div.identctrltm a, div.identctrltl a, div.identctrltxl a, div.identctrltlv img, table.identctrltxs a, table.identctrlts a{border:none;}
div.identctrltxs a img.ci, div.identctrlts a img.ci, div.identctrltm a img.ci, div.identctrltl a img.ci, div.identctrltxl a img.ci, table.identctrltxs a img.ci, table.identctrlts a img.ci{border:none;padding-bottom:4px;}
div.identctrltxs div.txt, div.identctrlts div.txt, div.identctrltm div.txt, div.identctrltl div.txt, div.identctrltxl div.txt, div.identctrltlv td.txt, div.identctrltlv div.txt, table.identctrltxs table.txt, table.identctrlts table.txt, table.identctrltm table.txt, table.identctrltl table.txt, table.identctrltxl table.txt, table.identctrltlv table.txt{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
div.identctrlotl{padding:4px;width:200px;position:relative;}
div.identctrlotl div.ci{width:34px;float:left;}
div.identctrlotl div.ci img.ci2{padding-left:2px;}
div.identctrlotl div.txt{padding-left:8px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:148px;}
div.identctrltlv, table.identctrltlv{width:225px;table-layout:fixed;}
div.identctrltlv table{table-layout:fixed;}
div.identctrltlv table td.txt div.txt{width:144px;}
div.identctrltlv td.IcPh, table.identctrltlv td.IcPh{width:55px;height:55px;}
div.identctrltlv img.IcPh, table.identctrltlv img.IcPh{width:48px;height:48px;}
div.identctrltlv div.ci, table.identctrltlv div.ci{width:34px;float:left;}
div.identctrltlv img.ci, table.identctrltlv img.ci{padding-bottom:2px;}
div.identctrltlv div.txt, table.identctrltlv table.txt{padding-left:2px;}
div.identctrltlv td.txt, table.identctrltlv td.txt{vertical-align:top;}
div.uxp_ep_ep div.uxp_ep_actions ul.uxp_ep_actionsList li{margin:0px;padding:0px;}
div.uxp_ep_ep div.uxp_ep_head td.IcCi img.IcCi{border:none;width:16px;height:16px;position:relative;}
div.uxp_ep_ep div.uxp_ep_head td.IcCi{width:18px;vertical-align:top;}
div.uxp_ep_ep div.uxp_ep_head td.IcTxt{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;vertical-align:top;word-wrap:normal;}
div.uxp_ep_ep div.uxp_ep_head td.IcPh{width:55px;height:55px;}
div.uxp_ep_ep div.uxp_ep_head img.IcPh{width:48px;height:48px;}
div.uxp_ep_ep .IcEpOf{width:100%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;word-wrap:normal;}
div.uxp_ep_ep a.IcBpt, div.uxp_ep_ep a.IcBpt:visited, div.uxp_ep_ep a.IcBpt:hover{font-weight:bold;}
div.uxp_ep_ep img.IcBi{width:32px;height:32px;-ms-interpolation-mode:bicubic;}
div.uxp_ep_ep a.IcTtl, div.uxp_ep_ep a.IcTtl:visited, div.uxp_ep_ep a.IcTtl:hover{font-weight:bold;}
div.uxp_ep_ep div.uxp_ep_head table.Ic{width:17em;table-layout:fixed;}
div.identctrl div.uxp_ep_ep a.uxp_ep_close, span.identctrl div.uxp_ep_ep a.uxp_ep_close{padding:4px;}
div.identctrl div.uxp_ep_ep, span.identctrl div.uxp_ep_ep{width:20em;}
div.identctrl div.uxp_ep_ep div.uxp_ep_sectionSeparator, span.identctrl div.uxp_ep_ep div.uxp_ep_sectionSeparator{display:none;}
