body{	
	background-image: url(images/bg.jpg); 
	background-repeat: no-repeat ;
	margin : 0px;
	color:#8d8c8c;
	font-size:12px;
	line-height: 22px; 
	font-style: normal;
	line-height:150%
}


td {
	FONT-SIZE: 12px; 
	COLOR: #5E5E5E; 
	FONT-FAMILY: Verdana,Helvetica,Arial;
	line-height:150%
}

.mytd{
	margin : 0px;
	color:#8d8c8c;
	font-size:12px;
	line-height: 22px; 
	font-style: normal;
	FONT-FAMILY: Verdana,Helvetica,Arial
}


.news{
	color:#FF3300;
	font-weight:bold;
	font-size:14.7px
}

.news ul
{
	list-style: none;
}

a.menu:visited, a.menu:active, a.menu:link {	
	color : #1084FF;
	text-decoration : none;
}

a.menu:hover {
	color: #FF6600;
	text-decoration : underline;
}

a:visited, a:active, a:link {	
	color : #8d8c8c;
	text-decoration : none;
}

a:hover {
	color: #1084FF;
	text-decoration : underline;
}

h1 {
	margin : 0px;
	margin-top : 5px;
	margin-bottom : 5px;
	font-size : 14.7px;
	color:#FF6600;
}

h3 {
	margin : 0px;
	margin-top : 5px;
	margin-bottom : 5px;
	font-size : 14.7px;
	color:#FF6600;
}

/*
h1 a:visited,
h1 a:active,
h1 a:link {
	color : #000;
}

h1 a:hover {
	color : #47F;
	text-decoration : none;
}
*/
h2 {
	margin-top : 10px;
	margin-bottom : 3px;
	font-size : 13px;
}

h3 {
	font-size : 14.7px;
}


/* section style */

#menu h1 {
	color: red;
	font-family: verdana, arial, sans-serif;	
	font-size: 14.7px;
	font-weight: bold;
	margin: 0px;
}

#menu ul {
	list-style: none;
	list-style: none;
	padding: 0px;
	margin: 0px 0px 15px 5px;
	font-size: 12px;
	line-height:160%
}

a.listitem:visited, a.listitem:active, a.listitem:link {	
	color : #355EA0;
	text-decoration : none;
}

a.listitem:hover {
	color: #1084FF;
	text-decoration : underline;
}

#Category {
	margin : 0px;
	color:#8d8c8c;
	font-size:11px;
	line-height: 22px; 
	font-style: normal
}

.Catedesc {
	padding-left:20px;
	padding-bottom:20px;

	background-image: url(images/main_background.gif);
	background-position: top left;
	background-repeat: repeat-y;
	text-align: justify;

	color: #808080;
	font-size: 12px;
	font-family: verdana, arial, sans-serif;	
	text-transform: uppercase;
}

/* section posts style */
h1.block_title {
	color: gray;
	font-family: verdana, arial, sans-serif;	
	font-size: 12pt;
	font-weight: bold;
	height: 59px;
	margin: 10px 0px 0px 0px;
	padding: 20px 0px 3px 20px;
	text-transform: uppercase;
}

h1.block_title img {
  vertical-align: middle;
  color:red;
}

h1.block_title a:visited, h1.block_title a:active, h1.block_title a:link {
	color: #FF6600;
}

#header a {
  color: #1084FF;
  font-family: verdana, arial, sans-serif;	
  font-size: 16px;
  font-weight: bold;
}

div.block {
  background-image: url(images/main_background.gif);
  background-position: top left;
  background-repeat: repeat-y;
  font-size: 8pt;
  text-align: justify;
}

div.block_footer {
  
  background-image: url(images/day_footer.gif);
  background-position: top left;
  background-repeat: no-repeat;
  height: 67px;
}


div.post {
  padding-left: 20px;
}

div.posttitle {
  color: #355EA0;
	font-family: verdana, arial, sans-serif;	
	font-size: 12pt;
	font-weight: bold;
}

.posttitle a:visited, .posttitle a:active, .posttitle a:link {	
	color : #5D5D5D;
	font-size:14.7px;
	text-decoration : none;
}

.posttitle a:hover {
	color: #FF6600;
	font-size:14.7px;
	text-decoration : underline;
}

/* 用户题记 */
div.itemdesc {
	padding-right:10px;
	text-align:right;
	color: #808080;
	font-size: 11px;
	font-family: verdana, arial, sans-serif;	
	text-transform: uppercase;

}


div.seperator {
  background-image: url(images/post_footer.gif);
  background-position: top left;
  background-repeat: no-repeat;
  margin: 15px 0px 10px 0px;
}

div.entrylistitem {
  padding-left: 20px;
  padding-bottom: 10px;
}

a.entrylisttitle, a.entrylisttitle:visited, a.entrylisttitle:link, a.entrylisttitle:active {
  color: #FF6600;
	font-family: verdana, arial, sans-serif;	
	font-size: 14px;
	font-weight: bold;
}

div.moreinfo {
  font-size: 8pt;
  text-align: justify;
}

div.moreinfotitle {
	color: #FF6600;
	font-family: verdana, arial, sans-serif;	
	font-size: 12pt;
	font-weight: bold;
}

/* section comment style */
commentform{
  font-size: 12px;
}
div.comment_footer
 {

	color:#8d8c8c;
	text-align:right;
}


div.comments {
  font-size: 12px;
}

div.comment {
	background-color: #FBFBFB;
  border: 1px dashed #DDDDDD;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

div.comment_author {
  margin: 5px 0px 5px 0px;
}

div.comment_content {
  margin: 5px 0px 5px 0px;
}


#postcomment {
	border: 1px solid #DDDDDD;
	background-color: #FBFBFB;
  font-size: 12px;
  padding: 10px;
  text-align: justify;
  margin-top: 15px;
  width: 435px;
}

#postcomment div {
	color: #808080;
  font-size: 10px;
	font-weight: bold;
  margin: 5px 0px 5px 0px;
}

#postcomment input.text, textarea {
  border: 1px solid #DDDDDD;
  font-size: 12px;
}

.postcontent
{
	font-size: 13px;
}


/* section calendar style */
.Cal
{
	border : 1px solid #999999;
	width:100%;
	font-family:Arial;
	font-size: 12px;
	margin-top:10px;
	margin-bottom:10px;
	height:180px;
	
	 	
}

.CalTitle
{
	background-color : #F5F5F5;
	border-color:#ADF;
	font-family:Arial;
	font-size: 13px;
	color : white;	
	margin-left : 0px;
	padding : 1px;
	height:100%;
	font-weight:bold;
}

.CalOtherMonthDay
{
	color:#808080;
	
}

.CalSelector
{
	
}

.CalNextPrev
{
	
}

.CalDayHeader
{
	background-color:#FFFFFF;
	
}

.CalSelectedDay
{
	
}

.CalWeekendDay
{
	
}

.CalTodayDay
{
	background-color:#e3e3e3;
}

ul {
	list-style: none;
	margin-top:2px;
	}