A:link {
	COLOR: #313031; TEXT-DECORATION: none
}
A:active {
	COLOR: #31659c; TEXT-DECORATION: none
}
A:visited {
	COLOR: #313031; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}

TD {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "宋体", "Verdana"; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 9pt; FONT-FAMILY: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif"
}
TEXTAREA {
	FONT-SIZE: 9pt; FONT-FAMILY: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif"
}
OPTION {
	FONT-SIZE: 9pt; FONT-FAMILY: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif"
}
#zoom {
	LINE-HEIGHT: 150%
}
#nav_menu TD {
	COLOR: white; TEXT-DECORATION: none
}
#nav_menu A:link {
	COLOR: white; TEXT-DECORATION: none
}
#nav_menu A:visited {
	COLOR: white; TEXT-DECORATION: none
}
#nav_menu A:active {
	COLOR: #ff0033; TEXT-DECORATION: none
}
#nav_menu A:hover {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
.copyright {
	FONT-SIZE: 12px; FONT-FAMILY: tahoma
}
#hint {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; Z-INDEX: 9; BACKGROUND: #ffffff; FILTER: Alpha(Opacity=90, FinishOpacity=50, Style=0); PADDING-BOTTOM: 4px; BORDER-LEFT: #000000 1px solid; WIDTH: 200px; LINE-HEIGHT: 17px; PADDING-TOP: 4px; BORDER-BOTTOM: #000000 1px solid; POSITION: absolute
}
.tb1 {
	BORDER-RIGHT: #cccccc 1pt solid; BORDER-BOTTOM: #cccccc 1pt solid
}
.b1 {
	BORDER-BOTTOM: #e1e1e1 1px dotted
}
#zoom {
	FONT-SIZE: 10.5pt; LINE-HEIGHT: 145%
}
.article_title {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt
}
.tableborder {
	BORDER-RIGHT: #bdbebd 1px solid; BORDER-TOP: 0px solid; BORDER-LEFT: #bdbebd 1px solid; BORDER-BOTTOM: 0px solid
}
.tableborder-lr {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #1C79C9;
	border-left-color: #1C79C9;
	background-color: #FFFFFF;
}
.tableborder-tb {
	BORDER-RIGHT: 0px dashed; BORDER-TOP: #000000 1px dashed; BORDER-LEFT: 0px dashed; BORDER-BOTTOM: #000000 1px dashed
}
.tableborder-r {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid
}
.button {
	BORDER-RIGHT: #a2a2a2 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #ffffff 1px solid; COLOR: #313031; BORDER-BOTTOM: #a2a2a2 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 20px; BACKGROUND-COLOR: #eeeeee
}
.input {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.main {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	line-height: 25px;
}
.white_link:link{
	color: #FFFFFF;
}
.white_link:hover{
	color: #FF0000;
}
.white_link:visited{
	color: #ffffff;
}
.top {
	background-image: url(top.gif);
	background-repeat: no-repeat;
}
.table {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #AECAEF;
	border-left-color: #AECAEF;
}
.table_border {
	border: 1px solid #2995F0;
}
.font_white {
	color: #FFFFFF;
}
.font_white_bold {
	color: #FFFFFF;
	font-weight: bold;
}
.search_button{
	background:url(search_button.gif);
	background-repeat: no-repeat;
	background-position: center center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.left_bgline {	
	background-image: url(left_bgline.gif);
	background-repeat: repeat-y;
}
.STYLE1 {
	color: #FF6600;
	font-size: xx-small;
}
