 .a_a{behavior:url(/style/css/base/htc/htc.span.a.htc);-moz-binding:url(/style/css/base/htc/bind.xml#htc.span.a.htc);cursor:pointer;}
 .g_htc_toggle{behavior:url(/style/css/base/htc/htc.toggle.htc);-moz-binding:url(/style/css/base/htc/bind.xml#htc.toggle.htc);}
   .g_htc_toggle .ck0{display:none;}
   .g_htc_toggle .ck1{display:inline;}
   .g_htc_toggle.toggle .ck0{display:inline;}
   .g_htc_toggle.toggle .ck1{display:none;}
 .g_htc_selitm{behavior:url(/style/css/base/htc/htc.selitm.htc);-moz-binding:url(/style/css/base/htc/bind.xml#htc.selitm.htc);cursor:default;}
   .g_htc_selitm span.del{visibility:hidden;}
   .g_htc_selitm.selitm span.del,.g_htc_selitm:hover span.del{visibility:visible;}
 .g_htc_seltgl{behavior:url(/style/css/base/htc/htc.selitm.htc) url(/style/css/base/htc/htc.toggle.htc);-moz-binding:url(/style/css/base/htc/bind.xml#htc.selitm.htc|htc.toggle.htc);}
   .g_htc_seltgl .ck{visibility:hidden;}
   .g_htc_seltgl.selitm .ck{visibility:visible;}
 .g_htc_blogselitm{behavior:url(/style/css/base/htc/htc.blogselitm.htc);-moz-binding:url(/style/css/base/htc/bind.xml#htc.blogselitm.htc);cursor:default;}
 .g_htc_over{_behavior:url(/style/css/base/htc/htc.over.htc);cursor:text;}
   .g_htc_over:hover,.g_htc_over.over{background-color:#ffffe1;}
 .g_htc_brd{_behavior:url(/style/css/base/htc/htc.brd.htc);padding:1px;}
   .g_htc_brd.brd,.g_htc_brd:hover{border-width:1px;border-style:solid;padding:0px;}
 .g_htc_hvr{_behavior:url(/style/css/base/htc/htc.hvr.htc);}
 .g_htc_item{behavior:url(/style/css/base/htc/htc.item.htc);-moz-binding:url(/style/css/base/htc/bind.xml#htc.item.htc);}
 .g_htc_item_selected{behavior:url(/style/css/base/htc/htc.item.selected.htc) url(/style/css/base/htc/htc.item.htc);-moz-binding:url(/style/css/base/htc/bind.xml#htc.item.selected.htc|htc.item.htc);}
 .g_htc_focus{cursor:text;behavior:url(/style/css/base/htc/htc.focus.input.htc);}
 .g_htc_focus.focus,.g_htc_focus:focus{cursor:text;background-color:#ffffe1;}
 .g_htc_list{_behavior:url(/style/css/base/htc/htc.hvr.htc);}
   .g_htc_list span.del{visibility:hidden;}
   .g_htc_list.hvr span.del,.g_htc_list:hover span.del{visibility:visible;}
