body {
    width: 920px;
	font-family: arial,sans-serif;
	font-size: 12px;
	margin-left:12px;
	margin-top: 0px;
	line-height: 150%;
	color: #333333;
}
DIV,TD,SPAN {
    font-size: 12px;
	color: #333333;
	line-height: 150%;
}
A {
    TEXT-DECORATION: none;
}
IMG {
    border: 0px;
}


#top_table {
    width: 920px;
	height: 113px;
	overflow: hidden;
	margin-left: 12px;
}

#top_center {
    float: left;
	margin-top: 6px;
	text-align: center;
}
#top_right {
    float: right;
	color: ff9900;
	padding-top: 12px;
}
#top_right A {
	color: #3C6BD7;
	TEXT-DECORATION: none;
}

#topmenus {
    float: left;
    height: 20px;
	padding-left: 100px;
    background: url('bar2.jpg') #DEFAFE;
	width: 100%;
	overflow: hidden;
}
#topmenus DIV {
    float: left;
	height: 20px;
	vertical-align: middle;
}
#topmenus A {
	color: #3C6BD7;
	font-weight: bold;
	TEXT-DECORATION: none;
}
.menu {
    width: 86px;
	text-align: center;
	color: 0099ff;
}
.menu1 { background: url(''); }
.menu2 { background: url('spliter1.jpg'); }


#metadata {
    width: 920px; margin-left: 12px;
	margin-top: 2px; background-color:#DEF4FF;
	overflow: hidden; text-align: left;
}

#mainbody {
    width: 920px; margin-left: 12px;
}

.layout1 {
    width: 100%; background-color: #cccccc; margin-top: 2px; overflow: hidden;
}
.layout1_title DIV {
    margin: 1px 1px 1px 1px;
    height: 22px; text-align: center; background-repeat: repeat-x; background-image:url('jpg2_bg3.jpg');
	color: #111111;
}
.layout2 {
    margin-top: -2px; background-color: #9ec9ec; padding: 1px 1px 1px 1px; overflow: hidden;
}
.layout2 #div1 {
    background-color: #ffffff; padding: 2px 4px 4px 6px;
	color: #333333;
}
.layout2 #div1 DIV {
    overflow: hidden; width: 200px; height: 20px;
}
.layout2 #div1 A {
    color: #0099ff;
}
.layout2 #div1 A:hover {
    color: #ff0000;
	TEXT-DECORATION: underline;
}
.layout2 IMG {
    margin-top: 2px;
}
.layout3 {
    margin-top: -2px; background-color: #cccccc; padding: 1px 1px 1px 1px;
}
.layout3 DIV {
    background-color: #ffffff; padding: 2px 4px 4px 6px;
	color: #333333;
}


.middle {
    float: left; margin-left: 2px; margin-top: 0px; width: 698px;
}

.copyright {
    width: 100%; text-align: center;  margin-top: 8px;
}
.copyright A {
    color: #333333;
}

#itemtitle {
    font-weight: bold;
	text-align: left;
}
#itemtitle A {
    color: #0099ff;
	margin-left: 12px;
}
#itembody {
    word-break: break-all; word-wrap: break-word;
}


.layout4 {
    width: 100%; background-color: #ffffff; margin-top: 2px; overflow: hidden; border: 1px #cccccc solid;
}
.layout1_title1 {
    width: 100%; background-color: #ffffff; text-align: left;
	color: #111111; padding-left: 12px; padding-right: 12px;
}
.layout1_title1 DIV {
	    text-align: left; height: 24px; padding-top: 3px;  background-color: #ffffff; overflow: hidden;
}
#itemtitle1 {
    width: 500px;
    font-weight: bold;
	float: left; 
}
#itemtitle1 LI {
    color: #666666;
}
#itemtitle1 A {
    font-weight: bold;
    color: #0099ff;
}
#itemtitle1detail {
    float: left; padding-right: 2px;
}
#line {
    float:right; width: 100%; height: 1px; background-color: #cccccc; margin: 0px; padding: 0px;
}

#friendlinks A {
margin-right: 6px;
}

#navbar-iframe {
 display: none;
 height: 0px;
 width: 0px;
}
#space-for-ie {
 display: none;
 height: 0px;
 width: 0px;
}

#code {
 width: 660px; overflow: scroll; background-color: #f0f0f0; padding-left: 6px;
}