@import "/tt/style/sitecommon.css";

body {
 	background-color: #FFF;
}
p {}
.box {
}
.layout {
}
.layout, .tabs, .head, .borderless, .announcement {
}
.box, .layout, .tabs, .head, .announcement {
}

.box td, .layout td, .tabs td, .borderless td  {
}

table.head {
}

.head td {
}

td.formcontainer {
}

.barbottom {
}

.barbottomdiv {
}

.bgdiv {
}

.widemargin {
}

a {
	color: #108301;
	border-bottom: 1px dashed #108301;
}

a:hover {
	color: #284B78;
	border-bottom: 1px solid #284B78;
}

a.nodecoration {
}

a.nodecoration:hover {
}

.tabs a {
}

.tabs .smalltext a {
	border-bottom: 1px dashed #108301;
}

.tabs .smalltext a:hover {
	border-bottom: 1px solid #284B78;
}

.tabs tbody {
	background-color: #F7F4EC;
}

.tabs .divisor {
	background-color: white;
}

.box tbody td {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 90%;
 	background-color: #F6F6F4;
}

.box thead tr {
}

.box thead tr th {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.box thead tr td {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 10px;
}

.box thead a:link, .box thead a:visited {
	color: #FFE;
}

.box thead a:hover {
	color: red;
}

.box thead .container {
}

.box thead .info {
	color: #BBB;
}

.box thead .info a {
	color: #BBB;
}

.box thead .text {
	color: #ffe;
}

.box thead .shadow {
	color: #18314A;
}

.box thead .fill {
}


.articlePortlet td {
	padding: 8px;
}



input {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 12px;
}

form {
}

form.search, form.login {
}

form.search input, form.login input {
	color: #fff;
	border: 1px solid black;
}

form.search input.focus, form.login input.focus {
	border-bottom: #ffdead solid 2px;
	border-right: #ffdead solid 2px;
	border-left: #c07300 solid 2px;
	border-top:  #c07300 solid 2px;
}

form.search input {
}

form.login input{
	color: #777;
}

form.login input.focus {
	color: #000;
}

form.search button, form.login button {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 12px;
}

.searchform select {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 12px;
}

td.ad {
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 10px;
}

td.ad a {
	color: blue;
}

td.ad a:hover {
	color: blue;
}

td.membercount {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 10px;
	color: #556;
}

h1 {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 140%;
	color: #284B78;
	font-weight: bold;
}

h2 {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #284B78;
	font-weight: bold;
}

h3 {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-style: italic;
	color: #284B78;
	font-weight: normal;
}

h6 {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 10px;
	color: gray;
	font-weight: normal;
}

h1 a, h2 a {
	color: #284B78;
}

h1 a:hover, h2 a:hover {
	color: #284B78;
}

table.list td {
}

table.list tr td a {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

table.list tr td a:hover {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #284B78;
}

.iteminfo {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
}

.updated, a.updated {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 10px;
	color: #284B78;
	border-bottom: 0px;
}

.quiet {
	color: #7B7B7B;
}

hr {
	border-top: 1px solid #E1DFCC;
	border-left: 1px solid #E1DFCC;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

img.dot {
	background-color: #000;
}

.announcement {
}

.announcement td {
	background-color: #F7F4EC;
	color: #222;
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 10px;
	font-weight: normal;
}

.borderless .diagrambar1 {
	background-color: #284B78;
	color: #fff;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 10px;
}

.borderless .diagrambar2 {
	background-color: #CCC49D;
	color: #fff;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 10px;
}

.borderless .diagrambar3 {
	background-color: #CCC49D;
	color: #fff;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 10px;
}

.borderless .diagramtext1 {
	color: #284B78;
}

.borderless .diagramtext2 {
	color: #A7A081;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 10px;
}


.cartoonSmall {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 10px;
}


div.center, td.center {
}

div.left, td.left {
}

div.right, td.right {
}

.smalltext {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 10px;
	color: black;
}

.pagenav {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 11px;
	color: black;
}

.pagenav a {
	color: #108301;
}

.pagenav a:hover {
	color: #284B78;
}

table.inlay {
	border: 1px solid black;
}

table.inlay td {
	background-color: white;
}

.thread {
}

table.thread td, .thread th  {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 80%;
	font-weight: normal;
}

.thread .forumheader td {
}

.thread .forumheader th a:hover
{
  color: #ff0000;
}

.thread .header th, .thread .header td {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 10px;
 	font-weight: bold;
 	background-color: #F6F6F4;
}

.thread tbody th {
	font-size: 12px;
}

.thread tbody td {
	font-size: 10px;
}

.thread .odd{
 	background-color: #EAEAE7;
}

.thread .even{
 	background-color: #F6F6F4;
}

.thread tbody th a {
	color: #000000;
}

.thread tbody th a:hover {
	color: #284B78;
}

form.poll .row {
}

form.poll input {
}

form.poll label {
}

form.poll button, form.userinput button {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 12px;
	color: #fff;
	border:1px solid black;
}

form.poll button.over, form.userinput button.over {
	border-bottom: #ffdead solid 1px;
	border-right: #ffdead solid 1px;
	border-left: #c07300 solid 1px;
	border-top:  #c07300 solid 1px;
}

form.poll button.down, form.userinput button.down {
	border-bottom: #ffdead solid 2px;
	border-right: #ffdead solid 2px;
	border-left: #c07300 solid 2px;
	border-top:  #c07300 solid 2px;
}

form.generic {
	background-color: #f0f0ea;
	border: 1px solid #CCC;
}

form.generic .row {
}

form.generic label {
}

form.generic .value {
}

.portlet tbody td {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 80%;
 	background-color: #F6F6F4;
}

.portlet tfoot td {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 80%;
 	background-color: #F6F6F4;
}

.portlet thead tr {
	background-image: url('/tt/skin/images/bar_bg.gif');
}

.portlet thead tr th {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.portlet thead tr td {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 10px;
}

.portlet thead a {
	color: black;
}

.portlet thead a:hover {
	color: #3D72B7;
}

.portlet thead a:active {
	color: #555;
}

.portlet thead .container {
}

.portlet thead .text {
	color: #333;
}

.portlet thead .shadow {
	color: #edd;
}

.portlet thead .fill {
}

div.replycontainer {
	border: 1px solid black;
	background-color: white;
}

div.reply {
}

div.reply .smalltext {
	color: #999;
}

div.reply a {
	color: #000;
}

div.reply a:hover {
	color: #284B78;
}

.hide {
}

#notfound th {
}

.streamspeed {
	border: 1px dotted #555;
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 9px;
	color: #000;
}

.streamspeed a {
	color: black;
}

.message {
	color: #284B78;
}

.error {
	background-color: #F6F6F4;
	color: #284B78;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: bold;
	border: 1px solid #CCC;
}

form.generic {
	background-color: #f0f0ea;
	border: 1px solid #CCC;
}

form.generic .row {
}

form.generic label {
}

form.generic .value {
}

.searchcomponent {
	font-size: 8pt;
	color: #333;
	background-color: #FAFCFE;
	border: 1px solid #000;
}

.searchcomponent table tr td {
	background-color: #FAFCFE;
}

.blacklist ul a {
	color: #000;
}

.blacklist ul a:hover {
	color: #284B78;
}

.note {
	font-size: 8pt;
	color: #333;
	background-color: #FAFCFE;
	border: 1px solid #000;
}

.rightbar-admin-menu {
	font-size: 65%;
}

h2.black-date-header {
	color: #000;
}

.sidebarItem
{
     border-left: solid 1 Gray;
     border-bottom: solid 1 Gray;
     padding-left: 5px;
     padding-top: 5px;
     padding-bottom: 15px;
     padding-right: 10px;
     font-size: smaller;
     color: Black;
}


.sidebarLink a
{
	font-size: x-small;
	font-weight: bold;
	line-height: 1.5;
	color: Black;
}


/* start css for leftbar text links  */


.ovt {
 margin-top: 2px;
 border: 1px solid gray;
 position: relative;
}
#west2 .ovt, #east2 .ovt {border-width: 1px 0 0;}
.ovt .disclaimer, .ovt .whatsthis, .ovt disclaimerWhite, #east .ovt div, #east2 .ovt li div {font-size: .79em; font-color: gray;}
.ovt .disclaimer {
 font-family: font-family: tahoma,verdana,arial,helvetica,sans-serif;
 font-size: 11px;
 font-color: gray;
 position: absolute;
 top: -.6em;
 background-color: #F6F6F4;
 padding: 0 .25em;
 margin-left: 6px;
}

.ovt .disclaimerWhite {
 font-family: font-family: tahoma,verdana,arial,helvetica,sans-serif;
 font-size: 11px;
 font-color: gray;
 position: absolute;
 top: -.6em;
 background-color: #FFFFFF;
 padding: 0 .25em;
 margin-left: 6px;
}

.ovt ul {margin: .4em 0 5px; padding: 0;}
.ovt li {
 font-family: font-family: tahoma,verdana,arial,helvetica,sans-serif;
 font-size: 11px;
 margin: 5px 0;
 padding: 5px 10px 0;
 list-style-type: none;
 cursor: pointer;
 cursor: hand;
 width: 100%; /* PC IE */
}


/* end css for leftbar text links  */



/* start NEW css for leftbar text links  */

.adtable {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #888888;
	margin: 0px 2px 0px 0px;
	padding: 0px;
	width: 130px;
	float: left;
}
.adzedotable {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px 3px 0px 0px;
	padding: 0px;
	width: 135px;
	float: left;
}
.adinnertable {
	margin: 0px 0px 2px;
	width: 100%;
	padding-top: 0px;
	padding-right: 7px;
	padding-bottom: 0px;
	padding-left: 0px;
	border: none;
	float: left;
}
.adtitle {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #003366;
}
.adtext {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	align: center
}
.adspacing {
	font-size: 6px;
}


.rightbartable {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #666666;
	padding-right: 3px;
}

.margintable {
	padding: 4px;
}

/* end NEW css for leftbar text links  */


