#lzOutBox{width:100%;padding:0;margin:0;float:left;}
#LzContainer,.LzReviewList
{
	width:98%;
	border:solid 1px #A5B5C0;
	margin:auto;
	float:left;
}
.LzReviewList{margin:2px auto 2px auto;}
#LzContainer dt,.LzReviewList dt
{
	height:21px;
	text-indent:2em;
	padding-top:2px;
	padding-bottom:2px;
	background:url(/hi/images/bgContentDT.gif) repeat-x;
	border-bottom:solid 1px #A5B5C0;
	width:100%;
	font-size:12px;
	color:#16387C;
	font-weight:bold;
	 text-align:left;
	padding:0;
	margin:0 auto;
	float:left;
}
.LzReviewList dt{font-weight:normal;}
.LzReviewList dt em{color:Gray;}
#LzContainer dd,.LzReviewList dd
{
	width:100%;float:left;margin:0;padding:0;text-align:center;
	padding-top:5px;padding-bottom:5px;
}
.LzReviewList dd{text-align:left;text-indent:2em;color:Gray;font-size:12px;}
#LzContainer dd A{color:#16387C;}
#LzContainer dd textarea
{ width:80%;	border:solid 1px #A5B5C0;height:150px;font-size:12px;color:Gray;}
#LzContainer dd #LzSubmit{border:solid 1px #A5B5C0;background:url(/hi/images/bgContentDT.gif) repeat-x;color:#16387C;}