/*

LoveDear-Temp3 Skin of Bo-Blog V2.1.1

By LoveDear Power www.LoveDear.com.cn

2009.7.28

*/



/****** General Styles ******/

*{

    margin:0 auto;

	padding:0;

}

* html body{

	width: 100%;

	overflow-x: hidden;

	margin:0 auto;

	padding:0;

}

body {

	font-size: 12px;

	font-family: Tahoma, Arial;

	color: #5B5B66;

	margin:0 auto;

	padding:0;

	text-align: center;

	background-color: #C2B7AE;

}

td{

	word-break: break-all;

}

a {

	text-decoration: none;

	color: #5B5B66;

}

a:hover {

	text-decoration: none;

	color:#990000;

}

ul,li{

	list-style:none;

	font-style:normal;

}

hr {

	height: 1px;

	border: 0;

	border-top: 1px solid #333;

}

acronym {

	text-decoration: none;

	border-bottom: 1px dotted #333;

	cursor: help;

}

img{

    border:none;

	margin:0px;

	padding:0px;

}



/****** Form Controls Styles ******/

form {

	display: inline;

}

input {

	font-family: Tahoma, Arial; 

	font-size: 12px;

	padding:1px;

}

input.text {

	background: #fff;

	border: 1px solid #D5C9B3;

}

input.button {

	background: #fff;

	padding:2px;

	border: 1px solid #D5C9B3;

}

textarea { 

	background: #fff;

	border: 1px solid #D5C9B3;

}

select { 

	background: #fff;

	border: 1px solid #D5C9B3;

}

/****** Main Layout Styles ******/

#wrapper {

	/*text-align:center;*/

	margin:0 auto;

	background-image:url(images/body-bg.png);

	background-repeat:repeat-x;

	background-position: top;

}

#innerWrapper {

	/*clear:both;*/

	text-align:left;

	width: 950px;

	margin:0 auto;

	padding:0;

}

#header {

	height: 120px;

	width:100%;

}

#innerHeader {

	padding: 0;

	height: 120px;



}

#blogLogo{

    height:75px;

	padding:0px;

}

#blogLogo img{

	float:left;

}

#footer {

	clear: both;

	margin:0 auto;

	padding:0;

	width:950px;

	height: 65px;

	padding-bottom:30px;

}

#innerFooter {

	clear:both;

	padding: 15px;

	padding-left:50px;

	height: 63px;

	text-align:left;

	background-image:url(images/footer-bg.png);

	background-repeat:no-repeat;

}

#Copyrightinfo{

    float:left;

	width:630px;

}

#processtime{width:100%;}

#innerFooter #gotop{

    float:right;

	width:240px;

}

/****** Header Elements Styles ******/

/* header title */

.blog-header {

	padding-top: 50px;

	padding-bottom:30px;

	padding-left: 70px;

	padding-right: 20px;

}

h1 {

	padding: 0px;

	margin: 0px;

	color: #BE3708;

	font-size: 18px;

}

h1 a {

	color: #BE3708;

}

h1 a:hover {

	color: #BE3708;

}

/* blog description */

.blog-desc {

	margin-top:20px;

    color:#917341;

}

/* nav menu */

#menu { 

	float: left;

	margin-top:12px;

	width:950px;

	height: 33px; 

	background: url(images/menu-bg.png) no-repeat;

}

#menu ul {

	height: 33px;

	padding:0 5px;

}

#menu li{

	display:inline; 

	float: left;

	text-align: center;

	line-height: 33px; 

}

#menu li a{

	color: #FFF6AD; 

	display: block;

}

#menu li span {

	padding: 0 10px 0 10px;

	display: block;

}

#menu li a:hover{

	color: #FFFF73;

}

#menu li .activepage a {

	background: url(images/menu-li-bg.png) no-repeat 0 4px;

	color: #731909;

}

#menu li .activepage a:hover {


	color: #99210C;

}

#menu li .activepageitem {

	background: url(images/menu-li-bg.png) no-repeat  100%  -32px;

}



/****** Content Layout ******/

#main{

	width:950px;

	margin:0 auto;

	padding:0;

	float:left;

}

#mainWrapper {

	width:950px;

	float:left;

	background-image:url(images/container-bg.png);

	background-repeat:repeat-y;

	background-color:#FFFFFF;

}



/* sidebar */

.sidebar {

	float:right;

	width: 270px;

	margin:0 auto;

	padding:0;

}

.sidebar-hide {

	display: none;

	float: left;

}

#innerSidebar {

	background-image:url(images/sidebar-bg.png);

	background-repeat:no-repeat;

	background-position:top;

}

#innerSidebarOne {

	float: right;

	width: 270px;

	border: 0px solid #9EC9FF;

}

#innerSidebarTwo {

	float: left;

	width: 0px;

}

#innerSidebarSearch {

	clear: both;

	padding: 15px;

	padding-bottom:5px;

	color: #000;

	text-align: left;

}

#innerSidebarFooter {

	clear: both;

	padding: 10px; 

	background-color: #000000;

}

/* content */

.content {

	width: 680px;

	overflow:hidden;

	float: left;	

}

.content-wide {

}

.content-only {

	width: 100%;

}

#innerContent {

    padding:10px;

	padding-top:20px;

	overflow: hidden;

}



/* a style which makes mainWrapper touch the bottom of sidebar and content */

.clear{

	border-top:1px solid transparent !important;

	margin-top:-1px !important;

	border-top:0;

	margin-top:0;

	clear:both;

	visibility:hidden;

}



/****** Sidebar Panels ******/

.panel{

	width: 270px;

	margin-top:5px;

	clear:both;

	text-align:center;

}

.panel h5 {

	text-align: left;

	margin:0 auto;

	padding:10px 0px;



	color: #333333;

	font-size: 12px;

	font-weight: bold;

	cursor: pointer;

	letter-spacing: 1.5pt;



	width:90%;

	margin-bottom: 4px;

	background: url(images/widget-title-bg.png) no-repeat 50% 100%;

}

.panel h5 a{

	color: #000000;

}

.panel-content{

	margin:0 auto;

	padding:0;

	width:90%;

	margin-bottom: 10px;

	line-height: 150%;

	text-align:left;



}

.panel-content a{



}

.panel-content a:hover {



}



.panel-content ul{

	padding: 0px;

	margin: 0px;

	margin-left: 2px;

	color:#666666;

}

.panel-content li{

	padding-top: 3px;

	padding-bottom:3px;

	margin: 0px;

	list-style: none;

	border-bottom: 1px solid #E1E1E1;

}

.rowcouple,.rowodd{

	background-image:url(images/ico.png);

	background-repeat:no-repeat;

	background-position:0 -93px;;

	text-indent:18px;

}

/**Sidebar Links**/

.indent{

	list-style: none;

	float:left;

	width: 118px;;

	padding: 0px;

}

.indent a{

    display:block;

	width:96%;

}

.indent a:hover{

	background-color:#E0E0E0;

}

/* user panel login form */

#loginForm {

	width: 90%;

}



/* calendar panel */

#calendar {

  width: 100%; 

  margin-top:1px;

}

.calendar-top {

  text-align: center;

  padding:0px;

}

.calendar-year,

.calendar-month {

  font-weight: bold;

}

.calendar-weekdays {

  color: #5B5B66;

  font-size:11px;

  text-align: center;

  width: 14%;

  padding:0px;

}

.calendar-weekday-cell {

  color: #000;

  font-size:11px;

  text-align: center;

  width: 14%;

  padding:0px;

  font-weight: bold;

}

.calendar-main {

  background: #FFFFFF;

}

.calendar-day,

.calendar-day-blank,

.calendar-saturday,

.calendar-sunday,

.calendar-today{

  text-align: center;

  width: 14%;

  padding:0px;

}

.calendar-saturday,

.calendar-sunday {

  color: #990000; 

}

.calendar-today { 

  color: #000;

  border: 1px solid #713116;

}

.calendar-day a, .calendar-saturday a, .calendar-sunday a {

  color: #990000; 

  text-decoration: underline;

}

.calendar-today a {

  color: #990000;

  text-decoration: underline;

}



/****** Search Panel ******/

.search-field {

	background: #fff;

	border: 1px solid #D5C9B3;

}



/****** Announcement Box ******/

.announce{

	margin-bottom: 0px;

}

.announce-content{

	padding: 10px;

	padding-left:25px;

	border:1px dashed #D4D4D4;

	background:url(images/announce-bg.gif) no-repeat 10px 10px;

}



/****** Defaul Page Elements ******/

.article-top {

	padding: 10px;

	margin-bottom: 20px;

}

.article-bottom {

	padding: 5px;

	margin-top: 15px;

}



/* page links */

.pages {

	padding: 3px;

	border: 1px solid #D5C9B3;

}

.pagelink-current {

	font-weight: bold;

}



.listbox {

	padding: 5px;



}

.listbox-table {

	width: 99%;

	border:1px solid #D5C9B3;

	border-bottom:none;

}

.listbox-header {

	font-weight: bold;

	text-align: center;

	background-color: #D5C9B3;

	color: #5B5B66;

	height: 25px;



}

.listbox-entry {

	word-wrap: break-all;

	padding:2px;

	border-bottom: 1px solid #D5C9B3;

}

.listbox-entry a{

	word-wrap: break-all;

}



/* entry display box */

.prev-article{ float: left; }

.next-article{ float: right; }



/* text box */

.textbox{

	padding:10px;

	padding-left:0px;

	margin-bottom: 5px;

	clear: both;

	background:url(images/space-line.png) no-repeat 80% 100%;

}

/*textbox time*/

.textbox-calendar {

	float: left;

	height: 40px;

	width: 38px;

	text-align: center;

	background-image:url(images/post-date-bg.png);

}

.textbox-calendar-day {

	display: block;

	font-family: Arial;

	color: #5B5B66;

	font-size: 18px;

	padding: 2px;

}

.textbox-calendar-month {

	margin: 0px;

	margin-top: 0px;

	display: block;

	font-family: Arial;

	font-size: 12px;

	text-transform: uppercase;

	color: #FFFFFF;

	font-weight: bold;

}





.textbox-title{

	font-size: 16px;

	height: 45px;

	margin-left: 5px;

}

.textbox-title h4{

	color: #713116;

	font-size: 14px;

	padding: 5px;

	padding-left:15px;

	display: inline;

	font-weight: bold;

}

.textbox-title h4 a {

	font-weight: bold;

	color: #5B5B66;

}

.textbox-title h4 a:hover {

	color: #990000;



}

.textbox-label{

	padding-top: 5px;

	font-size: 12px;

	text-indent: 29px;

}

*+html .textbox-label{

	text-indent: 15px;

}

* html .textbox-label{

	text-indent: 15px;

}

.text-label-indented {

	font-size: 12px;

	display: block;

	text-align: right;

	float: right;

	margin-top: -15px;

}

*+html .text-label-indented {margin-top: -20px;}

.textbox-fontsize{

	color: #5B5B66;

	float: right;

	text-align: right;

	padding: 3px;

	font-size: 12px;

}

.textbox-fontsize a{

	color: #5B5B66;

}

.textbox-content{

	clear: both;

	word-wrap: break-word;

	padding: 5px;

	font-size: 12px;

	line-height: 150%;

}

.textbox-bottom{

	padding: 0px;

	padding-top: 3px;

	padding-bottom: 1px;

	font-size: 12px;

	color: #5B5B66;

	text-align: left;

}

.textbox-bottom a {

	color: #5B5B66;

	text-decoration: none;

}

.textbox-bottom a:hover {

	background-color: #000;

	color: #990000;

	text-decoration: none;

}

.textbox-adminbar {

	padding: 0px;

	font-size: 12px;

	color: #5B5B66;

	text-align: left;

}

.textbox-tburl {

	padding-top: 3px;

	font-size: 11px;

	color: #5B5B66;

	text-align:left;

}

/*2009.07.28 2:00 am**/

.tags {

	clear: both;

	padding-top: 3px 20px;;

	font-size: 12px;

	color: #713116;

	text-align:left;

	text-align:right;

}

.tags a {

	color: #713116;

}

.tags a:hover{

    color:#5B5B66;

}

/* comments wrapper */

.comment-wrapper{

}



/* comments top box */

.comment-top{

	padding:5px;

	padding-top: 0px;

	margin: 5px;

	color: #5B5B66;

	text-align: right;

}

.comment-pages{

	padding:5px;

	margin: 5px;

	color: #5B5B66;

}



/* commnet box */

.commentbox, .trackbackbox {

	word-wrap: break-word;

	padding: 0px;

	margin: 5px;

	border: 1px solid #CCCCCC;

}

.commentbox-odd {

	background: #FBFEFF;

	border-top: 1px solid #CCCCCC;

}

.commentbox-couple {/*评论与内容的分割线*/

	background: #fff;

	border-top: 1px solid #CCCCCC;

}

.trackbackbox {

	background: #E9FDF1;

	border-top: 1px solid #CCCCCC;

}

.commentbox-title, .trackbackbox-title{

	padding: 6px;

	font-size: 14px;

	color:#713116;

}

.commentbox-title a, .trackbackbox-title a{

	font-weight: bold;

	color:#713116;

}

.commentbox-title a:hover, .trackbackbox-title a:hover{

	font-weight: bold;

	color:#5B5B66;

}

.commentbox-label, .trackbackbox-label{

	display: block;

	font-size: 12px;

}

.commentbox-label a, .trackbackbox-label a{

	font-weight: normal;

}



.commentbox-content, .trackbackbox-content{

	padding: 6px;

	padding-bottom: 10px;

}





/* comment form wrapper */

#commentForm {

	width: 100%;

}



/****** normal message box ******/

.messagebox{

 width: 550px;

 margin-top: 120px;

 border: 1px solid #CCCCCC; 

 border-top: 0px; 

 text-align: center; 

 background-color: #EDE6DF;

}

.messagebox-title{

 color: #B5B66; 

 font-weight: bold; 

 padding: 5px;

}

.messagebox-content{

 color: #5B5B66; 

 background:#FFFFFF;

 padding: 10px; 

 padding-bottom: 20px; 

 text-align: left;

}

.messagebox-bottom{

 color: #000; 

 background-color:#F1F1F1; 

 padding: 5px;

}





/****** Input Form Styles (table) ******/

.formbox{}

.formbox-comment{

	padding: 10px;

	border-top: 1px dashed #CCCCCC;

}



.formbox-title,

.formbox-comment-title{

	color: #666666;

	padding:5px;

	font-weight: bold;

	font-size: 14px;

}



.formbox-rowheader {

	padding: 5px;

	font-weight: bold;

}



.formbox-content {

	padding: 5px;

}

.formbox-comment-content input{

	border:1px solid #CCCCCC;

	width:120px;

	font-size:12px;

	padding:2px;

	margin:2px;

	color:5B5B66;

}

.formbox-comment-content #v_replier{}

.formbox-comment-content #v_password{}

.formbox-comment-content #v_repurl{}

.formbox-comment-content #v_repemail{}

.formbox-comment-content #v_content{

	width:480px;

}

.formbox-comment-content #btnSubmit{

	width:90px;

	height:27px;

	background:url(images/postcomment-submit.png) no-repeat;

	border:none;

	color:#FFFFFF;

}

#reset{

	display:none;

}

/* smilies list */

.panel-smilies {

	padding:5px;

	text-align: center;

}

.panel-smilies-title {

	color: #000;

	text-align: left;

	border-bottom: 1px solid #ddd;

}

.panel-smilies-content {

    width:130px;

	padding: 5px;

	padding-left:0;

	line-height: 180%;

}





/****** UBB Code Custom Styles ******/

/* IE fix for ul */

.code {

	word-wrap: break-all;

	background-color:#F1F1F1;

	border: 1px solid #DBDBDB;

	color: #666666;

	margin: 10px;

	padding: 10px;

}



.quote {

	border: 1px solid #DBDBDB;

	background-color:#F1F1F1;

	margin: 10px;

}

.quote-title {

	background-color: #FBFEFF;

	padding: 5px 10px;

	font-weight: bold;

}

.quote-title img {

	padding-right: 3px;

	margin-bottom: -4px;

}

.quote-content {

	word-wrap: break-all;

	color: #666666;

	padding: 10px;

	padding-top:2px;

	border-top: nonne;

}



/****** Link ******/

.linkover {

	margin-bottom: 20px;

	padding:15px;

	height: auto;

	clear: both;

}

.linkbody {

	float: left;

	padding-bottom: 12px;

}

.linkimg {

/*	width: 35%;*/

	float: left;

	text-align: right;

	margin-right: 4px;

}

.linktxt {

	float: left;

}

.linktitle a {

	font-weight: bold;

}

.linkgroup {

	font-weight: bold;

	font-size: 12px;

	color: #666666;

	text-indent: 3px;

	margin-bottom:5px;

	padding-bottom:5px;

	border-bottom:1px solid #E2E2E2;

}



/*Page*/

.pagebox {

    padding:15px;

	padding-bottom: 25px;

	margin-bottom: 5px;

	clear: both;

}

.pagebox-title{

	font-size: 16px;

	height: 68px;

	margin-left: 5px;

}

.pagebox-title h4{

	color: #666666;

	font-size: 16px;

	padding: 5px;

	margin: 0;

	display: block;

	border-bottom:1px dashed #cccccc;

	font-weight: bold;

}

.pagebox-content{

	margin-top: -30px;

	clear: both;

	word-wrap: break-word;

	padding: 5px;

	font-size: 12px;

	line-height: 180%;

}





/* Emot Page Selection */

#smileybuttons {

	text-align: right;

	margin-top: 9px;

}



.smileybut {

	margin-right:3px;

	padding: 3px;

	vertical-align: middle;

	font-weight: bold;

}



.smileybut  a{

	border: 1px solid #666666;

}



/*OpenID input area */

#openid_url {

	background: url(../../images/others/openid.gif) no-repeat;

	text-indent: 20px;

}