table,td,select,input,div {font-family: Verdana;font-size:12px;}
body {
	font-family: Verdana;
	font-size:12px;
	height:auto;
	margin-top: 2px;
}
a img {border:0;}


A {
	text-decoration : none;
	color: #003366;
}

a:visited {
	text-decoration: none;
	color: #102941;
}
A:hover {
        text-decoration : underline;
		color: #EAB30D;
		
		
}

form,textarea{
	font-size:12px;
	COLOR: #000000;
	
}

input {
   BORDER-RIGHT: #668235 1px solid;
    BORDER-TOP: #668235 1px solid;
    BORDER-LEFT: #668235 1px solid;
    BORDER-BOTTOM: #668235 1px solid;
    BACKGROUND-COLOR: #FAFBF5;
	font-size:12px;

}

textarea{
    BORDER-RIGHT: #668235 1px solid;
    BORDER-TOP: #668235 1px solid;
    BORDER-LEFT: #668235 1px solid;
    BORDER-BOTTOM: #668235 1px solid;
    BACKGROUND-COLOR: #FAFBF5;
	font-size:12px;

}


select {
    BORDER-RIGHT: #668235 1px solid;
    BORDER-TOP: #668235 1px solid;
    BORDER-LEFT: #668235 1px solid;
    BORDER-BOTTOM: #668235 1px solid;
    BACKGROUND-COLOR: #FAFBF5;
	font-size:12px;

}

ul {
         FONT-SIZE: 14px; COLOR: #000000;  
	list-style-type: square;
	
}

li {
         FONT-SIZE: 14px; COLOR: #000000;  
}

ol {
	FONT-SIZE: 14px;
	COLOR: #000000;

	list-style-type: decimal;
	line-height: 150%;
	font-style: normal;
	font-weight: normal;
}

.small {
	font-size: 12px;
	font-family: Tahoma, Verdana; 
}

.smallgray {
	font-size: 12px;
	COLOR: #000000;
	font-family: Tahoma, Verdana; 
}

.small2{
	font-size: 12px;
	font-family: Tahoma, Verdana; 
}



h4 {
	font-size: 14px;
}

h3 {
	font-size: 16px;
}

h2 {
	font-size: 20px;
}

.big16 {
	font-size: 16px;
}


.big18 {
	font-size: 18px;
}

.bige20 {
	font-size: 20px;


}
A.home_title:link {
    font-size:14px;
	text-decoration:none;
	color:#333333;
	font-weight: bold;
	
}
A.home_title:visited {
    font-size:14px;
	text-decoration:none;
	color: #333333;
	font-weight: bold;
}
A.home_title:active {
    font-size:14px;
	text-decoration:none;
	color: #333333;
	font-weight: bold;
}
A.home_title:hover {
    font-size:14px;
	text-decoration : none;
	color: #EAB30D;
	font-weight: bold;
}

.white{
color:#FFFFFF
}

.bodystyle {
	FONT-SIZE: 14px;
}

A.a03:link {text-decoration:none;color:#EAB30D;font-size: 12px;}
A.a03:visited {text-decoration:none;color:#EAB30D;font-size: 12px;}
A.a03:active {text-decoration:none;color:#ff0000;font-size: 12px;}
A.a03:hover {text-decoration:none;color:#ff0000;font-size: 12px;}

.title { font-size: 14px; font-weight: bold ; line-height: 144%; color: #009933;}
.article { font-size: 14px; line-height: 150%; color: #212121;}
.tpc_content { font-size: 13px;}



form {
	margin: 0px 0px 0px 0px;
}

form.search, form.login {
	margin: 8px 8px 8px 8px;
}

form.search input, form.login input {
	padding-left: 4px;
	margin: 1px 1px 1px 1px;
	 BORDER-RIGHT: #668235 1px solid;
    BORDER-TOP: #668235 1px solid;
    BORDER-LEFT: #668235 1px solid;
    BORDER-BOTTOM: #668235 1px solid;
    BACKGROUND-COLOR: #FAFBF5;
}

form.search input.focus, form.login input.focus {
	margin: 0px 0px 0px 0px;
}


form.search input {
	background-image:url('/images/input_orange.gif');
}

form.login input{
	background-image:url('/images/input_white.gif');
}

form.login input.focus {
}

form.search button, form.login button {
	padding: 0px 0px 0px 0px;
}

form.search input, form.login input {
	color: #fff;
	border: 1px solid black;
}
.topvline {
	font-family: "Arial", "Helvetica", "sans-serif";
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: ffffff;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}


div#header_nav_links {
	margin: 0px auto; 
	
}



div#header_nav_links td {
	display: inline;
	
}
div#header_nav_links td a.a03{
  font-size: 11px;;
  text-align: center;
  float: center;
  padding-top: 4px;
  padding-left: 10px;
  height: 22px;
   color: #fff;
  font-weight: normal;
  text-decoration: none;


}
div#header_nav_links td a.a03:hover{
  font-size: 11px;
  text-align: center;
  float: center;
  padding-top: 4px;
  padding-left: 10px;
  height: 22px;
  color: #EAB30D;
  font-weight: normal;
  text-decoration: none;

 
}


div#footer_links {
float: center;
padding-top: 7px;
}
div#footer_links table {
	margin: 0px;
	padding-left: 30px;
	
}
div#footer_links td {
    float: center;
	display: inline;
	padding-left: 0px;
	margin-left: 0px;
}
div#footer_links td a.a03{
  font-size: 98%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  text-decoration: none;
  border-left: 1px solid #ccc;
}