/* 全局参数 */
body { margin: 0;padding: 0;width: 100%;background: #C6CFD0;color: #000000;font: 12px Tahoma, sans-serif;text-align: center;}
#wrap { margin: 0 auto;width: 980px;background: url(../images/bg2.gif) repeat-y;text-align: center;position: 固定;}
#wrap1 { margin: 0 auto;width: 980px;background-color: #FFFFFF;text-align: center;position: 固定;}
a:link { color: #333333;text-decoration: none;}
a:hover { color: #FF6600;text-decoration: underline;}
a:active { color: #004A9C;text-decoration: none;}
a:visited { color: #666666;text-decoration: none;}
a.classlinkclass:link,a.classlinkclass:visited { color: #FFFFFF;font-size: 12px;font-weight: bold;text-decoration: none;}
a.classlinkclass:active,a.classlinkclass:hover { color: #DDDDDD;font-size: 12px;font-weight: bold;text-decoration: underline;}
img { border: 0px;}
* { margin: 0;padding: 0;}
td { color: #333333;font-size: 12px;line-height: 18px;text-align: left;text-decoration: none;}
.textbox { border: 1px solid #666666;margin: 2px;background: #FFFFF0;font: 12px Tahoma, sans-serif;vertical-align: middle;}
.button { border: 1px solid #666666;margin: 2px;background: #F0F8FF;font: 12px Tahoma, sans-serif;vertical-align: middle;}
.chinahtmlimg { border: 1px solid #CCC;float: right;margin: 3px;padding: 5px;}
.web { font: 0px/0px sans-serif;color: #FFFFFF;width:0;height:0;display:none;}
/* 分隔行 */
.mainline { clear: both;width: auto;display: block;background: #C6CFD0;font: 0px/0px sans-serif;height: 3px;}
.topline { clear: both;display: block;background: #FFFFFF;font: 0px/0px sans-serif;height: 3px;}
.clear { clear: both;font: 0px/0px sans-serif;}
/* 主板块 */
.main { width: 974px;border: 3px solid #FFFFFF;margin: auto;}
/* 主栏目 */
.maincolumn { width: 980px;margin: 1px;}
.mainleft { float: left;width: 776px;padding-right: 3px;table-layout: fixed;}
.mainright { float: right;width: 200px;table-layout: fixed;text-align: center;}
.listleft { float: left;width: 286px;padding-right: 3px;background: #C6CFD0;}
.listright { float: right;width: 286px;text-align: center;}
/* 右边栏目 */
.rightblock { border: 3px solid #FFFFFF;margin: 0 auto;clear: both;background: #FFFFFF;text-align: left;}
.righttitleico { float: left;width: 25px;border-right: 3px solid #FFFFFF;background: url(../images/arrow.gif) #A6B0B6 no-repeat center;height: 25px;}
.righttitlename { float: right;width: 166px;color: #FFFFFF;background: #98B1C4;font-weight: bold;text-align: left;line-height: 25px;height: 25px;}
.menu { color: #00009C;text-decoration: none;}
.red { color: #FF3300;}
/* 右边导航 */
#quicknav { margin: 0 auto;padding: 3px 3px 0px 3px;border-top: 3px solid #FFFFFF;background: #EEEEEE;text-align: center;height: 121px;}
#quicknav ul { margin: 0px 0px 0px 5px;display: inline;color: #DEDEDE;}
#quicknav ul li { float: left;width: 49px;padding: 0px 0px 0px 12px;list-style: none;background: url(../images/ico.gif) no-repeat 4px 5px;height: 20px;}
#quicknav ul li a { color: #000000;}
#quicknav ul li a:hover { color: #333333;text-decoration: underline;}
#search { margin: 0 auto;padding: 0;border-top: 3px solid #FFFFFF;background: #EEEEEE;text-align: center;}
/* 友情连接 */
#flist { border: 3px solid #FFFFFF;margin: 0 auto;clear: both;background: #FFFFFF;text-align: left;}
.ftitleico { float: left;width: 25px;border-right: 3px solid #FFFFFF;background: url(../images/arrow.gif) #999999 no-repeat center;height: 25px;}
.ftitlebg { float: right;width: 541px;color: #FFFFFF;background: #999999;text-align: left;line-height: 25px;height: 25px;}
.ftitlename { float: left;width: 475px;padding-left: 5px;font-weight: bold;text-align: left;}
.ftitlemore { float: right;width: 61px;}
#flinks{ width: 569px;margin: 0;padding: 4px 0 0;border-top: 3px solid #FFFFFF;background: #EEF2F7;height: 50px;}
#flinks a{ display:block;height:20px;width:63px !important;width /**/:71px;padding:0px 0px 0px 8px;float:left;overflow:hidden;}

#fplinks{ width: 569px;margin: 0;padding: 4px 0 0;border-top: 3px solid #FFFFFF;background: #EEF2F7;height: 33px;}
#fplinks a{ display:block;height:33px;width:88px !important;width /**/:80px;padding:0px 0px 0px 6px;float:left;overflow:hidden;}
/* 合作伙伴 */
.hezuo { border-top: 3px solid #FFFFFF;margin: 0;padding: 0;background: #F8F8F8;text-align: center;height: 135px !important;height: 137px;}
.hezuo li { width: 94px;margin: 0px 2px 4px 0px !important;margin: 0px 0px 2px 0px;float: left;list-style: none;height: 22px;}
.hezuo a { width: 94px;border: 1px solid #DDDDDD;display: block;background: #F6F6F6;font-size: 12px;text-decoration: none;line-height: 22px;text-align: center;height: 22px;}
.hezuo a:link, .hezuo a:visited { color: #000000;background: #F6F6F6;text-decoration: none;}
.hezuo a:hover { border: 1px solid #FF6600;color: #000000;background: #FFFFFF;text-decoration: none;}
.hezuo a:active { border: 1px solid #666699;color: #000000;background: #FFFFFF;text-decoration: none;}

/* 实用工具列表 */
.indextoollist { border-top: 3px solid #FFFFFF;margin: 0;padding: 0 4px;background: #F8F8F8;text-align: left;height: 160px !important;height: 163px;}
.indextoollist ul { margin: 0 0 0 5px;display: inline;list-style: none;color: #DEDEDE;}
.indextoollist li { border-bottom: #DDDDDD 1px solid;padding: 4px 0 4px 8px;display: block;background: url(../images/dotli.gif) no-repeat 0 0;color: #8E8E8E;overflow: hidden;}

/* 首页登陆 */
#indexform { width: 974px;height: 90px;margin: auto;background:#FFF;padding:3px;}
.formleft{ float: left;width: 386px;background: #EDFAE0;height: 90px;background: url(../images/ch0108.jpg) no-repeat 0 0;}
.formright{ float: right;margin-left:3px;}
.search_pannel{ height:48px;width: 375px;border:#b8cba1 solid 1px;background: url("../images/search_icon.gif") no-repeat 8px 5px #efffe2;padding:2px 3px;margin-bottom:3px;}
.search_pannel_text { background: #FFF url(../images/search.png) no-repeat 3px center;width:84px;height:17px;padding-left: 16px;}
.search_pannel_bottom{ padding: 0 5px;float:left;}
.search_pannel_title{ float:left;line-height:21px;font-weight: bold;padding:0 8px 0 28px;height:22px;width:300px;text-align:left;}
.login_pannel{ color:#5b607e;width: 375px;height: 28px;font-weight:bold;border:#DAD4BE solid 1px;background:#F8F3E1;padding:3px 3px 0 3px;}
.login_pannel input{ width:60px;border:#999 solid 1px;background:#FFF url("../images/bg_input.gif") repeat-x;height:18px;vertical-align: middle;}
.login_pannel .button { width:60px;height:20px;}

/* 顶部菜单 */
#header { width: 974px;border: 3px solid #FFFFFF;margin: 0 auto;background: #FFFFFF;text-align: center;}
#topmenu{ margin: 0 auto;background: #EEEEEE;height: 30px;}
.left{ float: left;}
.right{ float: right;}
#topdate { padding: 8px 5px 0 5px;margin: 0 auto;display: block;}
#topnavlist { margin: 0px;padding: 0;}
#topnavlist ul { margin: 0;padding: 8px 5px 0 5px;}
#topnavlist li { float: left;width: 65px;margin: 0;padding: 0px 0px 0px 13px;list-style: none;background: url(../images/topnav.gif) no-repeat 0px 2px;}
#topnavlist a { float: left;color: #333333;font-size: 12px;font-weight: normal;text-decoration: none;}
#topnavlist a:hover, #topnavlist a:active { color: #888888;font-size: 12px;}
/* Logo 及顶部广告 */
#maintop { width: 974px;margin: 3px 0;background: #F8F8F8;text-align: center;height: 60px;}
#Logo { float: left;width: 180px;}
#TopAds { float: left;width: 502px;text-align: center;}
/* 收藏栏 */
#toprightmenu{ float: right;width: 90px;text-align: center;}
#toprightmenu li { margin: 0px 0px 1px 0px;list-style: none;line-height: 19px;}
#toprightmenu li a{ border-left: solid 6px #CCCCCC;border-right: solid 6px #CCCCCC;padding: 0px 0px 0px 5px;display: block;color: #666666;background: #FBF2EE;font-size: 12px;text-decoration: none;height: 19px;}
#toprightmenu li a:hover{ border-left: solid 6px #666666;border-right: solid 6px #666666;color: #FFFFFF;background: #98B1C4;}
/* 导航栏 */
.navline { background: #FFFFFF;font: 0px/0px sans-serif;height: 1px;clear: both;}
.navup, .navdown { width: 974px;background: #FFFFFF;text-align: center;height: 60px;}
#nav-up-center { border-left: #FFFFFF 1px solid;border-right: #FFFFFF 1px solid;float: left;padding: 4px 2px 4px 2px;width: 172px;background: #7EC0EE;text-align: center;}
#nav-up-left { float: left;padding: 4px 2px 4px 2px;width: 974px;background: #FFF;text-align: center;}
#nav-up-right { float: right;padding: 4px 2px 4px 2px;width: 156px;background: #E0E9FE repeat;text-align: center;}
#nav-down-center { border-left: #FFFFFF 1px solid;border-right: #FFFFFF 1px solid;float: left;padding: 4px 2px 4px 2px;width: 172px;background: #87CEFF;text-align: center;}
#nav-down-left { float: left;padding: 4px 2px 4px 2px;width: 430px;background: #63B8FF;text-align: center;}
#nav-down-right { float: right;padding: 4px 2px 4px 2px;width: 156px;background: #EAF2FF repeat;text-align: center;}
a.grey:link,a.grey:visited { color: #5C5C5C;font-size: 12px;font-weight: bold;text-decoration: none;}
a.grey:active,a.grey:hover { color: #333333;font-size: 12px;font-weight: bold;text-decoration: none;}
a.white:link,a.white:visited { color: #FFFFFF;font-size: 12px;font-weight: bold;text-decoration: none;}
a.white:active,a.white:hover { color: #DDDDDD;font-size: 12px;font-weight: bold;text-decoration: none;}
/* 底部菜单 */
#footer { width: 974px;border: 3px solid #FFFFFF;margin: 0 auto;text-align: center;}
#bottommenu{ width: 956px;padding: 9px;margin: 0 auto;background: #F5F5F5;}
#bottom{ width: 964px;padding: 5px;margin: 0 auto;background: #F6F6F6;line-height: 180%;height: 60px;}
#bottom span { font: 11px arial,helvetica,sans-serif;}
/* 公共单独页面 */
#newsview{ margin: 0 auto;padding: 5px;border-top: 3px solid #FFFFFF;background: #F1F1F1;font-size: 14px;text-align: left;}
.pagelist { border: 3px solid #FFFFFF;clear: both;margin: auto;background: #FFFFFF;text-align: left;}
.pagelisttitleico { border-right: 3px solid #FFFFFF;float: left;width: 25px;background: url(../images/arrow.gif) #98B1C4 no-repeat center;height: 25px;}
.pagelisttitlebg { float: right;width: 744px;background: #71828A;color: #FFFFFF;text-align: left;height: 25px;}
.pagelisttitlename { float: left;width: 696px;padding: 4px 0 0 5px;font-weight: bold;text-align: left;}
.pagelisttitlename a:link,.pagelisttitlename a:visited,.pagelisttitlename a:hover,.pagelisttitlename a:active { color: #FFFFFF;text-decoration: none;}
.pagelisttitlemore { float: right;padding: 8px 0 0 0;width: 40px;}
/* 内容 */
.pagecontent{ margin: 0 auto;padding: 5px;border-top: 3px solid #FFFFFF;background: #F1F1F1;font-size: 14px;line-height: 180%;table-layout: fixed;text-align: left;overflow: visible;word-break: break-all;}
.content, .articlecontent { text-align:left;font-size:10.5pt;line-height:24px;margin:auto;padding-left:4px;
	/*font-size: 16px;
	line-height: 24px; /*height: 385px;* /
	height:310px;
	width:97%;
	padding-right:0px; 
	overflow-x: hidden;
	text-indent:24px;
	margin-top:10px;
	word-wrap : break-word ;
	word-break : break-all ;*/
}
/*.content span{
float:right
}*/
.pagecontent a:link,.content a:link,.articlecontent a:link,.pagecontent a:visited,.content a:visited,.articlecontent a:visited {color: #3080CB;text-decoration: none;border-bottom: 1px dotted #68C3EE;}
.pagecontent a:hover, .content a:hover, .articlecontent a:hover { color: #FFF;background-color: #3080CB;text-decoration: none;border-bottom: 1px dotted #68C3EE;}

.title{ border: 1px solid #E9E9E9;margin: 2px;padding: 5px;background: #F9F9F9;}
.title h1{ margin: 5px;color: #669900;font-size: 14px;}
.title h2{ margin: 5px;font-size: 12px;font-weight: normal;}
.keyword{ margin:15px;border:1px solid #ccc;background-color:#FFFFFF;font-size:14px;color:#1F3A87;line-height:26px;padding-top: 6px;padding-right: 12px;padding-bottom: 6px;padding-left: 12px;}
/* 底部工具条 */
.pagelistfooter{ width: 974px;background: #71828A;color: #FFFFFF;text-align: center;height: 30px;overflow: hidden;vertical-align: middle;}
.pagelistfooter div{ margin-top: 7px;color: #FFFFFF;}
.pagelistfooter  #prv{ float: left;margin-left: 25px;}
.pagelistfooter  #next{ float: right;margin-right: 5px;}
.pagelistfooter div a{ color: #FFFFFF;}
.pagelistfooter div a:hover{ color: #FFFFFF;text-decoration: underline;}
.pagelistfooter div a:visited{ color: #EEEEEE;}
.pagelistfooter .right{ float: right;margin-right: 5px;position: relative;top: -2px;}
.pagelistfooter  #bklist, .pagelistfooter .left { float: left;margin-left: 5px;}

.next{ clear:both;margin-left: 20px;margin-top: 7px;}
/* 文章页面底部按钮 */
.tool { padding: 0px;border: 1px solid #D6EFFF;display: block;background: #EFF7FF;font-size: 12px;line-height: 200%;height:30px;}
.tool span{ float: right;width:480px;word-wrap : break-word ;word-break : break-all ;}
.tool a.button_content { border-bottom: 1px solid #000000;border-left: 1px solid #FFFFFF;border-right: 1px solid #000000;border-top: 1px solid #FFFFFF;padding: 4px 8px;margin: 0 3px;color: #000000;text-align: center;width: 75px;}
.tool a.button_content:hover { border-color: #000000 #FFFFFF #FFFFFF #000000;color: #333333;background: #CCCCCC;line-height: 250%;text-decoration: none;}
.tool a.button_content:active, .tool a.button_content:link, .tool a.button_content:visited { color: #000000;background: #D9D9D9;line-height: 250%;text-decoration: none;}

/* 评论 */
.heading { margin: 5px 0;border: 1px solid #DDE1E3;background: #EEF0F1;}
.heading h1{ padding: 3px 15px 3px 25px;border: 1px solid #CCCCCC;background: url(../images/ico_h1.png) no-repeat 5px 7px;font-weight: bold;font-size: 14px;line-height: 25px;}
.comment h3 { margin: 0 0 5px;padding: 4px 0 2px 18px;color: #333333;background: url(../images/ico_news.png) #EEEEEE no-repeat 3px 4px;font-size: 12px;}
.comment h3 span{ margin: 0 0 0 15px;color: #666666;}
.comment p { padding: 8px 5px 5px 8px;margin: 0;color: #333333;background: #FFFFFF;font-size: 12px;line-height: 15px;}
.comment div.border { padding: 0px;margin: 0;margin-bottom: 15px;border: 1px solid #CCCCCC;display: block;}
.code { display: block;font-size: 12px;line-height: 150%;text-align: left;width: 540px;border: 1px solid #0FB1FF;margin: 5px 0px;padding:3px;background: #DDF4FF;color: #0070A6;word-wrap: break-word;}
.code strong { color: #993300;}
.code textarea{ width: 540px;height: 200px;overflow-x: hidden;overflow-y: scroll;border: 0;font-size: 12px;line-height: 150%;}
/* 广告 */

.mainadimg { border: 3px solid #fff;padding: 0;margin: 0;}
.navadimg { border: 3px solid #FFF;width: 569px;height: 80px;}
.subadimg {	border: 3px solid #fff;width: 280px;height: 60px;}

/* 首页文字广告导航 */
.textad { border: 3px solid #fff;margin: 0 auto;clear: both;float: left;width: 569px!;height: 63px;}
.textadleft { float: left;height: 63px;width:25px;background-color: #5F84A7;text-align: center;color: #FFF;line-height:21px;font-weight: bold;border-right: 3px solid #fff;}
.textadright { float: right;height: 63px;width:541px;text-align: left;}

#adlist { background-color: #D1F1FE;margin: 0 auto;padding: 0;height: 63px;}
#adlist ul { display: inline;list-style-type: none;}
#adlist ul li { padding: 3px 0 2px 15px;float: left;width: 165px;background: url(../images/reddot.gif) no-repeat 0 8px;}
#adlist ul li a { color: #000000;}
#adlist ul li a:hover { color: #333333;text-decoration: underline;}

#adheader { padding: 0px;margin-top:3px;border: 1px solid #FF6600;background: #FFEBCD;font-size: 16px;text-align:center;color: #FF0000;line-height:30px;font-weight: bold;clear: both;}
#adshuoming { padding: 3px;margin-top:3px;background: #BFEFFF;font-size: 14px;color: #000;line-height:180%;clear: both;}
#adshuoming span{ font-size: 14px;color: #FF0000;font-weight: bold;}
.adtitle { padding: 0px;border: 1px solid #87CEFA;background: #EFF7FF;font-size: 14px;text-align:center;color: #CD2990;line-height:25px;font-weight: bold;clear: both;}
.adcontent{ border-top: 3px solid #FFFFFF;border-bottom: 3px solid #FFFFFF;background: #F1F1F1;font-size: 14px;clear: both;}
.adleft { float: left;width: 257px;}
.adleft img{ border-top: 1px solid #FFFFFF;}
.adright { float: right;width: 515px;background: #C6E2FF;}
.adtable { margin-top: 1px;width:515px;background: #C6E2FF;border: 1px solid #FAFAFA;border-collapse: collapse;}
.adtabletop { background: #1E90FF;color:#FFF;font-weight: bold;}
.adtabletop td{ color:#FFF;}
.adtable tr{ height:30px;text-align:center;}
.adtable td{ text-align:center;}
#adguiding { padding: 3px;margin:3px 0;background: #FFEFDB;border: 1px solid #FF6A6A;font-size: 14px;color: #000;line-height:200%;clear: both;}
#adguiding span{ font-size: 14px;color: #FF0000;font-weight: bold;}
.self1 { text-align: left;float: left;width: 200px;}
.self1 ul{ height:20;}

.ad760{ height:60px;width: 760px;border-right-width: 9px;border-left-width: 9px;border-right-style: solid;border-left-style: solid;border-right-color: #FFFFFF;border-left-color: #FFFFFF;}
.ad76030{ height:30px;width: 760px;border-right-width: 9px;border-left-width: 9px;border-right-style: solid;border-left-style: solid;border-right-color: #FFFFFF;border-left-color: #FFFFFF;}
/* 子栏目文章列表 */
.sublist { border: 3px solid #FFFFFF;clear: both;margin: 0px;background: #FFFFFF;text-align: left;}
.sublisttitleico { border-right: 3px solid #FFFFFF;float: left;width: 25px;background: url(../images/arrow.gif) #98B1C4 no-repeat center;height: 25px;}
.sublisttitlebg { float: right;width: 742px;background: #71828A;color: #FFFFFF;line-height: 25px;text-align: left;height: 25px;}
.sublisttitlename { float: left;padding-left: 5px;width: 682px;font-weight: bold;text-align: left;}
.sublisttitlename a:link,.sublisttitlename a:visited { color: #FFFFFF;font-size: 12px;font-weight: bold;text-decoration: none;}
.sublisttitlename a:active,.sublisttitlename a:hover { color: #DDDDDD;font-size: 12px;font-weight: bold;text-decoration: underline;}
.localtitle { float: left;padding-left: 5px;width: 980px;font-weight: bold;text-align: left;}
.sublisttitlemore { float: right;padding: 8px 0 0 0;width: 40px;}
.subnewslist { border-top: 3px solid #FFFFFF;margin: 0 auto;padding: 3px 5px 0px 5px;width: 559px;background: #F1F1F1;height: 418px !important;height: 398px;}
.subnewslist ul { margin: 0 auto;padding: 0;}
.subnewslist li { border-bottom: #DDDDDD 1px solid;float: left;padding: 5px 0px 0px 10px;width: 269px;background: url(../images/li.gif) no-repeat 0px 2px;height: 22px;overflow: hidden;}
.subnewslist li a { overflow: hidden;}
.subnewslist li a:hover { text-decoration: underline;}
.onesubnewslist { border-top: 3px solid #FFFFFF;margin: 0 auto;padding: 3px 5px 0px 5px;width: 559px;background: #F1F1F1;height: 418px !important;height: 398px;}
.onesubnewslist ul { margin: 0 auto;padding: 0;}
.onesubnewslist li { border-bottom: #DDDDDD 1px solid;float: left;padding: 5px 0px 0px 10px;width: 552px !important;width: 549px;background: url(../images/li.gif) no-repeat 0px 2px;height: 22px;overflow: hidden;}
.onesubnewslist li a { overflow: hidden;}
.onesubnewslist li a:hover { text-decoration: underline;}
.onesubnewslist span { float:right;padding-right:5px;color:#333;}
#sublistfooter{ width: 569px;background: #71828A;color: #FFFFFF;text-align: center;overflow: hidden;vertical-align: middle;}
#sublistfooter div{ margin-top: 7px;color: #FFFFFF;}
#sublistfooter  #prv{ float: left;margin-left: 25px;}
#sublistfooter  #next{ float: right;margin-right: 5px;}
#sublistfooter div a{ color: #FFFFFF;}
#sublistfooter div a:hover{ color: #FFFFFF;text-decoration: underline;}
#sublistfooter .right{ float: right;margin-right: 5px;position: relative;top: -2px;}
#sublistfooter  #bklist,#sublistfooter .left { float: left;margin-left: 5px;}

/* 新闻右边图文列表 */
.picrightlist {background: #F5F5F5;text-align: center;}
.picrightlist ul {	margin: 0px 0px 0px 0px;list-style: none;color: #DEDEDE;}
.picrightlist ul li{ margin:5px 0 2px 0;list-style-type:none;}
.picrightlist ul li a img{text-align:center;border: 2px solid  #ffffff; filter:progid:dximagetransform.microsoft.glow(color=#888888,strength=0);}
.picrightlist ul li a:hover img{border: 2px solid  #42A1A7;}

/* 子栏目右边列表 */
.subrightlist { border-top: 3px solid #FFFFFF;margin: 0px;padding: 0px 4px;background: #F5F5F5;text-align: left;height: 360px;}
.subrightlist ul { margin: 0px 0px 0px 0px;list-style: none;color: #DEDEDE;}
.subrightlist li { border-bottom: #DDDDDD 1px solid;padding: 4px 0px 4px 8px;display: block;background: url(../images/dotli.gif) no-repeat 0px 0px;color: #333333;height: 15px;overflow: hidden;}
.pagerightlist { height: 360px;}
#newsdaodu span{ float:right}
#newsdaodu ul li{list-style-type:none;}
#contentAdv {float:left;margin:4px 12px 0 1px;}

/*****频道样式*****/
ul.TabBarLevel1{ margin:0;padding:0;height:29px;background-image:url(new/m_level.gif);padding:0px 0px 0px 20px;}
ul.TabBarLevel1 li{ float:left;height:29px;margin-right:1px;background:url(new/gray_l.gif) left top no-repeat;list-style-type:none;}
ul.TabBarLevel1 li a{ display:block;line-height:29px;padding:0 15px;color:#333;background:url(new/gray_r.gif) right top no-repeat;white-space: nowrap;text-decoration:none;}
ul.TabBarLevel1 li.Selected{ background:url(new/m_l.gif) left top no-repeat;}
ul.TabBarLevel1 li.Selected a{ background:url(new/m_r.gif) right top no-repeat;}
ul.TabBarLevel1 li a:link,ul.TabBarLevel1 li a:visited{ color:#333;}
ul.TabBarLevel1 li a:hover,ul.TabBarLevel1 li a:active{	color:#000;text-decoration:underline;}
ul.TabBarLevel1 li.Selected a:link,ul.TabBarLevel1 li.Selected a:visited{ color:#fff;}
ul.TabBarLevel1 li.Selected a:hover,ul.TabBarLevel1 li.Selected a:active{ color:#fff;text-decoration:underline;font-weight:normal;}
/*频道下属栏目菜单*/
.submenu{ background-color:#7CC2E9;padding:0 20px;height:24px;color:#fff;text-align:left;}
