body{background:#5b5f63;}
body,li,a,td,th{color:#4b4e51;}
.c02,.c02 a{color:#6da8d6;}
.c03{color:#0072ae;}
.c05,.c05 li,.c05 a{color:#0072ae;}
.c06,.c06 li,.c06 a{color:#a8803d;}
.c07,.c07 p{color:#4b4e51;}
.c08{color:#555555;}
.c09,.c09 td{color:#888888;}
.c10,.c10 a{color:#000000;}
.bd1c{color:#6590a7}
.bd01{border:1px solid #6590a7;}
.brd01,.bdt,.bdl,.bdr,.bdb,.bd1t,.bd1l,.bd1r,.bd1b{border-color:#6590a7;}
.bgtt{background:url(img/bg_top.jpg) no-repeat center top;}
.bg21{background:url(img/20090226É½Ë®_µ¼º½.png) no-repeat left top;}
.ht{height:70px;}
.hn{height:40px;line-height:32px;}
.hm{min-height:800px;_height:800px;}
.hf{height:110px;}
.wsy,.wkg{width:1004px;margin:0px auto;}
.wnc{margin:0px 0 0px 295px;}
.whc,.wmc{margin:0px 1px 0px 150px;width:853px;background:#ffffff url(img/bg_shu.gif) repeat-x center top;}
.topbar{background:#0b0c10;}
.topbar a,.topbar span.nick{color:#18507c;}
.topbar .sep{color:#000000;}
.fs01{font-size:24px;}
.fs02{font-size:14px;}
.title{width:800px;top:11px;left:25px;font-family:Arial,Helvetica,sans-serif;color:#0072ae;}
.g_menu_nv .item{_display:inline;margin-left:2;}
.g_menu_nv .item,.g_menu_nv .item a{width:100px;}
.wnc a{font-weight:bold;font-size:14px;text-indent:0;}
.wnc a:hover{font-weight:normal;color:#ffffff;}
.seltag a,.wnc .seltag a:hover{color:#ffffff;background:none;}
.fmgtp{padding-top:30px;}
.butn,.btnb{border-color:#ffffff;background-color:#18507c;color:#ffffff;}
.selitm{background-color:#adb6b9;}
.plybtn{background-image:url(img/-1.gif);background-repeat:no-repeat;}
.mdl{margin:20px 10px;}
.mdl_t{height:25px;}
.mdl_t_c{margin:0px 10px 0px 10px;height:25px;line-height:25px;font-size:15;font-weight:bold;}
.mdl_t_m{right:0;top:0;}
.mdl_c{background:url(img/xuxian.jpg) repeat-y right top;}
.mdl_c_c{margin:0px 10px 0px 10px;}
.mdl_b{height:20px;}
.mdl_b_c{height:20px;margin:0px 10px 0px 10px;}
.mdlbg{background-color:#ffffff;}
.g_tab_btn00 div.s{border-bottom:1px solid #ffffff;}
.g_abm_list_rgt .case .itm.selected{background-color:#adb6b9;}
.g_blog_list .content a,.g_hom_com .list .item .content .case a,.g_com_table .layout_r .t .c a,.g_hom_note .hw1 a,.g_hom_note .hw3 a{color:#0072ae;}
.bgtf,.bgmt,.bgmf,.wnl,.wnr,.whl,.wml,.whr,.wmr,.flash,.logo,.mdl_t_l,.mdl_t_r,.mdl_c_l,.mdl_c_r,.mdl_b_l,.mdl_b_r{display:none;}