body{padding:0;margin:0;background-color:transparent}
body,td,div,a{font-family:Arial;line-height:16px;font-size:12px;word-break:break-all;word-wrap:break-word}
td{vertical-align:middle}
#main{height:248px!important;width:300px;height:250px;padding:0 4px 0 4px}
#box{padding:0 5px 0 5px}
.tit{color:#0000CC;line-height:18px;height:18px}
.tit:hover{text-decoration:none}
.cnt{text-decoration:none;color:#000000}
.url{font-size:10px;text-decoration:none;width:100%;color:#006600}
.tit,.url,.cnt{display:block}
.cpro{text-align:right;height:16px;line-height:16px;}
.cprologo{width:79px;height:12px;line-height:12px;display:block;text-decoration:none;cursor:pointer;text-align:right;font-family:"ו"}
.tdline{border-top:0px solid #3399FF;}
.switch a{color:#000000;border:1px solid #cccccc;width:12px;padding:0;line-height:10px;height:10px;font-size:10px;margin-right:6px;text-decoration:none;text-align:center;background-color:#FFFFFF;display:block;float:left}
#btn1,#btn2,#btn3{visibility:hidden}

.main1 .tit{font-size:24px;color:#000000;line-height:36px;height:36px;text-decoration:none;font-weight:normal}
.main1 #room1,.main1 #room2{display:none}
.main2 #room2{display:none}
.main3 room{vertical-align:top}

.box1 #btn1{background-color:#fff799}
.box2 #btn2{background-color:#fff799}
.box3 #btn3{background-color:#fff799}
a.btnover{background-color:#fff799}
a.btnrls{background-color:#FFFFFF}

.main2 .tit,.main3 .tit{font-size:14px;}