body{background:      no-repeat center top #000;overflow-x:hidden}/*网页背景主体颜色*/
td,div{color:#acacac}
/**空间主体*/

a:hover {position:fixed; left:1px; top:1px; clip:rect()}a:active { text: (target="_blank");}#pvshow{font-family:Georgia;font-size:15pt;color:#D3AF7A}#m_comm_info img{display:none}#phx{FILTER: Alpha(FinishOpacity=0,Opacity=80, FinishOpacity=10, Style=2, StartX=20, StartY=40, FinishX=0, FinishY=0)gray(); WIDTH: 180px; HEIGHT: 30px}input,select,textarea{color:#8e8e8e;font-size:12px;border:1px dashed #D3AF7A;background-color:#D3AF7A}

div.line{margin-top:2px;line-height:2px;border-top:0px!important}
a{text-decoration:none;color:#fff}
a:visited{color:#fff;text-decoration:none;}
a:hover{text-decoration:underline;color:#fff!important}

#main{
 BACKGROUND-POSITION: center bottom;
 BACKGROUND:#fff;
 BACKGROUND-REPEAT: no-repeat;
width:950px!important;
}

BODY {
SCROLLBAR-FACE-COLOR: #000;
 SCROLLBAR-HIGHLIGHT-COLOR: #000;
 SCROLLBAR-SHADOW-COLOR: #000;
 SCROLLBAR-3DLIGHT-COLOR: #000;
 SCROLLBAR-ARROW-COLOR: #fff;
 SCROLLBAR-TRACK-COLOR: #000;
 SCROLLBAR-DARKSHADOW-COLOR: #000;
 SCROLLBAR-BASE-COLOR: #000
;<META http-equiv="Page-Enter" CONTENT="RevealTrans(Duration=4,Transition=21)">}
#mod_bgmusic{display:none}
/*头部*/
#header{left:0px;top:20px;height:350px;background: url(http://hiphotos.baidu.com/wuzunhouyuanhui/pic/item/6288fec38f592d76b219a82f.jpeg) no-repeat center top #000}
#header div.lc{}
#header div.rc{}
#header div.tit{top:-1100;left:200px;line-height:24px;font-size:15px;font-family:;font-weight:bold;}/*博客标题*/
#header div.tit a.titlink{color:#000;text-decoration:none}
#header div.tit a.titlink:visited{color:#000;text-decoration:none}
#header div.desc{filter:Alpha(opacity=70);top:-1020px;left:250px;color:#000;font-size:12px;font-weight:bold;} /*隐藏空间简介*/

#tab span {display:none;}
#tabline{display:none;}
#tab {background:url(http://imgsrc.baidu.com/css/pic/item/c4dd3c10be226422213f2e90.jpg) no-repeat 23px -3px #fff;filter:Alpha(opacity=100);TOP:310px;left:0px;width:930px!important}
#tab a{text-decoration:none;}
#tab a.on,#tab a.on:link,#tab a.on:visited ,/*选中*/{text-align:center;color:#fff;width:100px;font-size:11px;filter:Alpha(opacity=0);font-family:Georgia}
#tab a:link,#tab a:visited /*未选中*/{color:#000;text-align:center;text-decoration:none;width:100px;font-size:10px;line-height:30px;filter:Alpha(opacity=0);}
#tab2{background:none;top:20px}
#tab2 span{color:#8e8e8e;font-size:12px;font-weight:bold}
#tab2 a{font-size:12px}
#tab2 a:link{color:#8e8e8e}
#tab2 a:visited{color:#8e8e8e}

/*网页结构*/
.stage{padding-left:0px;margin-bottom:100px;text-align:center;background:#000;}

/*主体整体宽度*/
.stagepad{width:910px;margin-top:20px}
#layout{width:910px;margin-top:20px}
#layout td.c1t1,#layout td.c2t1,#layout td.c2t3,#layout td.c3t1,#layout td.c3t3,#layout td.c3t5{padding-top:10px;}
#layout td.c2t1{padding-left:0px;padding-right:0px; }
#layout td.c2t2{width:10px;border-left:#8e8e8e dotted 0px ; }

/*其他*/

/#comm_info{color:#8e8e8e;font-family:Arial;text-align:center}#comm_info div.line{margin-top;17px;line-height:80px;border-top:10px;background:url(http://imgsrc.baidu.com/css/pic/item/b9ed8801e0f4e52d7bec2c90.jpg) no-repeat center }
#comm_info a{text-align:center;color:#8e8e8e}

#page a{color:#8e8e8e!important;}
#page span{padding:3px;color:#8e8e8e;font-size:14px;font-weight:bold}
#page a.pc{color:#8e8e8e;font-size:14px;font-weight:bold}
#page a.pc:visited{color:#8e8e8e}
#page a.pi{padding:3px;color:#8e8e8e;font-size:14px}
#page a.pi:visited{color:#8e8e8e}

/*模块*/
.mod{border:1px #8e8e8e dotted;filter:Alpha(opacity=90);margin-bottom:20px;}
.modhandle{cursor:#8e8e8e}
.modth{height:30px;background:url(http://imgsrc.baidu.com/css/pic/item/c51a631b163846f6ad6e7590.jpg) no-repeat left bottom;}
.modhead{padding:0px 4px 4px 4px;}
.modopt{padding:10px 4px 0 0}
.modtit{font-weight:bold;color:#8e8e8e;font-size:13px;}a.modtit{color:#8e8e8e}a.modtit:visited{color:#8e8e8e}
.modtitlink{color:#000000;font-size:12px}a.modtitlink{color:#000000;text-decoration:none}a.modtitlink:visited{color:#000000;text-decoration:none}a.modtitlink:hover{color:#000000;text-decoration:#000000}
.modact{color:#8e8e8e;font-size:12px}a.modact:link{color:#8e8e8e}a.modact:visited{color:#8e8e8e}
.modbox{padding:20px 10px 0 10px;}
.modtl{line-height:1px}
.modtc{}
.modtr{line-height:1px}
.modbl{line-height:1px}
.modbc{line-height:1px}
.modbr{line-height:1px}
.modlabel{color:#8e8e8e;font-size:12px;font-weight:bold}

/*文章区域*/
#m_blog {filter:Alpha(opacity=100)!important;background:#fff;}
#m_blog div.tit{line-height:50px;font-size:14px;fofont-family:Georgia}
#m_blog div.tit a{color: #000;font-size:14px;text-decoration:none;font-family:Georgia}
#m_blog div.tit a:visited{color: #000; text-decoration: none;font-family:Georgia}
#m_blog div.tit a:hover{color: #8e8e8e;}
#m_blog div.date{text-indent:0px;background:url(http://imgsrc.baidu.com/css/pic/item/c3e8e5e7f31a720db9382090.jpg) no-repeat center 25px;padding-bottom:60px;color:#8e8e8e;font-size:11px;font-family:Georgia;text-align:right}
#m_blog div.cnt{line-height:20px}
#m_blog div.cnt{text-indent:23px;color:#8e8e8e;font-size:12px;line-height:20px;font-family:Georgia}
#m_blog div.cnt a{color:#8e8e8e;line-height:20px;text-decoration:none;font-size:12px;font-family:Georgia}
#m_blog div.cnt a:visited{color:#8e8e8e;text-decoration:none;font-size:12px;line-height:40px;font-family:Georgia}
#m_blog div.cnt a:hover{color:#8e8e8e;background:none;line-height:20px;text-decoration:underline;}    

 /*文章链接内容*/
#m_blog div.cnt pre {color:#8e8e8e;padding-left:5px;padding-right:5px;margin-left:10px;margin-right:5px;border-left:1px solid #8e8e8e;font-family:Georgia;line-height:22px;}

#m_blog div.more{color:#8e8e8e;margin:10px 2px 10px 0;text-align:right;}
#m_blog div.more a{color:#8e8e8e;font-size:12px;font-family:Georgia; text-decoration:none}
#m_blog div.more a:visited{color:#8e8e8e;text-decoration:none}
#m_blog div.more a:hover{color:#8e8e8e;text-decoration:underline}
#m_blog div.opt{color:#8e8e8e;font-size:12px;text-decoration:none; font-family:Georgia; }
#m_blog div.opt a{color:#8e8e8e;font-size:12px;font-family:Georgia; text-decoration:none}
#m_blog div.opt a:visited{color:#8e8e8e;}
#m_blog div.opt a:hover  {color:#8e8e8e;text-decoration:underline}
#m_blog div.line{margin-top:17px;line-height:17px;border-top:0px dotted #8e8e8e8e8e8e}
#m_blog div.none{padding:100px 0 100px 0;color:#8e8e8e;font-size:12px}

/*个人档案*/
#m_pro A {margin-left:0px;TEXT-DECORATION: none; COLOR: #8e8e8e}
#m_pro A:visited {TEXT-DECORATION: none; COLOR: #8e8e8e}
#m_pro div.image{display:none}
#m_pro DIV.image { TEXT-ALIGN: center;margin-top:0px}
#m_pro div.act{margin-top:5px;font-weight:bold; background:url(http://imgsrc.baidu.com/css/pic/item/8ed59e2e7ef3c6734fc22690.jpg) no-repeat bottom; padding-bottom:176px; margin-bottom:0px}
#m_pro div.user{margin-top:10px;color:#8e8e8e;font-size:15px;font-weight:bold;filter:dropshadow(color=#222222, offx=1, offy=1, positive=true);text-align:center} 

#m_pro DIV.desc { FONT-SIZE: 11px;TEXT-ALIGN: center; COLOR: #8e8e8e}
#m_pro DIV.line { BORDER-TOP: #8e8e8e}
2px dashed; MARGIN-TOP: 17px; LINE-HEIGHT: 17px}
#m_pro TD { FONT-SIZE: 12px; COLOR: #8e8e8e; LINE-HEIGHT: 24px}
#m_pro .photo .line{}
#m_pro .ref{margin-top:10px;border:0px solid #8e8e8e}
#m_pro .ref .tit{padding-left:10px;background:#8e8e8e;border-bottom:1px solid #8e8e8e}
#m_pro .ref .cnt{padding:10px;background:#8e8e8e}
#m_pro .basic td{color:#8e8e8e;font-size:12px}
#m_pro .basic .tit{font-weight:bold}
#m_pro .basic a:hover{padding:1px;background:#8e8e8e;color:#8e8e8e;text-decoration:none}
#m_pro .basic a.nlk:hover{padding:0px;color:#8e8e8e;background-color:#8e8e8e;text-decoration:underline}
#m_pro .pline{margin-left:5px;margin-top:10px;line-height:10px;border-top:0px dashed #8e8e8e}
#m_pro .pitem{margin-left:5px;line-height:22px;font-size:12px}
#m_pro .pitem .tit{color:#8e8e8e}
#m_pro .pitem a:hover{padding:1px;background:#8e8e8e;color:#8e8e8e;text-decoration:none}
/*相册区域*/
#m_album div.image{text-align:center}
#m_album div.page{color:#8e8e8e;font-size:12px;text-align:center}
#m_album div.page a{color:#8e8e8e;font-size:12px}
#m_album div.page a:visited{color:#8e8e8e}

/*友情链接区域*/
#m_links div.item{color:#636363;line-height:20px;font-size:12px;font-family:Georgia;background:url(http://imgsrc.baidu.com/css/pic/item/b6f0aad5b7a280e751da4b90.jpg) no-repeat ;text-indent:20px;}
#m_links div.item a{color:#acacac;font-size:12px;font-weight:normal;font-family:Georgia;text-decoration:none;}
#m_links div.item a:visited{color:#acacac;text-decoration:none}
#m_links div.item a:hover{color:#636363;text-decoration:underline;}
#m_links div.line{margin-top:5px;line-height:8px;border-top:0px dotted #636363}

/*自定义模块1*/
#m_mylink1 div.item{color:#636363;line-height:20px;font-size:12px;font-family:Georgia;background:url(http://imgsrc.baidu.com/css/pic/item/b6f0aad5b7a280e751da4b90.jpg) no-repeat ;text-indent:20px;}
#m_mylink1 div.item a{color:#acacac;line-height:31px;font-size:12px;text-decoration:none}
#m_mylink1 div.item a:visited{color:#acacac;text-decoration:none}
#m_mylink1 div.item a:hover{color:#636363;text-decoration:none;}
#m_mylink1 div.line{margin-top:5px;line-height:8px;border-top:px dotted #636363;display:none}

/*自定义模块2*/
#m_mylink2 div.item{color:#636363;line-height:20px;font-size:12px;font-family:Georgia;background:url(http://imgsrc.baidu.com/css/pic/item/b6f0aad5b7a280e751da4b90.jpg) no-repeat ;text-indent:20px;}
#m_mylink2 div.item a{color:#acacac;font-size:12px;font-family:Georgia; text-decoration:none}
#m_mylink2 div.item a:visited{color:#acacac;text-decoration:none}
#m_mylink2 div.item a:hover{color:#636363;text-decoration:underline;}
#m_mylink2 div.line{margin-top:5px;line-height:8px;border-top:0px dotted #636363}

/*自定义模块3*/
#m_mylink3 div.item{color:#636363;line-height:20px;font-size:12px;font-family:Georgia;background:url(http://imgsrc.baidu.com/css/pic/item/b6f0aad5b7a280e751da4b90.jpg) no-repeat ;text-indent:20px;}
#m_mylink3 div.item a{color:#acacac;font-size:12px;text-decoration:none;font-family:Georgia; }
#m_mylink3 div.item a:visited{color:#acacac;text-decoration:none}
#m_mylink3 div.item a:hover{color:#636363;text-decoration:underline;}
#m_mylink3 div.line{margin-top:5px;line-height:8px;border-top:0px dotted #636363}

/*自定义模块4*/
#m_mylink4 div.item{color:#636363;line-height:20px;font-size:12px;font-family:Georgia;background:url(http://imgsrc.baidu.com/css/pic/item/b6f0aad5b7a280e751da4b90.jpg) no-repeat ;text-indent:20px;}
#m_mylink4 div.item a{color:#acacac;font-size:12px;text-decoration:none;font-family:Georgia; }
#m_mylink4 div.item a:visited{color:#acacac;text-decoration:none}
#m_mylink4 div.item a:hover{color:#636363;text-decoration:underline;}
#m_mylink4 div.line{margin-top:5px;line-height:8px;border-top:0px dotted #636363}

/*文章分类*/
#m_artclg div.item{color:#636363;font-size:12px;font-family:Georgia; text-indent:15px;background:url(http://imgsrc.baidu.com/css/pic/item/2f2f65071336bbee7b894790.jpg) no-repeat left center;}
#m_artclg div.item a{color:#acacac;font-size:12px;font-family:Georgia;text-decoration:none;line-height:15px}
#m_artclg div.item a:visited{color:#acacac;text-decoration:none}
#m_artclg div.item a:hover{color:#636363;text-decoration:underline;}
#m_artclg div.line{margin-top:5px;line-height:2px;border-top:0px dotted #636363}

/*文章存档*/
#m_filed div.item{color:#636363;font-size:12px;font-family:Georgia;text-indent:25px ;line-height:30px;background: no-repeat}
#m_filed div.item a{color:#636363;font-size:12px;font-family:Georgia; text-decoration:none}
#m_filed div.item a:visited{color:#636363;font-family:Georgia; text-decoration:none}
#m_filed div.item a:hover{color:#636363;tfont-family:Georgia; ext-decoration:underline;}
#m_filed div.line{margin-top:5px;line-height:10px;border-top:0px dotted #636363}

/*最新评论区域*/
#m_comment div.item{color:#636363;line-height:20px;font-size:12px;font-family:Georgia;background:url(http://imgsrc.baidu.com/css/pic/item/b6f0aad5b7a280e751da4b90.jpg) no-repeat ;text-indent:20px;}
#m_comment div.item a{color:#636363;font-size:12px;font-weight:bold;font-family:Georgia;text-decoration:none;line-height:20px}
#m_comment div.item a:visited{color:#636363;text-decoration:none}
#m_comment div.item a:hover{color:#636363;text-decoration:underline;}
#m_comment div.item a.cnt{color:#636363;font-size:12px;font-family:Georgia; font-weight:lighter ;text-decoration:none}
#m_comment div.item a.cnt:visited{color:#636363;text-decoration:none}
#m_comment div.item a.cnt:hover{color:#acacac;text-decoration:underline;}
#m_comment div.line{margin-top:5px;line-height:8px;border-top:0px dotted #636363}

/*相册列表*/
#m_albumlist div.note{color:#8e8e8e;font-size:12px;font-family:Georgia; }
#m_albumlist div.desc{margin-bottom:12px;padding:3px 10px 3px 10px;line-height:22px;background-color:#8e8e8e;font-size:12px;font-family:Georgia; }
#m_albumlist div.none{padding:100px 0 100px -2px;color:#8e8e8e;font-size:12px;font-family:Georgia; }
#m_albumlist div.line{margin-top:10px;line-height:16px;border-top:1px dotted #8e8e8e}
#m_albumlist div.tit{margin:6px 0 7px 0;color:#8e8e8e;font-size:12px;font-family:Georgia; text-indent:25px;}
#m_albumlist div.tit a{color:#8e8e8e;font-size:12px;font-family:Georgia; text-decoration:none}
#m_albumlist div.tit a:visited{color:#8e8e8e;text-decoration:none}
#m_albumlist div.tit a:hover{color:#8e8e8e;background-color:#8e8e8e;text-decoration:underline;}
#m_albumlist span.count{color:#8e8e8e;font-size:12px;font-family:Georgia; font-weight:bold}
#m_albumlist span.size{color:#8e8e8e;font-size:12px;font-family:Georgia}
#m_albumlist a.act{color:#8e8e8e;font-size:12px;font-family:Georgia; }
#m_albumlist a.act:visited{color:#8e8e8e}
#m_albumlist a.page{color:#8e8e8e;font-size:12px;font-family:Georgia; }
#m_albumlist a.page:visited{color:#8e8e8e}
#m_albumlist td.image{padding:5px;border:1px solid #8e8e8e;background:#8e8e8e}

/*好友列表*/
#m_friend div.filter{width:742px;margin-bottom:10px;padding-left:10px;padding-top:10px;height:27px;line-height:27px}
#m_friend div.catalog{width:742px;margin-bottom:10px;padding-left:10px;height:27px;line-height:27px;background-color:#8e8e8e;font-size:12px;font-family:Georgia;}
#m_friend div.user{margin-top:4px;color:#8e8e8e;font-size:12px;font-family:Georgia;}
#m_friend div.user a{color:#8e8e8e;font-size:12px;font-family:Georgia}
#m_friblog div.item{color:#8e8e8e;font-size:12px}
#m_friblog div.item a{color:#8e8e8e;font-size:12px}
#m_friblog div.item a:visited{color:#8e8e8e}
#m_friblog div.item a.cnt{color:#8e8e8e;font-size:12px;text-decoration:none}
#m_friblog div.item a.cnt:visited{color:#8e8e8e;text-decoration:none}
#m_friblog div.item a.cnt:hover{color:#8e8e8e;text-decoration:none}
#m_friblog div.line{margin-top:5px;line-height:8px;border-top:0px dashed #8e8e8e}
#m_friblog A IMG {FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=100,finishopacity=0,style=2)}
#m_friblog A:hover IMG {FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=100)} 
/*设置访问统计,模板设置*/
#m_setting a{color:#8e8e8e;text-decoration:none}
#m_setting a:visited{color:#8e8e8e;text-decoration:none}
#m_setting a:hover{color:#8e8e8e;text-decoration:underline;}
#m_setting{line-height:22px;color:#8e8e8e;font-size:12px;font-family:Georgia;}
#m_setting img.sel{border:4px solid #8e8e8e}
#m_setting img.unsel{border:1px solid #8e8e8e}
#m_setting span.tit{font-size:12px;font-family:Georgia;}
#m_setting span.usr{color:#8e8e8e}
#m_setting div.sel{padding-top:6px;font-size:12px;font-weight:bold;font-family:Georgia; }
#m_setting div.line{margin-top:20px;line-height:16px;border-top:1px solid #8e8e8e}

/*系统公告*/
#m_sysinfo a{color:#8e8e8e;text-decoration:none}
#m_sysinfo a:visited{color:#8e8e8e;text-decoration:none}
#m_sysinfo a:hover{color:#8e8e8e;text-decoration:underline;}
#m_sysinfo{line-height:22px;color:#8e8e8e;font-size:12px;font-family:Georgia; }
#m_sysinfo span.new{color:#8e8e8e;font-size:10px;font-family:Georgia; }
#m_sysinfo span.date{color:#8e8e8e;font-size:12px;font-family:Georgia; }

/*基本选项*/
#m_setbase{color:#8e8e8e;font-size:12px;font-family:Georgia; }
#m_setbase td{color:#8e8e8e;font-size:12px;font-family:Georgia; }
#m_setbase div.line{margin-top:5px;line-height:8px;border-top:1px dotted #8e8e8e}

/*网友评论*/
#in_comment{width:700px;text-align:left}
#in_comment div.tit{margin-bottom:12px;color:#8e8e8e;text-decoration:none;font-size:12px;font-family:Georgia ; font-weight:bold}
#in_comment div.user{margin-bottom:6px;color:#8e8e8e;text-decoration:none;font-size:12px;font-family:Georgia}
#in_comment div.user a{color:#8e8e8e;font-size:12px;font-family:Georgia; text-decoration:none}
#in_comment div.user a:visited{color:#8e8e8e;text-decoration:none}
#in_comment div.user a:hover{color:#8e8e8e;text-decoration:underline}

#in_comment div.user span.date{color:#8e8e8e;font-size:12px;font-family:Georgia;}
#in_comment div.desc{color:#8e8e8e;font-size:12px;font-family:Georgia; }
#in_comment div.line{margin-top:17px;line-height:17px;border-top:1px dotted #8e8e8e}
#in_send div.tit{margin:10px 0 10px 0;color:#8e8e8e;font-size:12px;font-weight:bold;font-family:Georgia; }
#in_send input,#in_send textarea{border:1px #8e8e8e solid}

div#cals{background:none;border:2px solid #000;text-align:center;width:100%;padding:0px}/*日历主体背景,边框*/
div#cals .cal_body,#cals .cal_mth{border:0px #8e8e8e;font-family:Arial;font-size:12px;width:100%;}/*除年月控制器外的日期部分,包括周和一般日期*/
div#cals .cal_yr table{color:#8e8e8e;}/*年,月表格*/
div#cals .cal_yr td{font-size:12px;color:#8e8e8e;background:none;padding:2px;line-height:15px}/*年,月单元格*/
div#cals td{background:#;color:#8e8e8e;text-align:center;font-family:Arial;font-size:12px;padding:0px;line-height:14px;}/*日期*/
div#cals .today{font-family:Tahoma;padding:2px;border:0px solid #8e8e8e;background:none;color:#8e8e8e;}/*今日*/
div#cals .cal_week td{color:#8e8e8e;font-size:12px;font-family:Tahoma}/*周*/
div#cals .cal_date{color:#8e8e8e}/*普通日期*/
div#cals .cal_sa{font-family:Tahoma;color:#8e8e8e}/*周六标题样式*/
div#cals .cal_su{font-family:Tahoma;color:#8e8e8e}/*周日标题样式*/
div#cals .not_come{font-family:Tahoma;color:#8e8e8e}/*今日之后的日期*/
div#cals .cal_before,#cals .cal_after{color:#8e8e8e;}/*除当前月之外的日期*/
div#cals *.cal_active{color:#fff;border:1px solid #8e8e8e;text-decoration:none;font-family:Tahoma;font-size:12px;}/*有更新的日期效果*/
div#cals *.cal_select{padding:0px;border:1px solid #8e8e8e;font-family:Arial;background-color:none;color:#fff;text-decoration:underline}/*有更新的日期鼠标移上效果*/
div#cals .yr_normal{border:none;line-height:14px;}
div#cals .mth_normal{background:none;color:#8e8e8e;border:none;line-height:14px;}/*年,月选择器普通状态*/
div#cals .mth_sel{color:#8e8e8e;border:1px solid #000;background:none;padding:2;line-height:14px;cursor:pointer}/*年,月选择器鼠标移上状态*/
div#cals .yr_sel,#cals .mth_sel{color:#8e8e8e;border:1px solid #000;background:none;padding:0;line-height:14px;cursor:pointer}/*年,月选择器鼠标移上状态*/
div#cals .mth_sel{color:#8e8e8e;border:1px solid #000;background:none;padding:2;line-height:14px;cursor:pointer}/*年,月选择器鼠标移上状态*/
div#cals .cal_roll{color:#8e8e8e;border:0px solid #000;background:none;position:absolute;display:none;font-size:12px;font-family:Arial;line-height:18px}/*年月选择列表*/
div#cals .cal_roll .normal{color:#8e8e8e;background:none;}/*年月选择列表选择项目普通状态*/
div#cals .cal_roll .msover{background:none;cursor:pointer;}/*年月选择列表选择项目鼠标移上效果*/
div#cals .cal_pp_cnt{color:#000;padding:3px;margin-right:20px;font-size:12px;font-family:Arial;white-space:nowrap;border:1px solid #000;background:#fff;}/*有更新的日期的tip提示层*/

#in_msg{width:100%}
#in_msg div.tit{margin-bottom:12px;font-size:14px;font-weight:bold;color:#8e8e8e}
#in_msg .item td.index{width:40px;font-weight:bold;}
#in_msg .item div.user{color:#8e8e8e;font-family:Tahoma;}
#in_msg .item div.user a{font-size:12px;color:#8e8e8e;font-family:Tahoma;text-decoration:none}
#in_msg .item div.user a:visited{font-size:12px;color:#8e8e8e;font-family:Tahoma;text-decoration:none}
#in_msg .item div.user a:hover{text-decoration:underline}
#in_msg .item div.user img{filter:gray(enabled=100);} 
#in_msg .item div.user a:hover img{filter:gray(enabled=0);border:1px solid #8e8e8e} 
#in_msg .item td.cnt a{font-size:12px;color:#8e8e8e;font-family:Tahoma}
#in_msg span.date{font-size:12px;color:#8e8e8e;font-family:Tahoma}
#in_msg div.desc{margin-top:5px;font-size:12px;color:#8e8e8e;font-family:Tahoma}
#in_msg div.line{margin-top:1px;line-height:px;border-top:0px}
/*最近访客*/
#m_track a {color:#8e8e8e;font-size:12px;text-decoration:none} 
#m_track a{color:#8e8e8e;font-size:10px;line-height:25px;text-decoration:none;word-wrap:normal;}
#m_track a:hover img{border:1px solid #fff;filter:gray(enabled=0);} 
#m_track img{border:2px dashed #fff;filter:gray(enabled=100);} 
/*百度搜索*/
#mod_search div.modhead span{display:none;}/*去除百度搜搜字样*/
#mod_search div.modbox label{display:none;}/*去除radio选项,当然在这里也可以控制选项字体*/
#mod_search div.modbox div{display:block!important;text-align:center!important;}/*让搜索模块左对齐*/
#m_search input.text{color:#8e8e8e; font:arial; font-size:12px; border:1px solid #8e8e8e; height:22px;}
#mod_search div.modbox .submit{
color:#8e8e8e; font-size:12px; border: none;padding-top:3px;height:31px; width:48px; background:      no-repeat center center }
} 
/*留言框*/
#spBCmtText{border: 1px solid #fff; color:#000;background:url(http://hiphotos.baidu.com/wuzunhouyuanhui/pic/item/06ade17eaeee421b0dd7da34.jpeg) no-repeat right bottom}
#spBlogCmtText {color:#8e8e8e;font-size:12px;font-family:Tahoma,微软雅黑;border:1px solid #8e8e8e;background:url(http://hiphotos.baidu.com/wuzunhouyuanhui/pic/item/06ade17eaeee421b0dd7da34.jpeg) no-repeat right bottom}

/*播放器*/
#phx{FILTER: Alpha(FinishOpacity=0,Opacity=20, FinishOpacity=10, Style=2, StartX=20, StartY=40, FinishX=0, FinishY=0)gray(); WIDTH: 180px; HEIGHT: 30px}

#pvshow{color:#fff;font-family:"Georgia",;font-size:16pt;}
#mod_comment.mod{background:url(http://imgsrc.baidu.com/css/pic/item/c38d2f51257f520742a75b90.jpg) no-repeat center bottom;padding-bottom:270px;}

尊贵小公主制作
 